<div ng-show="!localLoading" style="display:block;width:100px;margin:50px auto">
    <img src="/images/squares.gif" style="width:100px">
</div>
<div class="row" ng-if="!stretchComps && localLoading">
    <div class="col-md-4 col-sm-5 col-lg-3 left-print">
        <div class="panel panel-info">
            <div class="panel-heading">{{property.name}}</div>
            <div class="panel-body">
                <hr>
                <property-profile property="property" show="showProfile"></property-profile>

            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">Map</div>
            <div class="panel-body">
                <hr>
                <google-map options="mapOptions"></google-map>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-7 col-lg-9 right-print">
        <div class="panel panel-info">
            <div class="panel-heading">Trends
                <i class="fa fa-chain-broken blue"
                   style="cursor:pointer;font-size:14px;padding-left:2px"
                   ng-if="points.excluded"
                   popover-trigger="'mouseenter'"
                   popover-placement="right"
                   uib-popover="This graph has some floor plans that have been manually excluded from reporting and dashboard calculations."
                        ></i>
            </div>
            <div class="panel-body">
                <hr>
                <div ng-show="!trendsLoading" style="display:block;width:100px;margin:50px auto">
                    <img src="/images/squares.gif" style="width:100px">
                </div>
                <div ng-show="trendsLoading">
                <time-series options="nerData"></time-series>
                    <time-series options="occData" ng-if="!me.settings.showLeases"></time-series>
                    <div class="row" style="margin-left:-25px" ng-if="me.settings.showLeases">
                        <div class="col-xs-6">
                            <time-series options="occData"></time-series>
                        </div>
                        <div class="col-xs-6">
                            <time-series options="leasedData"></time-series>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">Competitors</div>
            <div class="panel-body">
                <hr>
                <property-comps comps="comps" order-by="orderByComp" show="showComp"></property-comps>
            </div>
        </div>
    </div>

</div>
<div class="row" ng-if="stretchComps && localLoading">
    <div class="col-md-4 col-sm-5 col-lg-3 left-print">
        <div class="panel panel-info">
            <div class="panel-heading">{{property.name}}</div>
            <div class="panel-body">
                <hr>
                <property-profile property="property" show="showProfile"></property-profile>

            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">Map</div>
            <div class="panel-body">
                <hr>
                <google-map options="mapOptions"></google-map>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-7 col-lg-9 right-print">
        <div class="panel panel-info">
            <div class="panel-heading">Trends
                <i class="fa fa-chain-broken blue"
                   style="cursor:pointer;font-size:14px;padding-left:2px"
                   ng-if="points.excluded"
                   popover-trigger="'mouseenter'"
                   popover-placement="right"
                   uib-popover="This graph has some floor plans that have been manually excluded from reporting and dashboard calculations."
                ></i>
            </div>
            <div class="panel-body">
                <hr>
                <div ng-show="!trendsLoading" style="display:block;width:100px;margin:50px auto">
                    <img src="/images/squares.gif" style="width:100px">
                </div>
                <div ng-show="trendsLoading">
                    <time-series options="nerData"></time-series>
                    <time-series options="occData" ng-if="!me.settings.showLeases"></time-series>
                    <div class="row" style="margin-left:-25px" ng-if="me.settings.showLeases">
                        <div class="col-xs-6">
                            <time-series options="occData"></time-series>
                        </div>
                        <div class="col-xs-6">
                            <time-series options="leasedData"></time-series>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="row" ng-if="stretchComps && localLoading">
    <div class="col-xs-12">
        <div class="panel panel-info" style="margin-right:35px">
            <div class="panel-heading">Competitors</div>
            <div class="panel-body">
                <hr>
                <property-comps comps="comps" order-by="orderByComp" show="showComp"></property-comps>
            </div>
        </div>
    </div>
</div>
<Style>
    .col-md-4 .col-sm-5 .col-lg-3 {
        position: inherit;
    }
    .break
    {
        break-before: always;
        page-break-before: always;
        page-break-inside: avoid;
    }
</Style>

<div class="row break" ng-show="localLoading" ng-repeat="profile in profiles">
    <div class="col-md-4 col-sm-5 col-lg-3 left-print">
        <div class="panel panel-info">
            <div class="panel-heading">{{profile.property.name}}</div>
            <div class="panel-body">
                <hr>
                <property-profile property="profile.property" show="showProfile"></property-profile>
            </div>
        </div>
        <div class="panel panel-info" ng-show="profile.property.community_am.length > 0">
            <div class="panel-heading">Community Amenities</div>
            <div class="panel-body">
                <hr>
                <property-amenities amenities="profile.property.community_am"></property-amenities>
            </div>
        </div>
        <div class="panel panel-info" ng-show="profile.property.location_am.length > 0">
            <div class="panel-heading">Location Amenities</div>
            <div class="panel-body">
                <hr>
                <property-amenities amenities="profile.property.location_am"></property-amenities>
            </div>
        </div>
        <div class="panel panel-info" ng-show="profile.property.floorplan_am.length > 0">
            <div class="panel-heading">Unit Amenities</div>
            <div class="panel-body">
                <hr>
                <property-amenities amenities="profile.property.floorplan_am"></property-amenities>
            </div>
        </div>
        <div class="panel panel-info" ng-show="profile.property.hasFees" style="margin-bottom: 0px !important;">
            <div class="panel-heading">Fees, Deposits, Lease Terms</div>
            <div class="panel-body">
                <hr>
                <property-fees fees="profile.property.fees" lookups="profile.lookups.fees"></property-fees>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-7 col-lg-9 right-print">

        <div class="panel panel-info" ng-show="profile.property.hasContact || profile.property.hasNotes || profile.property.hasSurveyNotes">
            <div class="panel-heading">About Property</div>
            <div class="panel-body">
                <hr>
                <property-about property="profile.property"></property-about>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">Trends
                <i class="fa fa-chain-broken blue"
                   style="cursor:pointer;font-size:14px;padding-left:2px"
                   ng-if="points.excluded"
                   popover-trigger="'mouseenter'"
                   popover-placement="right"
                   uib-popover="This graph has some floor plans that have been manually excluded from reporting and dashboard calculations."
                        ></i>
            </div>
            <div class="panel-body">
                <hr>
                <div  ng-if="graphs">
                    <time-series options="profile.nerData"></time-series>
                </div>

                <div ng-if="!graphs">
                    <table-view data="profile.otherTable" columns="profile.nerKeys"></table-view>
                </div>

                <hr>
                <div class="row" style="margin-left:-15px" ng-if="graphs">
                    <div class="col-xs-6">
                        <time-series options="profile.occData"></time-series>
                    </div>
                    <div class="col-xs-6">
                        <time-series options="profile.otherData"></time-series>
                    </div>
                </div>
                <div ng-if="!graphs">
                    <table-view data="profile.otherTable" columns="columns"></table-view>
                </div>
            </div>
        </div>

        <div class="panel panel-info" style="margin-bottom: 0px !important;">
            <div class="panel-heading">Floor Plans</div>
            <div class="panel-body">
                <hr>
                <property-floorplans comp="profile.comp" order-by="orderByFp" show="show"></property-floorplans>
            </div>
        </div>

    </div>

</div>
