<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">Update Password</h2>
</div>
<div class="modal-body">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);"><div ng-bind-html="alert.msg | sanitize"></div></alert>
    <form role="form" name="myForm" id="myForm" autocomplete="on" ng-submit="submit(user)">
        <div class="form-group" ng-class="{'has-error': myForm.currentpassword.$dirty && myForm.currentpassword.$invalid, 'has-success': myForm.currentpassword.$dirty && myForm.currentpassword.$valid}">
            <label for="currentpassword">Current Password</label>
            <input autocomplete="off" type="password" name="currentpassword" class="form-control" id="currentpassword" placeholder="Current password" ng-model="user.currentpassword" required ng-minlength="8">
            <div class="text-danger" ng-show="myForm.currentpassword.$error.minlength"><small>8 characters minimum</small></div>
        </div>

        <div class="form-group" ng-class="{'has-error': myForm.newpassword.$dirty && myForm.newpassword.$invalid, 'has-success': myForm.newpassword.$dirty && myForm.newpassword.$valid}">
            <label for="newpassword">New Password</label>
            <input autocomplete="off" type="password" name="newpassword" class="form-control" id="newpassword" placeholder="New password" ng-model="user.newpassword" required ng-minlength="8">
            <div class="text-danger" ng-show="myForm.newpassword.$error.minlength"><small>8 characters minimum</small></div>
        </div>

        <div class="form-group" ng-class="{'has-error': myForm.confirmpassword.$dirty && myForm.confirmpassword.$invalid, 'has-success': myForm.confirmpassword.$dirty && myForm.confirmpassword.$valid}">
            <label for="confirmpassword">Confirm Password</label>
            <input autocomplete="off" type="password" name="confirmpassword" class="form-control" id="confirmpassword" placeholder="Confirm password" ng-model="user.confirmpassword" required ng-minlength="8">
            <div class="text-danger" ng-show="myForm.confirmpassword.$error.minlength"><small>8 characters minimum</small></div>
        </div>

        <div style="margin:0px auto;width:75px">
            <button class=" btn btn-primary btn-large btn-block contact-submit" type="submit">Update</button>
        </div>
    </form>
</div>