<div ng-include="'/components/filterlist/list.html'" ng-if="!options.dropdown"/>

<div class="btn-group stay_open_button filter-dropdown" ng-if="options.dropdown">
    <button type="button" class="btn btn-default dropdown-toggle btn-sm btn-block" data-toggle="dropdown" aria-expanded="false">
        <span>{{output()}}</span> <span class="caret pull-right"></span>
    </button>
    <div class="dropdown-menu dropdown-menu-{{options.dropdownDirection || 'left'}}" role="menu" style="padding:10px;" onclick="event.stopPropagation();">

        <div ng-include="'/components/filterlist/list.html'" ng-if="options.dropdown"/>
        </div>
</div>
