.filter-list .filter-panel {
    height:200px;
    width:250px;
    border: 1px solid #BDE3FD;
    overflow-x: auto;
    overflow-y: auto;
    border-radius: 3px 3px 3px 3px;
    margin-top:5px;
    font-size:13px;
    padding:1px

}

.filter-list .filter-li {
    cursor: pointer
}

.filter-list  .filter-li:hover {
    color:black !important;
    background-color: #ddd !important;
}

.filter-list .highlighted, .filter-list .highlighted:hover {
    color:white !important;
    background-color: #3362aa !important;
}


.hasGroup {
    padding-left:15px
}

.filter-list select {
    height:200px;
    width:250px;
    border: 1px solid #BDE3FD;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 3px 3px 3px 3px;
    margin-top:5px;
    font-size:13px

}

.filter-buttons button {

    border-radius: 1px !important;
    font-weight: bold !important;
    width: 30px !important;
    margin: 0px 10px 0px 10px !important;
}
.checkbox-row label {
    font-weight:normal
}

.checkbox-row  {
    padding-left:10px
}


.filter-dropdown > .btn-default {
    text-align:left
}

.filter-dropdown .caret {
    margin-top: 6px
}

.filter-dropdown {width:100%}

.filter-dropdown .btn-default.active,
.filter-dropdown .btn-default.focus,
.filter-dropdown .btn-default:active,
.filter-dropdown .btn-default:focus,
.filter-dropdown .btn-default:hover,
.filter-dropdown .btn-default.dropdown-toggle.active,
.filter-dropdown .btn-default.dropdown-toggle.focus,
.filter-dropdown .btn-default.dropdown-toggle:active,
.filter-dropdown .btn-default.dropdown-toggle:focus,
.filter-dropdown .btn-default.dropdown-toggle:hover,
.filter-dropdown .btn-default.dropdown-toggle

{
    background-color: #ffffff;

}
