<div class="filter-panel unselectable" ng-style="{width: options.panelWidth ? options.panelWidth + 'px' : 'default'}"
     ng-keydown="keydown($event)"
     ng-keyup="keyup($event)"
     tabindex="0">
    <div ng-repeat="(key, value) in groups">
        <b ng-if="key != 'undefined'" class="unselectable">{{key}}</b>
        <div ng-repeat="item in value"
             ng-class="{'triangle-parent':true,'filter-li':true,'highlighted':item.checked,'hasGroup':(key != 'undefined'), 'unselectable': true,'focused': item.focused, 'disabled' : item.disabled}"
             ng-click="clk($event,item)"
             popover-trigger="'outsideClick'"
             popover-placement="{{tooltipdir || 'auto'}}"
             ng-mouseenter="openPopup($event)"
             popover-append-to-body="true"
             uib-popover-html="tooltipfn ? tooltipfn(item) : item.tooltip"
             popover-enable="item.tooltip || tooltipfn"
             popover-class="filter-list-tooltip"
        >
            <div ng-if="item.isCustom" class="triangle"
                 popover-trigger="'outsideClick'" 
                 popover-placement="auto"
                 popover-append-to-body="true"
                 ng-mouseenter="openPopup($event)"
                 uib-popover="This is a custom property - these properties are personal properties created by and only visible to you"
            ></div>
            <input type="text" style="width:0px;height:18px;border:0;padding:0" value="{{::item.name}}">
            <span>{{::item.name}}</span>
        </div>
    </div>
</div>