<div ng-include="'/components/filterlist/list.html?bust=' + version" ng-if="!options.dropdown"/>

<div class="btn-group stay_open_button filter-dropdown" ng-if="options.dropdown">
    <button type="button" class="btn btn-default dropdown-toggle btn-sm btn-block" data-toggle="dropdown" aria-expanded="false" style="width:{{options.minwidth ? (options.minwidth + 35) + 'px' : 'default' }}">
        <div style="width:{{options.minwidth + 'px' || 'default'}};overflow-x:hidden" class="pull-left">{{output()}}</div> <span class="fa fa-caret-down pull-right" style="margin:2px -5px"></span>
    </button>
    <div class="dropdown-menu dropdown-menu-{{options.dropdownDirection || 'left'}}" role="menu" style="padding:10px;" onclick="event.stopPropagation();">

        <div ng-include="'/components/filterlist/list.html?bust=' + version" ng-if="options.dropdown"/>
        </div>
</div>
