.filter-list select {
    height:200px;
    width:205px;
    border: 1px solid #BDE3FD;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 3px 3px 3px 3px;
    margin-top:5px;
    font-size:13px

}

.filter-buttons button {
    border-radius:1px !important;font-weight:bold !important;
    width:36px !important;
    margin:0px 5px 0px 5px !important;
}
.checkbox-row label {
    font-weight:normal
}

.checkbox-row  {
    padding-left:10px
}