<div class="filter-list">
    <div ng-if="small">
        <div class="form-group has-feedback" ng-if="!options.hideSearch">
            <input type="text" class="form-control input-sm"
                   placeholder="Search"
                   ng-model="filters.lstfilter"
                   style="border-color:#BDE3FD"
                   >
            <i class="fa fa-search form-control-feedback" style="color:#BDE3FD"></i>
        </div>
        <div style="max-height:200px;overflow-y:auto">
            <div class="checkbox-row">
                <label><input type="checkbox" ng-model="filters.checkAll" ng-change="all(filters.checkAll)"> <b style="cursor: pointer"><span ng-if="filters.checkAll">Uncheck</span><span ng-if="!filters.checkAll">Check</span> All</b></label>
            </div>
            <div ng-repeat="(key, value) in groups">
                <b ng-if="key != 'undefined'">{{key}}</b>
                <div ng-repeat="item in value" class="checkbox-row">
                    <label><input type="checkbox" ng-model="item.selected"> {{item.name}}</label>
                </div>
            </div>
        </div>
    </div>
    <table cellpadding="0" cellspacing="0" style="margin-top:5px;width:460px;margin:0px auto" ng-if="!small">
        <tr>
            <td valign="top">
                <div style="float:left;padding-top:5px;height:30px;">
                    {{options.availableLabel || 'Available'}}<br />
                </div>
                <div class="form-group has-feedback pull-right" ng-if="!options.hideSearch" style="margin-bottom: 0 !important;">
                    <input type="text" class="form-control input-sm search"
                           placeholder="Search"
                           ng-model="filters.lstfilter"
                           style="border-color:#BDE3FD;width:130px"
                    >
                    <i class="fa fa-search form-control-feedback" style="color:#BDE3FD"></i>
                </div>
                <br clear="all">

                <filter-panel options="options" groups="groupsAvailable" move-checked="moveChecked(false)" reset-checked="resetChecked()"></filter-panel>
            </td>
            <td class="filter-buttons">
                <br />
                <div class="btn-group">
                    <button uib-tooltip="Add Selected" tooltip-placement="left" type="button" ng-click="moveChecked(false)" class="btn btn-default btn-sm"><i class="fa fa-angle-right" style="font-size:13px;font-weight:bold"></i></button>
                </div>
                <br />
                <div class="btn-group action_dropdown" style="margin-top:10px">
                    <button uib-tooltip="Remove Selected" tooltip-placement="left"  type="button" ng-click="moveChecked(true)" class="btn btn-default btn-sm"><i class="fa fa-angle-left" style="font-size:13px;font-weight:bold"></i></button>
                </div>
                <br />
                <div class="btn-group action_dropdown" style="margin-top:10px">
                    <button uib-tooltip="Add All" tooltip-placement="left" type="button" ng-click="all(true)" class="btn btn-default btn-sm"><i class="fa fa-angle-double-right" style="font-size:13px;font-weight:bold"></i></button>
                </div>
                <br />
                <div class="btn-group action_dropdown" style="margin-top:10px">
                    <button uib-tooltip="Remove All" tooltip-placement="left" type="button" ng-click="all(false)" class="btn btn-default btn-sm"><i class="fa fa-angle-double-left" style="font-size:13px;font-weight:bold"></i></button>
                </div>

            </td>
            <td valign="top">
                <div style="height:30px;padding-top:5px">{{options.selectedLabel || 'Selected'}}</div>
                <filter-panel options="options" groups="groupsSelected" move-checked="moveChecked(true)" reset-checked="resetChecked()"></filter-panel>
            </td>
        </tr>
    </table>
</div>
