.pespectives .page-container .alert {
    margin-bottom: 0;
}
.pespectives .grey-color {
	color:#888888;
	font-size: 13px;
}
.pespectives .brand-purple {
	color: #4460a9;
}
.pespectives .min-w-50 {
	min-width: 50%;
}