<div class="pespectives">
    <h2 class="mainheader">Perspectives
        <hr>
    </h2>
    <div class="flex-container">
        <div><span class="fa fa-eye-slash fa-2x"></span></div>
        <div class="pl-10">Use perspectives to customize views of your data. Select floor plans to consider within your views. Deselect floor plans you do not want factored in for any given perspective.</div>
    </div>

    <div ng-if="loading" style="display:block;width:100px;margin:50px auto">
        <img src="/images/squares.gif" style="width:100px">
    </div>

    <div ng-if="!loading">
        <div class="row mt-20">
            <div class="col-md-3">
                <B>Property</B><Br>
                <div
                     custom-select="f.name for f in searchAsync($searchTerm)"
                     custom-select-options="{ 'async': true }"
                     ng-model="model.selectedProperty" autofocus
                ></div>
            </div>
            <div class="col-md-3">
                <B>Perspective</B><Br>
                <div
                        custom-select="f.name for f in model.selectedProperty.perspectives"
                        ng-model="model.selectedPerspective" autofocus
                ></div>
            </div>
            <div class="col-md-1 text-center mt-20" ng-if="model.selectedProperty">
                OR
            </div>
            <div class="col-md-3 mt-20" ng-if="model.selectedProperty">
                <button type="button" class="btn btn-default dropdown-toggle btn-sm" uib-tooltip="Add Perspective" ng-click="add()">
                    <span class="fa fa-plus"></span> Add Perspective
                </button>
            </div>
        </div>

        <div class="page-container">
            <div class="alert alert-warning" role="alert" ng-if="model.mode === MODE.NONE"><b>Please select a property and associated perspective to edit or click 'Add Perspective'</b></div>
            <div ng-if="model.mode !== MODE.NONE">
                <div class="pull-left mt-5 brand-blue" ng-if="model.mode === MODE.VIEW" >
                    <h4 class="mainheader">{{model.name}}</h4>
                </div>
                <div class="pull-left mt-5"ng-if="model.mode === MODE.EDIT || model.mode === MODE.ADD" >
                    Name:
                </div>
                <div class="pull-left ml-10"ng-if="model.mode === MODE.EDIT || model.mode === MODE.ADD"  >
                    <input class="form-control input-sm" ng-model="model.name">
                </div>
                <div class="pull-right">
                    <button ng-if="model.mode === MODE.VIEW" type="button" class="btn btn-warning dropdown-toggle btn-sm" uib-tooltip="Edit" ng-click="model.mode = MODE.EDIT" ng-disabled="processing">
                        Edit
                    </button>
                    <button ng-if="model.mode === MODE.ADD" type="button" class="btn btn-success dropdown-toggle btn-sm" uib-tooltip="Create" ng-click="create()" ng-disabled="processing">
                        Create
                    </button>
                    <button ng-if="model.mode === MODE.EDIT" type="button" class="btn btn-success dropdown-toggle btn-sm" uib-tooltip="Save" ng-click="save()" ng-disabled="processing">
                        Save
                    </button>
                    <button ng-if="model.mode === MODE.EDIT" class=" btn btn-danger btn-sm" type="button" ng-click="delete()" uib-tooltip="Delete" ng-disabled="processing">
                        <i class="fa fa-trash" style="color:white"></i>
                    </button>
                </div>
                <div class="clearfix"></div>
                <div ng-repeat="comp in model.comps">
                    <hr>
                    <i ng-class="{'fa' : true,  'fa-plus-square-o': !comp.open, 'fa-minus-square-o' : comp.open}" style="cursor:pointer;font-size:14px;padding-top:2px" ng-click="comp.open = !comp.open"></i>
                    <input ng-disabled="model.mode === MODE.VIEW" type="checkbox" ng-model="comp.checked" id="checkbox_property_{{comp._id}}" ng-change="propertyChecked(comp)" ui-indeterminate="comp.indeterminate">
                    <label for="checkbox_property_{{comp._id}}"><img ng-src="/components/googleMap/markers/{{$index == 0 ? '0' : '' + $index}}.png" style="cursor:pointer;width:15px;text-align: center">
                    <B>{{comp.name}}</B></label>
                    <div class="pull-right brand-blue">{{comp.selectedFloorplans}}/{{comp.floorplans.length}} included</div>
                    <div ng-if="comp.open" class="ml-15">
                        <div ng-repeat-start="bedroom in comp.bedrooms" class="mt-10">
                            <i ng-class="{'fa' : true,  'fa-plus-square-o': !bedroom.open, 'fa-minus-square-o' : bedroom.open}" style="cursor:pointer;font-size:14px;padding-top:2px" ng-click="bedroom.open = !bedroom.open"></i>
                            <input ng-disabled="model.mode === MODE.VIEW" type="checkbox" ng-model="bedroom.checked" id="checkbox_property_{{comp._id}}_{{bedroom.number}}" ng-change="bedroomChecked(bedroom, true)" ui-indeterminate="bedroom.indeterminate">
                            <label for="checkbox_property_{{comp._id}}_{{bedroom.number}}"><b>{{bedroom.number}} Bedrooms</b></label>
                            <div ng-if="bedroom.open" class="ml-15">
                                <div ng-repeat-start="floorplan in bedroom.floorplans">
                                    <input ng-disabled="model.mode === MODE.VIEW" type="checkbox" ng-model="floorplan.checked" id="checkbox_property_{{comp._id}}_{{floorplan.id}}" ng-change="checkIndeterminate()">
                                    <label class="normal" for="checkbox_property_{{comp._id}}_{{floorplan.id}}">{{floorplan.bedrooms}}x{{floorplan.bathrooms}} {{floorplan.description || "-"}} {{floorplan.sqft}} sqft, {{floorplan.units}} units</label>
                                </div>
                                <div ng-repeat-end ng-if="false"></div>
                            </div>
                        </div>
                        <div ng-repeat-end ng-if="false"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
