<div class="row">
    <filter-list options="communityAmenityOptions" items="communityItems"></filter-list>
</div>

<div class="row" style="padding-top:15px">
    <div class="col-xs-10"><input type="text" class="form-control input-sm" placeholder="Enter new Community Amenity" ng-model="values.newCommunityAmenity"></div>
    <div class="col-xs-2"><button class="btn btn-sm btn-success" ng-click="addAmenity('Community',communityItems)" id="addCommunityAmenity">Add</button></div>
</div>
<hr>
<div class="row">
    <filter-list options="locationAmenityOptions" items="locationItems"></filter-list>
</div>
<div class="row" style="padding-top:15px">
    <div class="col-xs-10"><input type="text" class="form-control input-sm" placeholder="Enter new Location Amenity" ng-model="values.newLocationAmenity"></div>
    <div class="col-xs-2"><button class="btn btn-sm btn-success" ng-click="addAmenity('Location',locationItems)" id="addLocationAmenity">Add</button></div>
</div>