<p><b>Tip:</b> Review and update Fees and Deposits frequently...<i class="fa fa-question-circle" style="margin-left: 4px;" popover-trigger="'mouseenter'" popover-placement="bottom" popover-append-to-body="true" uib-popover-html="'Competitors often lower or waive Fees and Deposits as a tool to entice prospective residents to sign a lease. This might play a role in decision making of a prospect, especially if lower move-in costs are important to them.'"></i></p>
<div class="property-info">
    <hr style="margin:10px 0;">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10">
            <table class="table noBorderTable">
                <tr ng-repeat="(key,value) in lookups.fees">
                    <td>{{value}}:</td>
                    <td><input type="text" class="form-control input-sm" ng-model="property.fees[key]"></td>
                    <td></td>
                </tr>
                <tr ng-repeat="fee in property.custom_fees">
                    <td>
                        <input type="text" class="form-control input-sm" ng-model="fee.name"  uib-typeahead="item.value for item in autocompleteApprovedList($viewValue, 'FEES')" typeahead-focus-first="false" typeahead-should-select="shouldSelect($event)" placeholder="Add Custom Fee & Deposits">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" ng-model="fee.value" placeholder="Description or Amount">
                    </td>
                    <td style="min-width: 40px; text-align: center;">
                        <i ng-if="!$last" class="fa fa-trash delete" ng-click="property.custom_fees.splice($index, 1)" style="color:red; cursor: pointer;margin-top: 7px;"></i>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
