<div class="alert alert-info" role="alert">
    <i class="fa fa-lightbulb-o fa-2x" style="color:orange"></i> <b>Tip: Review and update Fees and Deposits frequently...</b>
    <a href
       popover-trigger="mouseenter"
       popover-placement="bottom"
       popover-title="Tip: Review and update Fees and Deposits frequently."
       popover="Competitors often lower or waive Fees and Deposits as a tool to entice prospective residents to sign a lease. This might play a role in decision making of a prospect, especially if lower move-in costs are important to them.">read more</a>
</div>
<div class="property-info">
    <div class="row" ng-repeat="(key,value) in lookups.fees">
        <div class="col-sm-1 col-md-2">

        </div>
        <div class="col-sm-5 col-md-4">
            {{value}}:
        </div>
        <div class="col-sm-5 col-md-4">
            <input type="text" class="form-control input-sm" ng-model="property.fees[key]">
        </div>
        <div class="col-sm-1 col-md-2">

        </div>
    </div>
</div>
