<div class="alert alert-info" role="alert">
    <i class="fa fa-lightbulb-o fa-2x" style="color:orange"></i> <b>Tip: Provide all the different floor-plans at the property, including any floor-plan descriptions...</b>
    <a href
       popover-trigger="'mouseenter'"
       popover-placement="bottom"
       popover-title="Tip: Provide all the different floor-plans at the property, including any floor-plan descriptions."
       uib-popover="This will help you understand and enable you to analyze each floor-plan when necessary. Ex: if Property A has an exact floor-plan, but portion of which is renovated and another portion that is not, then list as two separate floor-plans. This allows tracking and comparing more easily.">read more</a>
</div>

<div class="alert alert-warning" role="alert" ng-show="property.floorplans.length == 0">
There are currently no floor plans set up for this property.
</div>

<button type="button" class="btn btn-default dropdown-toggle btn-sm"  ng-click="addFloorplan(null)">
    <span class="fa fa-plus"></span> Add Floor Plan
</button>
<br><Br>
<table class="table table-condensed table-striped table-hover" style="margin-bottom:10px" ng-show="property.floorplans.length > 0">
    <tbody>
    <tr class="thead">
        <th>Type</th>
        <th>Desc.</th>
        <th style="text-align: center">Units</th>
        <th style="text-align: center">Unit %</th>
        <th style="text-align: center">Sqft</th>
        <th></th>
    </tr>

    <tr ng-repeat="row in property.floorplans | orderBy: ['bedrooms','bathrooms','sqft','units','description']">
        <td>
            {{row.bedrooms}}x{{row.bathrooms}}
        </td>
        <td>
            {{row.description}}
        </td>
        <td style="text-align: center">
            {{row.units}}
        </td>
        <td style="text-align: center">
            {{row.units / property.totalUnits * 100 | number : 1}}%
        </td>
        <td style="text-align: center">
            {{row.sqft}}
        </td>
        <td class="center">
            <div class="form-group has-feedback pull-right" style="margin-bottom:0px; margin-right:5px">
                <div class="btn-group action_dropdown">
                    <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false" style="padding:2px 5px 0px 5px">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right skinny" role="menu">
                        <li><a href ng-click="addFloorplan(row)"><span class="fa fa-edit fa-fw"></span> Edit Floor Plan</a></li>
                        <li><a href ng-click="copyAmenities(row)"><span class="fa fa-copy fa-fw"></span> Copy Amenities</a></li>
                        <li><a href ng-click="removeFloorplan(row)"><span class="fa fa-times  fa-fw"></span> Remove Floor Plan</a></li>

                    </ul>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr class="info" style="font-weight:bold">
        <td colspan="2">Totals/Averages</td>
        <td style="text-align: center">{{property.totalUnits}}</td>
        <td style="text-align: center">100%</td>
        <td style="text-align: center">{{property.averageSqft | number: 0}}</td>
        <td></td>
    </tr>
    </tfoot>
</table>