<b class="panel-heading">Property Contact Information</b><Br>
<div class="row">
    <div class="col-md-6 col-sm-6">
        Name<br>
        <input type="text" class="form-control input-sm" ng-model="property.contactName">
    </div>
    <div class="col-md-6 col-sm-6">
        Email<br>
        <input type="text" class="form-control input-sm" ng-model="property.contactEmail">
    </div>
    <div class="col-md-6 col-sm-6">
        Phone<br>
        <input type="text" class="form-control input-sm" ng-model="property.phone" input-mask="(999) 999-9999">
    </div>
    <div class="col-md-6 col-sm-6">
        Website Address<br>
        <input type="text" class="form-control input-sm" ng-model="property.website" placeholder="www.propertywebsite.com">
    </div>
</div>
<Br>
<b class="panel-heading">Property Notes</b><Br>
<div class="row">
    <div class="col-sm-12">
        <textarea class="form-control  input-sm" ng-model="property.notes" style="height:150px"></textarea>
    </div>
</div>
<Br>
<b class="panel-heading">Property Pictures</b><Br>
<div class="row">
    <div class="col-sm-12" style="text-align: center">
        <img ng-src="{{property.media[0].url}}" style="max-height:300px;max-width:100%;border:1px solid #aaa" ng-if="property.media && property.media.length > 0"><Br>
        <Br>
        <a href ng-click="upload()">Click here to upload<span ng-if="property.media.length > 0"> additional</span> pictures</a><Br>
    </div>
</div>
