<b class="panel-heading">Property Contact Information</b><Br>
<div class="row">
    <div class="col-md-6 col-sm-6">
        Name<br>
        <input type="text" class="form-control input-sm" ng-model="property.contactName">
    </div>
    <div class="col-md-6 col-sm-6">
        Email<br>
        <input type="text" class="form-control input-sm" ng-model="property.contactEmail">
    </div>
    <div class="col-md-6 col-sm-6">
        Phone<br>
        <input type="text" class="form-control input-sm" ng-model="property.phone" input-mask="(999) 999-9999">
    </div>
    <div class="col-md-6 col-sm-6">
        Website Address<br>
        <input type="text" class="form-control input-sm" ng-model="property.website" placeholder="www.propertywebsite.com">
    </div>
</div>
<Br>
<b class="panel-heading">Property Notes</b><Br>
<div class="row">
    <div class="col-sm-12">
        <textarea class="form-control  input-sm" ng-model="property.notes" style="height:150px"></textarea>
    </div>
</div>
<br>
<b class="panel-heading">Property Integrations (Advanced)</b> <i ng-class="{'toggle-icon': true, 'fa' : true,  'fa-plus-square-o': !integationsOpen, 'fa-minus-square-o' : integationsOpen}" ng-click="integationsOpen = !integationsOpen"></i><Br>
<div class="row" ng-if="integationsOpen">
    <div class="col-xs-12">
        <table class="table table-condensed table-striped table-hover">
            <tbody>
            <tr class="thead">
                <td>
                    Provider
                </td>
                <td>
                    Link
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    <img src="/images/logos/yelp.png" style="height:30px;">
                </td>
                <td>
                    <a target="_blank" href="{{property.reputation.yelp.url}}" ng-if="property.reputation.yelp.id"><i class="fa fa-external-link"></i></a>
                    <span ng-if="!property.reputation.yelp.id">-</span>
                </td>
                <td style="vertical-align: middle !important;"  nowrap>
                    <i class="fa fa-search fa-fw" style="cursor: pointer" uib-tooltip="Search" ng-click="yelpSearch()"></i>
                    <i class="fa fa-minus fa-fw" style="cursor: pointer" uib-tooltip="Remove" ng-if="property.reputation.yelp.id" ng-click="property.reputation.yelp = undefined"></i>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="/images/logos/google.png" style="height:20px;">
                </td>
                <td>
                    <a target="_blank" href="{{property.reputation.google.url}}" ng-if="property.reputation.google.id"><i class="fa fa-external-link"></i></a>
                    <span ng-if="!property.reputation.google.id">-</span>
                </td>
                <td style="vertical-align: middle !important;"  nowrap>
                    <i class="fa fa-search fa-fw" style="cursor: pointer" uib-tooltip="Search" ng-click="googleSearch()"></i>
                    <i class="fa fa-minus fa-fw" style="cursor: pointer" uib-tooltip="Remove" ng-if="property.reputation.google.id" ng-click="property.reputation.google = undefined"></i>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="/images/logos/facebook.png" style="height:20px;">
                </td>
                <td>
                    -
                </td>
                <td style="vertical-align: middle !important;"  nowrap>
                    <i class="fa fa-search fa-fw" style="cursor: pointer" uib-tooltip="Search"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>