<style>
    .pac-container { z-index: 10051 !important;width:360px !important; }

    .pac-icon {
        display:none !important;
    }

    .auto-complete UL {
        min-width:90%
    }


</style>

<div class="property-info" ng-init="initAutocomplete()">
    <div class="row">
        <div class="col-sm-6">
            Property Name <span class="required">*</span><br>
            <input type="text" class="form-control input-sm" ng-model="property.name" id="autocomplete" placeholder="Enter property name">
        </div>
        <div class="col-sm-6">
            Address <span class="required">*</span><br>
            <input ng-show="!disableAddress" type="text" class="form-control input-sm" ng-model="property.address" id="autocomplete2" placeholder="Enter address" ng-blur="checkDupe()">
            <input ng-show="disableAddress" type="text" class="form-control input-sm" ng-model="property.address" ng-disabled="true"
                   style="opacity: 0.5; cursor: not-allowed;margin-right:10px"
                   popover-trigger="'mouseenter'"
                   popover-placement="bottom"
                   uib-popover="This property address is locked because it has historical data associated with it. Please reach out to support@biradix.com if you believe the address is incorrect."
            >
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            City <span class="required">*</span><br>
            <input ng-show="!disableAddress" type="text" class="form-control input-sm" ng-model="property.city">
            <input ng-show="disableAddress" type="text" class="form-control input-sm" ng-model="property.city"
                   ng-disabled="true"
                   style="opacity: 0.5; cursor: not-allowed;margin-right:10px"
                   popover-trigger="'mouseenter'"
                   popover-placement="bottom"
                   uib-popover="This property address is locked because it has historical data associated with it. Please reach out to support@biradix.com if you believe the address is incorrect."
            >
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-6">
                    State <span class="required">*</span><br>
                    <select ng-show="!disableAddress" class="form-control input-sm" ng-options="state.abbreviation for state in states" ng-model="property.state">

                    </select>

                    <input ng-show="disableAddress" type="text" class="form-control input-sm" ng-model="property.state.abbreviation"
                           style="opacity: 0.5; cursor: not-allowed;margin-right:10px"
                           ng-disabled="true"
                           popover-trigger="'mouseenter'"
                           popover-placement="bottom"
                           uib-popover="This property address is locked because it has historical data associated with it. Please reach out to support@biradix.com if you believe the address is incorrect."
                    >
                </div>
                <div class="col-xs-6">
                    Zip <span class="required">*</span><br>
                    <input ng-show="!disableAddress" type="text" class="form-control input-sm" ng-model="property.zip" input-mask="99999" ng-blur="checkDupe()">
                    <input ng-show="disableAddress" type="text" class="form-control input-sm" ng-model="property.zip"
                           ng-disabled="true"
                           style="opacity: 0.5; cursor: not-allowed;margin-right:10px"
                           popover-trigger="'mouseenter'"
                           popover-placement="bottom"
                           uib-popover="This property address is locked because it has historical data associated with it. Please reach out to support@biradix.com if you believe the address is incorrect."
                    >
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            Construction Type <span class="required">*</span><br>
            <select class="form-control input-sm"  ng-options="type for type in constructionTypes" ng-model="property.constructionType">
            </select>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-6">
                    Yr. Built <span class="required">*</span><br>
                    <input type="text" class="form-control input-sm" ng-model="property.yearBuilt" input-mask="9999">
                </div>
                <div class="col-xs-6">
                    Renovated<br>
                    <input type="text" class="form-control input-sm" ng-model="property.yearRenovated" input-mask="9999">

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 auto-complete">
            Owner <span class="required">*</span><br>
            <input type="text" class="form-control input-sm" ng-model="property.owner" uib-typeahead="item.value for item in autocompleteApprovedList($viewValue, 'OWNER')" typeahead-focus-first="false" typeahead-should-select="shouldSelect($event)">
        </div>
        <div class="col-sm-6 auto-complete">
            Management <span class="required">*</span><br>
            <input type="text" class="form-control input-sm" ng-model="property.management" uib-typeahead="item.value for item in autocompleteApprovedList($viewValue, 'MANAGER')" typeahead-focus-first="false" typeahead-should-select="shouldSelect($event)">
        </div>
    </div>

    <div class="row" style="
    font-size: 14px;
    font-style: italic;
    color: #777;
    background-color: #d9edf7;
    margin: 10px 0px 10px 0px;
    padding: 5px 0px 5px 5px;
"
         ng-if="!isCustom && $root.me.permissions.indexOf('Org/Assign') > -1"
    >
    <span style="
    ">BI:Radix Admin</span>
    </div>

    <div class="row" ng-if="!isCustom && $root.me.permissions.indexOf('Org/Assign') > -1">
        <div class="col-sm-6">
            Owner Organization<br>
            <select class="form-control input-sm"  ng-options="company.name for company in lookups.orgs" ng-model="property.orgid_owner">
            </select>
        </div>
        <div class="col-sm-6">
            Management Organization<br>
            <select class="form-control input-sm"  ng-options="company.name for company in lookups.orgs" ng-model="property.orgid">
            </select>
        </div>
    </div>
</div>
