<style>
    .pac-container { z-index: 10051 !important;width:360px !important; }

    .pac-icon {
        display:none !important;
    }


</style>


<div class="property-info" ng-init="initAutocomplete()">
    <div class="row">
        <div class="col-sm-6">
            Property Name <span class="required">*</span><br>
            <input type="text" class="form-control input-sm" ng-model="property.name" id="autocomplete" placeholder="Enter property name">
        </div>
        <div class="col-sm-6">
            Address <span class="required">*</span><br>
            <input type="text" class="form-control input-sm" ng-model="property.address" id="autocomplete2" placeholder="Enter address">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            City <span class="required">*</span><br>
            <input type="text" class="form-control input-sm" ng-model="property.city">
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-6">
                    State <span class="required">*</span><br>
                    <select class="form-control input-sm" ng-options="state.abbreviation for state in states" ng-model="property.state">

                    </select>
                </div>
                <div class="col-xs-6">
                    Zip <span class="required">*</span><br>
                    <input type="text" class="form-control input-sm" ng-model="property.zip" input-mask="99999">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            Construction Type <span class="required">*</span><br>
            <select class="form-control input-sm"  ng-options="type for type in constructionTypes" ng-model="property.constructionType">
            </select>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-6">
                    Yr. Built <span class="required">*</span><br>
                    <input type="text" class="form-control input-sm" ng-model="property.yearBuilt" input-mask="9999">
                </div>
                <div class="col-xs-6">
                    Renovated<br>
                    <input type="text" class="form-control input-sm" ng-model="property.yearRenovated" input-mask="9999">

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            Owner <span class="required">*</span><br>
            <input type="text" class="form-control input-sm" ng-model="property.owner">
        </div>
        <div class="col-sm-6">
            Management <span class="required">*</span><br>
            <input type="text" class="form-control input-sm" ng-model="property.management">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6" ng-show="$root.me.permissions.indexOf('Org/Assign') > -1">
            Company<br>
            <select class="form-control input-sm"  ng-options="company.name for company in lookups.orgs" ng-model="property.orgid">
            </select>
        </div>
    </div>
</div>
