<div class="file-input-wrapper">
    <button class="btn btn-primary">Add image file(s) to upload</button>
    <input type='file' id="fileUpload" multiple accept=".jpg, .jpeg, .png, .gif"
           onchange="angular.element(this).scope().readImage(this)"/>
</div>

<div class="gallery">

    <div ng-show="loading" style="margin:0px auto;width:120px;">
        <img src="/images/squares.gif" style="width:120px;height:120px">
    </div>

    <div ng-show="!loading">
        <div ng-repeat="upload in uploads" class="preview">
        <img ng-show="upload.loaded" ng-src="{{upload.thumb}}" ng-click="view($index)">

        <div ng-show="upload.loaded" class="delete" ng-click="remove($index)"><i class="fa fa-trash"></i></div>

        <div ng-show="!upload.loaded">
            <img src="/images/squares.gif" style="width:120px">
        </div>
    </div>
    </div>
</div>

<div style="text-align: center">
    <button class="btn btn-success" ng-disabled="!canUpload">Upload</button>
</div>
