<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">Reserve Training Spot</h2>
    <hr>
</div>
<div class="modal-body" style="padding: 10px;">
    <div ng-show="done">
        <div class="alert alert-success" role="alert"><b>Thank you for your submission. Someone will contact you shortly.</b></div>
    </div>
    <div ng-show="!done">
        <form class="row" role="form" name="myForm" id="myForm" autocomplete="on" ng-submit="submitBooking(msg)">
            <div class="form-group col-xs-12 col-sm-6" ng-class="{'has-success': myForm.firstName.$dirty && myForm.firstName.$valid}">
                <input type="text" name="firstName" class="form-control" id="firstName" placeholder="First name" required ng-model="msg.firstName">
            </div>
            <div class="form-group col-xs-12 col-sm-6" ng-class="{'has-success': myForm.lastName.$dirty && myForm.lastName.$valid}">
                <input type="text" name="lastName" class="form-control" id="lastName" placeholder="Last name" required ng-model="msg.lastName">
            </div>
            <div class="form-group col-xs-12 col-sm-6" ng-class="{'has-success': myForm.requesterEmail.$dirty && myForm.requesterEmail.$valid}">
                <input type="email" name="requesterEmail" class="form-control" id="requesterEmail" placeholder="E-mail" required ng-model="msg.requesterEmail">
            </div>
            <div class="form-group col-xs-6 col-sm-4" ng-class="{'has-success': myForm.date.$dirty && myForm.date.$valid}">
                <daterange-calendar settings="calendarSettings" days-disabled="[0,1,3,5,6]"></daterange-calendar>
            </div>
            <div class="form-group col-xs-6 col-sm-2" style="font-size: 12px;padding-left: 0;margin-top: 5px;">
                <p ng-if="calendarSettings.selectedWeekDate != 2 && calendarSettings.selectedWeekDate != 4">Training time</p>
                <p ng-if="calendarSettings.selectedWeekDate === 2">11:00 AM MST</p>
                <p ng-if="calendarSettings.selectedWeekDate === 4">10:00 AM MST</p>
            </div>
            <div class="form-group col-xs-12" ng-class="{'has-success': myForm.message.$dirty && myForm.message.$valid}">
                <textarea name="message" class="form-control" id="message" placeholder="Note" ng-model="msg.message"></textarea>
            </div>
            <div class="form-group col-xs-9">
                <input type="checkbox" id="someoneElse" name="someoneElse" ng-model="msg.someoneElse" />
                <label for="someoneElse">An account needs to be created for this person in BI:Radix</label>
            </div>
            <div class="form-group col-xs-3">
                <button class="btn btn-primary btn-large btn-block contact-submit" type="submit">Book Training</button>
            </div>
        </form>
    </div>
</div>