.support-page .col-xs-12 {
	padding-left: 10px;
	padding-right: 10px;
}

.support-page textarea {
	resize: none;height: 90px;
}

.support-page h4 {
	color:#337ab7;
	margin: 0;
}

.help-link {
	width:160px;
}

@media (max-width: 767px) {

	.help-link {
		margin:0 auto;
	}

}