.support-page .col-xs-12 {
	padding-left: 10px;
	padding-right: 10px;
}

.support-page .half-height-panel-info {
	height:150px;
}

.support-page textarea {
	resize: none;height: 70px;
}

.support-page h4 {
	color:#337ab7;
}

@media screen and (min-width: 1200px) and (max-width: 1430px) {

  	.support-page .half-height-panel-info {
		height:180px;
	}

}