<div ng-show="!localLoading" style="display:block;width:100px;margin:50px auto">
    <img src="/images/squares.gif" style="width:100px">
</div>
<div ng-show="localLoading">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Comped Floor Plans: {{subject.name}}</h2>
        <hr>
    </div>
    <div class="modal-body">
        <div ng-if="subject._id == comp._id">
            Please select individual floor plans for <b>{{subject.name}}</b> to use when comparing this property.<br />
        </div>
        <div ng-if="subject._id != comp._id">
            Please select individual floor plans from <b>{{comp.name}}</b> to use as comps for <b>{{subject.name}}</b>.<br />
        </div>
        <Br>
        <filter-list options="options" items="items"></filter-list>
    </div>
    <div class="modal-footer" style="text-align: center">
        <button class="btn btn-success contact-submit" ng-click="save()">Save</button>
     </div>
</div>