<div class="conatiner">
  <mat-card-header>
    <mat-card-title>Approved Lists</mat-card-title>
  </mat-card-header>
  <mat-form-field>
    <mat-label>Field</mat-label>
    <mat-select [formControl]="typeFilter" (ngModelChange)="takeToFirstPage()">
      <mat-option [value]="">All</mat-option>
      <mat-option *ngFor="let field of fields | keyvalue" [value]="field.key">
        {{field.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="right-align">
    <input matInput class="form-field" [formControl]="valueFilter" (ngModelChange)="takeToFirstPage()" placeholder="Search">
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Value </th>
        <td mat-cell *matCellDef="let row"> {{row.value}} </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Field </th>
        <td mat-cell *matCellDef="let row">{{fields[row.type]}}</td>
      </ng-container>
      <ng-container matColumnDef="searchable">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Autocomplete </th>
        <td mat-cell *matCellDef="let row">
          <fa-icon *ngIf="row.searchable" icon="check"></fa-icon>
          <fa-icon *ngIf="!row.searchable" icon="times"></fa-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button aria-label="Delete">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>