<div class="conatiner">
  <mat-card-header>
    <mat-card-title>Approved Lists</mat-card-title>
  </mat-card-header>

  <div *ngIf="loading">
    <app-loader></app-loader>
  </div>
  <div [ngStyle]="{'display': loading ? 'none' : 'block'}">
    <div fxLayout >
      <mat-form-field>
        <mat-label>Field</mat-label>
        <mat-select [(ngModel)]="typeFilter" (ngModelChange)="run()">
          <mat-option *ngFor="let field of fields | keyvalue" [value]="field.key">
            {{field.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="fill-space"></div>
      <mat-form-field>
        <input matInput class="form-field" [(ngModel)]="valueFilter" (ngModelChange)="filterBySearch()" placeholder="Search">
      </mat-form-field>
    </div>

    <div [ngClass]="{'table-container': true, 'mat-elevation-z8': true, 'no-results': numberOfResults === 0}">
      <mat-card *ngIf="numberOfResults === 0">
        <mat-card-content fxLayoutAlign="center">
          <b>No results found</b>
        </mat-card-content>
      </mat-card>
      <table mat-table [dataSource]="dataSource" matSort [hidden]="numberOfResults === 0" matSortActive="value" matSortDirection="asc">
        <ng-container matColumnDef="value" [sticky]="!isIEorEdge">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Value </th>
          <td mat-cell *matCellDef="let row">
            {{row.value}}
          </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Field </th>
          <td mat-cell *matCellDef="let row">
            {{fields[row.type]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="searchable">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Autocomplete </th>
          <td mat-cell *matCellDef="let row" class="text-center">
            <fa-icon *ngIf="row.searchable" icon="check" class="green"></fa-icon>
            <fa-icon *ngIf="!row.searchable" icon="times" class="red"></fa-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row" class="text-center">
            <button mat-icon-button aria-label="Delete" class="red">
              <fa-icon icon="trash-alt"></fa-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: !isIEorEdge"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[50, 100, 500]" showFirstLastButtons class=" mat-elevation-z8"></mat-paginator>
  </div>
</div>
