<style>
    .faded
    {
        opacity:0.4;
    }

    .fade-out
     {
        transition:all linear .2s;
        opacity:0.4;
    }

    .fade-in
    {
        /*transition:all linear .4s;*/
        /*background-color: lightgreen;*/
        transition:all linear .4s;
        opacity:1;
    }

    td.summary {
        font-size:12px;
    }

    td.summary B {
        font-size:14px;
    }

</style>
<div ng-show="!localLoading" style="display:block;width:100px;margin:50px auto">
    <img src="/images/squares.gif" style="width:100px">
</div>
<div ng-show="localLoading">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Manage Comps: {{subject.name}}</h2>
        <hr>
    </div>

    <div class="modal-body">
            Please add properties you would like to use as competitors ("comps") of <b>{{subject.name}}</b><Br>
            <Br>
            <div ng-if="!comps.length">
            <div class="alert alert-info" role="alert"  style="margin-bottom:0px !important;">There are currently no comps added. Please type in the <b>address or name</b> of the comp property you would like to add in the search below.</div>
                <Br>
            </div>

            <table style="border:1px solid #ccc;width:100%">
                <tr ng-repeat="row in comps" style="border-top:1px solid #ccc;" id="tr-animate-{{$index}}" ng-class="{'faded' : row.faded}">
                    <td style="text-align:left;padding:1px 15px;font-weight:bold;width:30px">
                        <A href ng-click="moveUp($index)" ng-if="$index > 0" uib-tooltip="Move Up"><i class="fa fa-arrow-up"></i></A>
                        <A href ng-if="$index == 0" style="cursor:not-allowed"><i class="fa fa-arrow-up" style="color:#aaa !important;"></i></A>
                        <A href ng-click="moveDown($index)" ng-if="$index < comps.length - 1" uib-tooltip="Move Down"><i class="fa fa-arrow-down"></i></A>
                        <A href ng-if="$index == comps.length - 1" style="cursor:not-allowed"><i class="fa fa-arrow-down" style="color:#aaa !important;"></i></A>
                    </td>
                    <Td style="text-align:left;padding:0px 5px 0px 5px;font-weight:bold;font-size:22px;color:#ccc">
                        {{($index+1)}}
                    </Td>
                    <td ng-bind-html="row.summary | sanitize" style="text-align:left" class="summary"></td>
                    <td style="text-align:right;border-right:1px solid #ccc;padding:10px"><a href ng-click="remove(row)"  uib-tooltip="Remove"><i class="fa fa-minus"></i></a></td>
                </tr>
                <tr>
                    <td style="border-top:1px solid #ccc;padding:10px" colspan="100%">
                        <div class="form-group has-feedback has-feedback-left search" style="margin-bottom:0px !important;" ng-class="{'has-error' : (noResults || showAdd) && search1 && !searchLoading}">
                            <input type="text" class="form-control input-sm"
                                   placeholder="Comp address or name"
                                   uib-typeahead="props.summary for props in getLocation($viewValue)"
                                   typeahead-on-select="searchSelected($item, $model, $label)"
                                   typeahead-template-url="customTemplate.html"
                                   typeahead-no-results="noResults"
                                   typeahead-is-open="isOpen"
                                   typeahead-loading="searchLoading"
                                   ng-model="search1"
                                   style="width:100%"
                                   ng-keydown="disableSearchKeys($event)"
                            >
                            <i class="fa fa-search form-control-feedback" ng-style="{'color': (noResults || showAdd) && search1 && !searchLoading ? '#a94442' : '#ccc'};"></i>
                        </div>
                        <div ng-show="(noResults || showAdd) && search1 && !searchLoading" style="padding:10px">
                            Unable to find your comp. <button class="btn btn-primary" ng-click="create()">Create New Comp</button>
                        </div>
                       </td>
                </tr>
            </table>

            <div style="text-align: center">
                <Br>
                <button class="btn btn-success" ng-click="save()" ng-disabled="comps.length  == -1">Save</button><Br>
                <Br>
            </div>
        </div>




    </div>
</div>