<cover-page options="coverPage"></cover-page>
<div class="row hidden-print" ng-show="localLoading" style="margin-bottom: 0px !important;">
    <div class="col-xs-7 col-sm-7">
        <h2 class="mainheader">Property Profile</h2>
    </div>

    <div class="col-xs-5 col-sm-5 hidden-print">
        <div class="btn-group pull-right">
            <button uib-tooltip="Print/Export" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id = "export">
                <i class="fa fa-download visible-xs-inline"></i> <span class="hidden-xs">Print/Export</span> <span class="caret" style="color:white !important;"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href ng-click="print(false)"><i class="fa fa-print fa-fw"></i> Print</a></li>
                <li><a href ng-click="pdf(false)"><i class="fa fa-file-pdf-o fa-fw" style="color:#ed110a"></i> Export PDF</a></li>
                <li ng-if="owner && $root.me.permissions.indexOf('Hide/ExtendedProfile') == -1"><a href ng-click="excel()"><i class="fa fa-file-excel-o fa-fw" style="color:#32742a"></i> Export Excel</a></li>
            </ul>
        </div>
        <button ng-if="canSurvey && roles[0] != 'Property Owner'" uib-tooltip="Market Survey" type="button" style="margin-right:10px" class="btn btn-primary pull-right" data-toggle="dropdown" aria-expanded="false" ng-click="marketSurvey(property._id)">
            <i class="fa fa-edit visible-xs-inline"></i> <span class="hidden-xs">Market Survey</span>
        </button>
        <button ng-if="!canSurvey && roles[0] != 'Property Owner'"
                style="opacity: 0.5; cursor: not-allowed;margin-right:10px"
                popover-trigger="'mouseenter'"
                popover-placement="bottom"
                popover-title="This property is managed by a BI:Radix user."
                uib-popover="It should be up-to-date and not require manual updates. If this property is not showing latest information, please contact support@biradix.com."
                type="button" class="btn btn-primary pull-right" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-lock"></i> <span class="hidden-xs">Market Survey</span>
        </button>

    </div>
</div>
<div ng-show="localLoading" class="hidden-print">
    <hr style="border-color:#ddd;;margin: 5px 5px 10px 5px;">
</div>
<div ng-show="!localLoading" style="display:block;width:100px;margin:50px auto">
    <img src="/images/squares.gif" style="width:100px">
</div>
<div class="row" ng-show="localLoading">
    <div class="col-md-4 col-sm-5 col-lg-3 left-print">
        <div class="panel panel-info">
            <div class="panel-heading">
                <table style="width:100%">
                    <tr>
                        <Td style="height:32px">
                            <span class="pull-left">{{property.name}}</span>
                        </Td>
                        <td style="width:50px" class="hidden-print" valign="top">
                            <div id="profileDD" ng-class="{'btn-group' : true, action_dropdown : true, 'pull-right' : true, 'hover-only' : !isModalOpen('#profileDD')}" style="margin-right:-15px">
                                <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false" uib-tooltip="Show/Hide Columns">
                                    <span class="fa fa-table"></span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu" style="padding-left:10px;width:200px;height:200px;overflow-y: auto" onclick="event.stopPropagation();">
                                    <li><div class="checkbox"><label><input type="checkbox" ng-model="showProfile.address" ng-checked="showProfile.address" ng-click="saveShowProfile()"> Address</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox" ng-model="showProfile.website" ng-checked="showProfile.website" ng-click="saveShowProfile()"> Website</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox" ng-model="showProfile.phone" ng-checked="showProfile.phone" ng-click="saveShowProfile()"> Phone</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox" ng-model="showProfile.email" ng-checked="showProfile.email" ng-click="saveShowProfile()"> Email</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox" ng-model="showProfile.contact" ng-checked="showProfile.contact" ng-click="saveShowProfile()"> Contact</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox" ng-model="showProfile.const" ng-checked="showProfile.const" ng-click="saveShowProfile()"> Construction</label></div></li>

                                    <li><div class="checkbox"><label><input type="checkbox" ng-model="showProfile.built" ng-checked="showProfile.built" ng-click="saveShowProfile()"> Year Built</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox" ng-model="showProfile.ren" ng-checked="showProfile.ren" ng-click="saveShowProfile()"> Year Renovated</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox" ng-model="showProfile.owner" ng-checked="showProfile.owner" ng-click="saveShowProfile()"> Owner</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox" ng-model="showProfile.mgmt" ng-checked="showProfile.mgmt" ng-click="saveShowProfile()"> Management</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox" ng-model="showProfile.units" ng-checked="showProfile.units" ng-click="saveShowProfile()"> Total Units</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox" ng-model="showProfile.occ" ng-checked="showProfile.occ" ng-click="saveShowProfile()"> Occupancy</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox" ng-model="showProfile.leased" ng-checked="showProfile.leased" ng-click="saveShowProfile()"> Leased</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox" ng-model="showProfile.renewal" ng-checked="showProfile.leased" ng-click="saveShowProfile()"> Renewal</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox" ng-model="showProfile.atr" ng-checked="showProfile.atr" ng-click="saveShowProfile()"> ATR %</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox" ng-model="showProfile.traf" ng-checked="showProfile.traf" ng-click="saveShowProfile()"> Traffic / Week</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox" ng-model="showProfile.lease" ng-checked="showProfile.lease" ng-click="saveShowProfile()"> Leases / Week</label></div></li>
                                    <li class="hidden-print"><div style="width:60px;margin:0px auto"><input type="button" class="btn btn-primary btn-xs" value="Reset All" ng-click="resetProfile()"></div></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </table>


            </div>
            <div class="panel-body">
                <hr>
                <property-profile property="property" show="showProfile"></property-profile>
            </div>
        </div>

        <div class="panel panel-info" ng-show="property.community_am.length > 0">
            <div class="panel-heading">Community Amenities</div>
            <div class="panel-body">
                <hr>
                <property-amenities amenities="property.community_am"></property-amenities>
            </div>
        </div>
        <div class="panel panel-info" ng-show="property.location_am.length > 0">
            <div class="panel-heading">Location Amenities</div>
            <div class="panel-body">
                <hr>
                <property-amenities amenities="property.location_am"></property-amenities>
            </div>
        </div>
        <div class="panel panel-info" ng-show="property.floorplan_am.length > 0">
            <div class="panel-heading">Unit Amenities</div>
            <div class="panel-body">
                <hr>
                <property-amenities amenities="property.floorplan_am"></property-amenities>
            </div>
        </div>
        <div class="panel panel-info" ng-show="property.hasFees" style="margin-bottom: 0px !important;">
            <div class="panel-heading">Fees, Deposits, Lease Terms</div>
            <div class="panel-body">
                <hr>
                <property-fees fees="property.fees" lookups="lookups.fees"></property-fees>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-7 col-lg-9 right-print">

        <div class="panel panel-info" ng-show="property.hasContact || property.hasNotes || property.hasSurveyNotes" ng-if="$root.me.permissions.indexOf('Hide/ExtendedProfile') == -1">
            <div class="panel-heading">About Property</div>
            <div class="panel-body">
                <hr>
                <property-about property="property"></property-about>
            </div>
        </div>


        <div class="panel panel-info"  ng-if="$root.me.permissions.indexOf('Hide/ExtendedProfile') == -1">
            <div class="panel-heading">
                <span class="pull-left">Trends</span>
                <span class="dropdown pull-left hidden-print">
                    <a href class="dropdown-toggle gear" data-toggle="dropdown"><i class="fa fa-gear"></i></a>
                    <div class="dropdown-menu dropdown-menu-left"  onclick="event.stopPropagation();" style="padding: 10px;width:250px;margin-top:5px">
                        <table style="border-collapse: separate;  border-spacing: 0px 5px;">
                            <Tr>
                                <td>
                                    <toggle-switch checked="settings.graphs"></toggle-switch>&nbsp;
                                </td>
                                <Td>
                                    &nbsp;Show Graphs
                                </Td>

                            </Tr>
                            <Tr>
                                <td>
                                    <toggle-switch checked="$root.me.settings.hideUnlinked" click-fn="toggleUnlniked()"></toggle-switch>&nbsp;
                                </td>
                                <Td>
                                    &nbsp;Hide Excluded

                                    <i class="fa fa-info-circle" style="font-size:12px"
                                       popover-trigger="'mouseenter'"
                                       popover-placement="top"
                                       uib-popover="Turn this option off to calculate all floor plan data, including floor plans that have been manually excluded by the user from reporting and dashboard calculations."
                                            ></i>
                                </Td>

                            </Tr>
                            <Tr>
                                <td style="text-align: center">
                                    <select style="width:77px;font-weight: normal;font-size: 9pt;padding: 1px;" ng-model="settings.nerScale">
                                        <option value="ner" ng-selected="settings.nerScale=='ner'">NER</option>
                                        <option value="nersqft" ng-selected="settings.nerScale=='nersqft'">NER/Sqft</option>
                                    </select>&nbsp;
                                </td>
                                <Td>
                                    &nbsp;Measurement Scale
                                </Td>

                            </Tr>
                        </table>
                    </div>
                </span>

                <i class="fa fa-chain-broken blue" class="pull-left"
                   style="cursor:pointer;font-size:20px;padding:4px 0px 0px 8px"
                   ng-if="points.excluded"
                   popover-trigger="'mouseenter'"
                   popover-placement="right"
                   uib-popover="This graph/table does not include data for floor plans that have been manually excluded by the user from reporting and dashboard calculations."
                        ></i>

                <daterange-picker daterange="settings.daterange" class="pull-right hidden-print" style="margin-right:-15px"></daterange-picker>
                <span class="pull-right hidden-xs hidden-print" style="font-weight:initial !important; font-size: 13px !important; color: initial !important;margin:5px 5px 0px 0px">Date Range: </span>
                <br clear="all">
            </div>
            <div class="panel-body">
                <hr>
                <div ng-show="!trendsLoading" style="display:block;width:100px;margin:50px auto">
                    <img src="/images/squares.gif" style="width:100px">
                </div>
                <div ng-show="trendsLoading">
                    <div ng-if="settings.graphs">
                        <time-series options="nerData"></time-series>
                        <hr style="margin:10px 0px 20px 0px !important;">
                    </div>

                    <div ng-if="!settings.graphs">
                        <table-view data="otherTable" columns="nerKeys" survey="canSurvey" propertyid="property._id" marketsurvey="marketSurvey"></table-view>
                        <hr style="margin:20px 0px 50px 0px !important;">
                    </div>
                </div>


                <div ng-show="!trendsLoading" style="display:block;width:100px;margin:50px auto">
                    <img src="/images/squares.gif" style="width:100px">
                </div>
                <div ng-show="trendsLoading">
                    <div class="row" style="margin-left:-25px" ng-if="settings.graphs">
                        <div class="col-xs-6">
                            <time-series options="occData"></time-series>
                        </div>
                        <div class="col-xs-6">
                            <time-series options="otherData"></time-series>
                        </div>
                    </div>
                    <div ng-if="!settings.graphs">
                        <table-view data="otherTable" columns="columns" survey="canSurvey" propertyid="property._id" marketsurvey="marketSurvey"></table-view>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-info"  style="margin-bottom: 0px !important">
            <div class="panel-heading" style="height:50px">
                <span class="pull-left">Floor Plans</span>
                <span class="dropdown pull-left hidden-print">
                    <a href class="dropdown-toggle gear" data-toggle="dropdown"><i class="fa fa-gear"></i></a>
                    <div class="dropdown-menu dropdown-menu-left"  onclick="event.stopPropagation();" style="padding: 10px;width:210px;margin-top:5px">
                        <table style="border-collapse: separate;  border-spacing: 0px 5px;">
                            <Tr>
                                <td>
                                    <toggle-switch checked="$root.me.settings.hideUnlinked" click-fn="toggleUnlniked()"></toggle-switch>&nbsp;
                                </td>
                                <Td>
                                    &nbsp;Hide Excluded

                                    <i class="fa fa-info-circle" style="font-size:12px"
                                       popover-trigger="'mouseenter'"
                                       popover-placement="top"
                                       uib-popover="Turn this option off to calculate all floor plan data, including floor plans that have been manually excluded by the user from reporting and dashboard calculations."
                                            ></i>
                                </Td>

                            </Tr>
                        </table>
                    </div>

                </span>

                 <div id="floorplansDD" ng-class="{'btn-group' : true, action_dropdown : true, 'pull-right' : true, 'hover-only' : !isModalOpen('#floorplansDD')}" style="margin-right:-15px">
                    <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false" uib-tooltip="Show/Hide Columns">
                        <span class="fa fa-table"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" style="padding-left:10px;width:220px;height:200px;overflow-y: auto" onclick="event.stopPropagation();">
                        <li><div class="checkbox"><label><input type="checkbox" ng-model="settings.show.description" ng-checked="settings.show.description" ng-click="saveShow()"> Description</label></div></li>
                        <li><div class="checkbox"><label><input type="checkbox" ng-model="settings.show.units" ng-checked="settings.show.units" ng-click="saveShow()"> Units</label></div></li>
                        <li><div class="checkbox"><label><input type="checkbox" ng-model="settings.show.unitPercent" ng-checked="settings.show.unitPercent" ng-click="saveShow()"> Unit %</label></div></li>
                        <li><div class="checkbox"><label><input type="checkbox" ng-model="settings.show.sqft" ng-checked="settings.show.sqft" ng-click="saveShow()"> Sqft</label></div></li>
                        <li><div class="checkbox"><label><input type="checkbox" ng-model="settings.show.rent" ng-checked="settings.show.rent" ng-click="saveShow()"> Rent</label></div></li>
                        <li><div class="checkbox"><label><input type="checkbox" ng-model="settings.show.mersqft" ng-checked="settings.show.mersqft" ng-click="saveShow()"> Rent / Sqft</label></div></li>
                        <li><div class="checkbox"><label><input type="checkbox" ng-model="settings.show.concessions" ng-checked="settings.show.concessions" ng-click="saveShow()"> Total Concessions</label></div></li>
                        <li><div class="checkbox"><label><input type="checkbox" ng-model="settings.show.runrate" ng-checked="settings.show.runrate" ng-click="saveShow()"> Recurring Rent</label></div></li>
                        <li><div class="checkbox"><label><input type="checkbox" ng-model="settings.show.runratesqft" ng-checked="settings.show.runratesqft" ng-click="saveShow()"> Recurring Rent / Sqft</label></div></li>
                        <li><div class="checkbox"><label><input type="checkbox" ng-model="settings.show.ner" ng-checked="settings.show.ner" ng-click="saveShow()"> Net Effective Rent</label></div></li>
                        <li><div class="checkbox"><label><input type="checkbox" ng-model="settings.show.nersqft" ng-checked="settings.show.nersqft" ng-click="saveShow()"> Net Effective Rent / Sqft</label></div></li>
                        <li class="hidden-print"><div style="width:60px;margin:0px auto"><input type="button" class="btn btn-primary btn-xs" value="Reset All" ng-click="reset()"></div></li>
                    </ul>
                </div>
                <Br clear="all">
            </div>
            <div class="panel-body">
                <div style="height:25px"></div>
                <property-floorplans comp="comp" order-by="settings.orderByFp" show="settings.show"></property-floorplans>
            </div>
        </div>

    </div>

</div>
