<div class="row" ng-show="localLoading">
    <div class="col-xs-10">
        <h3 style="padding-left:5px">{{property.name}}</h3>
    </div>
    <div class="col-xs-2 hidden-print">
        <div class="btn-group pull-right" style="padding-bottom:10px">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id = "export">
                <i class="fa fa-download visible-xs-inline"></i> <span class="hidden-xs">Print/Export</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href ng-click="print()"><i class="fa fa-print"></i> Print: Property Profile</a></li>
                <li><a href ng-click="pdf()"><i class="fa fa-file-pdf-o" style="color:#ed110a"></i> Export Pdf: Property Profile</a></li>
                <li><a href ng-click="excel()"><i class="fa fa-file-excel-o" style="color:#32742a"></i> Export Excel: Property Profile + Comps</a></li>
            </ul>
        </div>
    </div>

</div>
<div ng-show="!localLoading" style="display:block;width:100px;margin:50px auto">
    <img src="/images/squares.gif" style="width:100px">
</div>
<div class="row" ng-show="localLoading">
    <div class="col-md-4 col-sm-5 col-lg-3 left-print">
        <div class="panel panel-info">
            <div class="panel-heading">Property</div>
            <div class="panel-body">

                <property-profile property="property"></property-profile>

            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-7 col-lg-9 right-print">

        <div class="panel panel-info">
            <div class="panel-heading">Net Effective Rent</div>
            <div class="panel-body">

            </div>
        </div>

    </div>

</div>
