<style>
  .profile-list {
    padding-left:20px !important;
  }
</style>
<div class="row" ng-show="localLoading">
    <div class="col-xs-9 col-sm-7">
        <h3 style="padding-left:5px">{{property.name}}</h3>
    </div>
    <div class="col-xs-3 col-sm-5 hidden-print">
        <div class="btn-group pull-right" style="padding-bottom:10px">
            <button tooltip="Print/Export" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id = "export">
                <i class="fa fa-download visible-xs-inline"></i> <span class="hidden-xs">Print/Export</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href ng-click="print()"><i class="fa fa-print"></i> Print: Property Profile</a></li>
                <li><a href ng-click="pdf()"><i class="fa fa-file-pdf-o" style="color:#ed110a"></i> Export Pdf: Property Profile</a></li>
                <li><a href ng-click="excel()"><i class="fa fa-file-excel-o" style="color:#32742a"></i> Export Excel: Property Profile + Comps</a></li>
            </ul>
        </div>
        <button tooltip="Market Survey" type="button" style="margin-right:10px" class="btn btn-primary pull-right" data-toggle="dropdown" aria-expanded="false" ng-click="marketSurvey(property._id)">
            <i class="fa fa-edit visible-xs-inline"></i> <span class="hidden-xs">Market Survey</span>
        </button>
    </div>

</div>
<div ng-show="!localLoading" style="display:block;width:100px;margin:50px auto">
    <img src="/images/squares.gif" style="width:100px">
</div>
<div class="row" ng-show="localLoading">
    <div class="col-md-4 col-sm-5 col-lg-3 left-print">
        <div class="panel panel-info">
            <div class="panel-heading">Property Info</div>
            <div class="panel-body">
                <property-profile property="property"></property-profile>
            </div>
        </div>
        <div class="panel panel-info" ng-show="property.community_am.length > 0">
            <div class="panel-heading">Community Amenities</div>
            <div class="panel-body">
                <property-amenities amenities="property.community_am"></property-amenities>
            </div>
        </div>
        <div class="panel panel-info" ng-show="property.location_am.length > 0">
            <div class="panel-heading">Location Amenities</div>
            <div class="panel-body">
                <property-amenities amenities="property.location_am"></property-amenities>
            </div>
        </div>
        <div class="panel panel-info" ng-show="property.floorplan_am.length > 0">
            <div class="panel-heading">Unit Amenities</div>
            <div class="panel-body">
                <property-amenities amenities="property.floorplan_am"></property-amenities>
            </div>
        </div>
        <div class="panel panel-info" ng-show="property.hasFees">
            <div class="panel-heading">Fees, Deposits, Lease Terms</div>
            <div class="panel-body">
                <property-fees fees="property.fees" lookups="lookups.fees"></property-fees>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-7 col-lg-9 right-print">

        <div class="panel panel-info" ng-show="property.hasContact || property.hasNotes">
            <div class="panel-heading">About Property</div>
            <div class="panel-body">
                <property-about property="property"></property-about>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">Net Effective Rent</div>
            <div class="panel-body">

            </div>
        </div>

    </div>

</div>
