<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <style>
        th {
            text-align: left;
            padding:0px 10px
        }
        body {
            margin:5px;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        }
        .thead {
            background-color: #f9f9f9 !important;
            border-bottom: 2px solid #ddd;
        }

        table {
            border-spacing: 0;
            border-collapse: collapse;
            display:table;
            border: 1px solid #ddd;
        }

        td {
            padding: 5px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }

        h4 {
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .center {
            text-align: center;
        }

        .subtotal {
            border-top:2px solid #ccc;
            font-weight:bold
        }

        .subtotal TD {
            padding-bottom:25px;
            border-bottom:0px
        }

        .fp-header {
            border-top:0px
        }

        @media print {

            @page {
                margin: 5px;
            }

            body {
                margin: 10px 20px
            }

        }

        tr:nth-of-type(odd) {
            background-color: #f9f9f9;
        }

        tr > td:last-of-type, tr > th:last-of-type {
            border-right: 1px solid #ddd
        }
    </style>
</head>
<body>
<img src="http://platform.biradix.com/images/organizations/biradix.png" class="logoBig" style="height:41px">
<table class="table table-condensed table-striped table-hover hidden-arrows" style="font-size:9pt;width:100%">
    <tbody>
    <tr class="thead">
        <th ng-click="toggleSort('name')" style="height:45px" class="sortable">
            Property
            <i ng-show="sort.name == null" class="fa fa-sort"></i>
            <i ng-show="sort.name === true" class="fa fa-sort-down ng-hide"></i>
            <i ng-show="sort.name === false" class="fa fa-sort-up ng-hide"></i>
        </th>
        <th class="center sortable" ng-click="toggleSort('units')" style="min-width:60px">
            Units
            <i ng-show="sort.units == null" class="fa fa-sort"></i>
            <i ng-show="sort.units === true" class="fa fa-sort-down ng-hide"></i>
            <i ng-show="sort.units === false" class="fa fa-sort-up ng-hide"></i>
        </th>
        <th class="center sortable" ng-click="toggleSort('sqft')" style="min-width:60px">
            Sqft
            <i ng-show="sort.sqft == null" class="fa fa-sort"></i>
            <i ng-show="sort.sqft === true" class="fa fa-sort-down ng-hide"></i>
            <i ng-show="sort.sqft === false" class="fa fa-sort-up ng-hide"></i>
        </th>
        <th class="center sortable" ng-click="toggleSort('ner')" style="min-width:70px">
            Net Eff.<br>&nbsp;Rent
            <i ng-show="sort.ner == null" class="fa fa-sort"></i>
            <i ng-show="sort.ner === true" class="fa fa-sort-down ng-hide"></i>
            <i ng-show="sort.ner === false" class="fa fa-sort-up ng-hide"></i>
        </th>
        <th class="center sortable" ng-click="toggleSort('nersqft')" style="min-width:70px">
            NER/&nbsp;<br>Sqft
            <i ng-show="sort.nersqft == null" class="fa fa-sort ng-hide"></i>
            <i ng-show="sort.nersqft === true" class="fa fa-sort-down ng-hide"></i>
            <i ng-show="sort.nersqft === false" class="fa fa-sort-up"></i>
        </th>
    </tr>
    <tr>
        <td colspan="100%" style="background-color: white !important;color:#4460a9;" class="fp-header">
            <div class="fp-header-div">
                <h4>All Bedrooms
                    <!-- ngIf: excluded -->
                </h4>
            </div>
        </td>
    </tr>

    <!-- ngRepeat: fp in summary | orderBy : orderBy --><tr ng-repeat="fp in summary | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            Camden Chandler
        </td>
        <td class="center ng-binding">
            380
        </td>
        <td class="center ng-binding">
            1,145
        </td>
        <td class="center ng-binding">
            $1,115
        </td>
        <td class="center ng-binding">
            $0.97
        </td>
    </tr><!-- end ngRepeat: fp in summary | orderBy : orderBy --><tr ng-repeat="fp in summary | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            The Cooper 202
        </td>
        <td class="center ng-binding">
            332
        </td>
        <td class="center ng-binding">
            947
        </td>
        <td class="center ng-binding">
            $1,063
        </td>
        <td class="center ng-binding">
            $1.12
        </td>
    </tr><!-- end ngRepeat: fp in summary | orderBy : orderBy --><tr ng-repeat="fp in summary | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            Parcland Crossing
        </td>
        <td class="center ng-binding">
            383
        </td>
        <td class="center ng-binding">
            1,081
        </td>
        <td class="center ng-binding">
            $1,238
        </td>
        <td class="center ng-binding">
            $1.15
        </td>
    </tr><!-- end ngRepeat: fp in summary | orderBy : orderBy --><tr ng-repeat="fp in summary | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            Almeria at Ocotillo
        </td>
        <td class="center ng-binding">
            389
        </td>
        <td class="center ng-binding">
            1,011
        </td>
        <td class="center ng-binding">
            $1,248
        </td>
        <td class="center ng-binding">
            $1.23
        </td>
    </tr><!-- end ngRepeat: fp in summary | orderBy : orderBy --><tr ng-repeat="fp in summary | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            Liv Avenida
        </td>
        <td class="center ng-binding">
            322
        </td>
        <td class="center ng-binding">
            917
        </td>
        <td class="center ng-binding">
            $1,146
        </td>
        <td class="center ng-binding">
            $1.25
        </td>
    </tr><!-- end ngRepeat: fp in summary | orderBy : orderBy --><tr ng-repeat="fp in summary | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            Broadstone Fashion Center Apartments
        </td>
        <td class="center ng-binding">
            335
        </td>
        <td class="center ng-binding">
            893
        </td>
        <td class="center ng-binding">
            $1,154
        </td>
        <td class="center ng-binding">
            $1.29
        </td>
    </tr><!-- end ngRepeat: fp in summary | orderBy : orderBy --><tr ng-repeat="fp in summary | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            The Met at Fashion Center
        </td>
        <td class="center ng-binding">
            303
        </td>
        <td class="center ng-binding">
            831
        </td>
        <td class="center ng-binding">
            $1,091
        </td>
        <td class="center ng-binding">
            $1.31
        </td>
    </tr><!-- end ngRepeat: fp in summary | orderBy : orderBy --><tr ng-repeat="fp in summary | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            VIVE
        </td>
        <td class="center ng-binding">
            194
        </td>
        <td class="center ng-binding">
            972
        </td>
        <td class="center ng-binding">
            $1,284
        </td>
        <td class="center ng-binding">
            $1.32
        </td>
    </tr><!-- end ngRepeat: fp in summary | orderBy : orderBy --><tr ng-repeat="fp in summary | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope subject">
        <td class="ng-binding">
            Alta Steelyard Lofts
        </td>
        <td class="center ng-binding">
            301
        </td>
        <td class="center ng-binding">
            890
        </td>
        <td class="center ng-binding">
            $1,232
        </td>
        <td class="center ng-binding">
            $1.38
        </td>
    </tr><!-- end ngRepeat: fp in summary | orderBy : orderBy --><tr ng-repeat="fp in summary | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            Elevation Chandler
        </td>
        <td class="center ng-binding">
            163
        </td>
        <td class="center ng-binding">
            860
        </td>
        <td class="center ng-binding">
            $1,205
        </td>
        <td class="center ng-binding">
            $1.40
        </td>
    </tr><!-- end ngRepeat: fp in summary | orderBy : orderBy -->

    <tr class="subtotal" style="background-color:white !important;">
        <td>
            <div style="color:black !important;">Averages</div>
        </td>
        <td class="center black">
            <div style="color:black !important;" class="ng-binding">310</div>
        </td>
        <td class="center black">
            <div style="color:black !important;" class="ng-binding">967</div>
        </td>
        <td class="center black">
            <div style="color:black !important;" class="ng-binding">$1,173</div>
        </td>
        <td class="center black">
            <div style="color:black !important;" class="ng-binding">$1.21</div>
        </td>
    </tr>
    <!-- ngRepeat: (key,value) in rankings --><!-- ngIf: false -->
    <tr class="ng-scope">
        <td colspan="100%" style="background-color: white !important;color:#4460a9;" class="fp-header">
            <div class="fp-header-div">
                <h4 class="ng-binding">Studios
                    <!-- ngIf: value.excluded -->
                </h4>
            </div>
        </td>
    </tr>
    <!-- ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            Broadstone Fashion Center Apartments
        </td>
        <td class="center ng-binding">
            42
        </td>
        <td class="center ng-binding">
            587
        </td>
        <td class="center ng-binding">
            $829
        </td>
        <td class="center ng-binding">
            $1.41
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy -->
    <tr class="subtotal ng-scope" style="background-color:white !important;">
        <td>
            <div style="color:black !important;">Averages</div>
        </td>
        <td class="center black">
            <div style="color:black !important;" class="ng-binding">42</div>
        </td>
        <td class="center black">
            <div style="color:black !important;" class="ng-binding">587</div>
        </td>
        <td class="center black">
            <div style="color:black !important;" class="ng-binding">$829</div>
        </td>
        <td class="center black">
            <div style="color:black !important;" class="ng-binding">$1.41</div>
        </td>
    </tr>
    <!-- ngIf: false --><!-- end ngRepeat: (key,value) in rankings --><!-- ngIf: false -->
    <tr class="ng-scope">
        <td colspan="100%" style="background-color: white !important;color:#4460a9;" class="fp-header">
            <div class="fp-header-div">
                <h4 class="ng-binding">1 Bedrooms
                    <!-- ngIf: value.excluded -->
                </h4>
            </div>
        </td>
    </tr>
    <!-- ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            Camden Chandler
        </td>
        <td class="center ng-binding">
            104
        </td>
        <td class="center ng-binding">
            850
        </td>
        <td class="center ng-binding">
            $938
        </td>
        <td class="center ng-binding">
            $1.10
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            The Cooper 202
        </td>
        <td class="center ng-binding">
            156
        </td>
        <td class="center ng-binding">
            739
        </td>
        <td class="center ng-binding">
            $825
        </td>
        <td class="center ng-binding">
            $1.12
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            Parcland Crossing
        </td>
        <td class="center ng-binding">
            167
        </td>
        <td class="center ng-binding">
            828
        </td>
        <td class="center ng-binding">
            $998
        </td>
        <td class="center ng-binding">
            $1.21
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            Almeria at Ocotillo
        </td>
        <td class="center ng-binding">
            155
        </td>
        <td class="center ng-binding">
            787
        </td>
        <td class="center ng-binding">
            $1,057
        </td>
        <td class="center ng-binding">
            $1.34
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            The Met at Fashion Center
        </td>
        <td class="center ng-binding">
            171
        </td>
        <td class="center ng-binding">
            686
        </td>
        <td class="center ng-binding">
            $933
        </td>
        <td class="center ng-binding">
            $1.36
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            Liv Avenida
        </td>
        <td class="center ng-binding">
            126
        </td>
        <td class="center ng-binding">
            728
        </td>
        <td class="center ng-binding">
            $991
        </td>
        <td class="center ng-binding">
            $1.36
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            Broadstone Fashion Center Apartments
        </td>
        <td class="center ng-binding">
            166
        </td>
        <td class="center ng-binding">
            754
        </td>
        <td class="center ng-binding">
            $1,050
        </td>
        <td class="center ng-binding">
            $1.39
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope subject">
        <td class="ng-binding">
            Alta Steelyard Lofts
        </td>
        <td class="center ng-binding">
            195
        </td>
        <td class="center ng-binding">
            771
        </td>
        <td class="center ng-binding">
            $1,124
        </td>
        <td class="center ng-binding">
            $1.46
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            VIVE
        </td>
        <td class="center ng-binding">
            82
        </td>
        <td class="center ng-binding">
            778
        </td>
        <td class="center ng-binding">
            $1,153
        </td>
        <td class="center ng-binding">
            $1.48
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            Elevation Chandler
        </td>
        <td class="center ng-binding">
            105
        </td>
        <td class="center ng-binding">
            754
        </td>
        <td class="center ng-binding">
            $1,179
        </td>
        <td class="center ng-binding">
            $1.56
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy -->
    <tr class="subtotal ng-scope" style="background-color:white !important;">
        <td>
            <div style="color:black !important;">Averages</div>
        </td>
        <td class="center black">
            <div style="color:black !important;" class="ng-binding">143</div>
        </td>
        <td class="center black">
            <div style="color:black !important;" class="ng-binding">765</div>
        </td>
        <td class="center black">
            <div style="color:black !important;" class="ng-binding">$1,018</div>
        </td>
        <td class="center black">
            <div style="color:black !important;" class="ng-binding">$1.33</div>
        </td>
    </tr>
    <!-- ngIf: false --><!-- end ngRepeat: (key,value) in rankings --><!-- ngIf: false -->
    <tr class="ng-scope">
        <td colspan="100%" style="background-color: white !important;color:#4460a9;" class="fp-header">
            <div class="fp-header-div">
                <h4 class="ng-binding">2 Bedrooms
                    <!-- ngIf: value.excluded -->
                </h4>
            </div>
        </td>
    </tr>
    <!-- ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            Camden Chandler
        </td>
        <td class="center ng-binding">
            214
        </td>
        <td class="center ng-binding">
            1,190
        </td>
        <td class="center ng-binding">
            $1,069
        </td>
        <td class="center ng-binding">
            $0.90
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            Parcland Crossing
        </td>
        <td class="center ng-binding">
            192
        </td>
        <td class="center ng-binding">
            1,250
        </td>
        <td class="center ng-binding">
            $1,397
        </td>
        <td class="center ng-binding">
            $1.12
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            The Cooper 202
        </td>
        <td class="center ng-binding">
            162
        </td>
        <td class="center ng-binding">
            1,122
        </td>
        <td class="center ng-binding">
            $1,269
        </td>
        <td class="center ng-binding">
            $1.13
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            Almeria at Ocotillo
        </td>
        <td class="center ng-binding">
            188
        </td>
        <td class="center ng-binding">
            1,127
        </td>
        <td class="center ng-binding">
            $1,327
        </td>
        <td class="center ng-binding">
            $1.18
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            Broadstone Fashion Center Apartments
        </td>
        <td class="center ng-binding">
            127
        </td>
        <td class="center ng-binding">
            1,176
        </td>
        <td class="center ng-binding">
            $1,396
        </td>
        <td class="center ng-binding">
            $1.19
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            Elevation Chandler
        </td>
        <td class="center ng-binding">
            58
        </td>
        <td class="center ng-binding">
            1,053
        </td>
        <td class="center ng-binding">
            $1,253
        </td>
        <td class="center ng-binding">
            $1.19
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            Liv Avenida
        </td>
        <td class="center ng-binding">
            164
        </td>
        <td class="center ng-binding">
            1,006
        </td>
        <td class="center ng-binding">
            $1,202
        </td>
        <td class="center ng-binding">
            $1.19
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            VIVE
        </td>
        <td class="center ng-binding">
            100
        </td>
        <td class="center ng-binding">
            1,093
        </td>
        <td class="center ng-binding">
            $1,349
        </td>
        <td class="center ng-binding">
            $1.23
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            The Met at Fashion Center
        </td>
        <td class="center ng-binding">
            132
        </td>
        <td class="center ng-binding">
            1,019
        </td>
        <td class="center ng-binding">
            $1,295
        </td>
        <td class="center ng-binding">
            $1.27
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope subject">
        <td class="ng-binding">
            Alta Steelyard Lofts
        </td>
        <td class="center ng-binding">
            102
        </td>
        <td class="center ng-binding">
            1,086
        </td>
        <td class="center ng-binding">
            $1,394
        </td>
        <td class="center ng-binding">
            $1.28
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy -->
    <tr class="subtotal ng-scope" style="background-color:white !important;">
        <td>
            <div style="color:black !important;">Averages</div>
        </td>
        <td class="center black">
            <div style="color:black !important;" class="ng-binding">144</div>
        </td>
        <td class="center black">
            <div style="color:black !important;" class="ng-binding">1,125</div>
        </td>
        <td class="center black">
            <div style="color:black !important;" class="ng-binding">$1,284</div>
        </td>
        <td class="center black">
            <div style="color:black !important;" class="ng-binding">$1.14</div>
        </td>
    </tr>
    <!-- ngIf: false --><!-- end ngRepeat: (key,value) in rankings --><!-- ngIf: false -->
    <tr class="ng-scope">
        <td colspan="100%" style="background-color: white !important;color:#4460a9;" class="fp-header">
            <div class="fp-header-div">
                <h4 class="ng-binding">3 Bedrooms
                    <!-- ngIf: value.excluded -->
                </h4>
            </div>
        </td>
    </tr>
    <!-- ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            Camden Chandler
        </td>
        <td class="center ng-binding">
            62
        </td>
        <td class="center ng-binding">
            1,483
        </td>
        <td class="center ng-binding">
            $1,572
        </td>
        <td class="center ng-binding">
            $1.06
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            The Cooper 202
        </td>
        <td class="center ng-binding">
            14
        </td>
        <td class="center ng-binding">
            1,245
        </td>
        <td class="center ng-binding">
            $1,323
        </td>
        <td class="center ng-binding">
            $1.06
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            Parcland Crossing
        </td>
        <td class="center ng-binding">
            24
        </td>
        <td class="center ng-binding">
            1,491
        </td>
        <td class="center ng-binding">
            $1,637
        </td>
        <td class="center ng-binding">
            $1.10
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            Almeria at Ocotillo
        </td>
        <td class="center ng-binding">
            46
        </td>
        <td class="center ng-binding">
            1,289
        </td>
        <td class="center ng-binding">
            $1,569
        </td>
        <td class="center ng-binding">
            $1.22
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            Liv Avenida
        </td>
        <td class="center ng-binding">
            32
        </td>
        <td class="center ng-binding">
            1,205
        </td>
        <td class="center ng-binding">
            $1,467
        </td>
        <td class="center ng-binding">
            $1.22
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope">
        <td class="ng-binding">
            VIVE
        </td>
        <td class="center ng-binding">
            12
        </td>
        <td class="center ng-binding">
            1,285
        </td>
        <td class="center ng-binding">
            $1,639
        </td>
        <td class="center ng-binding">
            $1.28
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy --><tr ng-repeat="fp in value.floorplans | orderBy : orderBy" ng-class="{'subject':fp.subject}" class="ng-scope subject">
        <td class="ng-binding">
            Alta Steelyard Lofts
        </td>
        <td class="center ng-binding">
            4
        </td>
        <td class="center ng-binding">
            1,726
        </td>
        <td class="center ng-binding">
            $2,377
        </td>
        <td class="center ng-binding">
            $1.38
        </td>
    </tr><!-- end ngRepeat: fp in value.floorplans | orderBy : orderBy -->
    <tr class="subtotal ng-scope" style="background-color:white !important;">
        <td>
            <div style="color:black !important;">Averages</div>
        </td>
        <td class="center black">
            <div style="color:black !important;" class="ng-binding">28</div>
        </td>
        <td class="center black">
            <div style="color:black !important;" class="ng-binding">1,368</div>
        </td>
        <td class="center black">
            <div style="color:black !important;" class="ng-binding">$1,565</div>
        </td>
        <td class="center black">
            <div style="color:black !important;" class="ng-binding">$1.14</div>
        </td>
    </tr>
    <!-- ngIf: false --><!-- end ngRepeat: (key,value) in rankings -->
    </tbody>

</table>
</body>
</html>