@import "../../global";

.snack-bar-error {
    background-image: none !important;
    background-color: #ffe1e1;
    border: 1px solid $red-color !important;
    color: $red-color;
    font-size: 13px;
    font-weight: 400;
    white-space: pre-wrap;
}
  
.snack-bar-success {
    background-image: none !important;
    background-color: #e8f8ed;
    border: 1px solid #70b760 !important;
    color: #70b760;
    font-size: 13px;
    font-weight: 400;
    white-space: pre-wrap;
}
  
.snack-bar-warning {
    background-image: none !important;
    background-color: #ffe5cb;
    border: 1px solid #f90 !important;
    color: #f90;
    font-size: 13px;
    font-weight: 400;
    white-space: pre-wrap
}