@import "../../global";

.snack-bar-error {
    background-image: none !important;
    background-color: $light-red-color;
    border: 1px solid $red-color !important;
    color: $red-color;
    font-size: 13px;
    font-weight: 400;
    white-space: pre-wrap;
}
  
.snack-bar-success {
    background-image: none !important;
    background-color: $light-green-color;
    border: 1px solid $green-color !important;
    color: $green-color;
    font-size: 13px;
    font-weight: 400;
    white-space: pre-wrap;
}
  
.snack-bar-warning {
    background-image: none !important;
    background-color: $light-orange-color;
    border: 1px solid $orange-color !important;
    color: $orange-color;
    font-size: 13px;
    font-weight: 400;
    white-space: pre-wrap
}