@import "../../global";
  
html, body { height: 100%; }
body { margin: 0; font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; background-color: #f0f0f0;}

.red {
  color: $red-color;
}

.mat-card-header {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 15px;
}

.mat-card-header-text {
  margin: 0 !important;
}

.mat-menu-panel {
  min-height: inherit !important;
}

.fill-space {
  flex: 1 1 auto;
}