<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">Assign Users: {{property.name}}</h2>
    <hr>
</div>

<div class="modal-body">
    <div>Please select users who should have access to <b>{{property.name}}</b>.<Br></div>
    <Br>
    <div ng-show="loading" style="display:block;width:100px;margin:20px  auto">
        <img src="/images/squares.gif" style="width:100px">
    </div>
    <div ng-show="!loading">
        <form role="form" name="myForm" id="myForm" autocomplete="on" ng-submit="submit()">
            <filter-list-ajax options="userOptions" model="users" search="autocompleteusers" tooltipfn="getUserDD"></filter-list-ajax>
            <br>
            <Br>
            <div style="margin:0px auto;width:75px">
                <button class=" btn btn-success btn-large btn-block contact-submit" type="button" ng-click="save()">Save</button>
            </div>
        </form>
    </div>
</div>
