<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">PMS Integration: {{property.name}}</h2>
    <hr>
</div>
<div class="modal-body">
    <p class="mb-20" ng-if="!pmsData.connected">Use this wizard to Connect <b>{{property.name}}</b> to a PMS and enable importing data into New Property Surveys.</p>
    <div ng-if="loading" style="display:block;width:100px;margin:20px auto">
        <img src="/images/squares.gif" style="width:100px">
    </div>
    <div ng-if="!loading" style="overflow-x: auto">
        <form ng-if="!pmsData.connected">
            <div class="form-group">
                <label>What PMS are you using?<span class="required">*</span></label>
                <select ng-model="pmsData.using" class="form-control">
                    <option value="Select">Select</option>
                    <option value="Yardi">Yardi</option>
                </select>
            </div>
            <div class="form-group" ng-if="pmsData.using == 'Yardi'">
                <label>Please enter Yardi property code<span class="required">*</span></label>
                <input type="number" class="form-control" ng-model="pmsData.id">
            </div>
            <div class="form-group" ng-if="pmsData.using == 'Yardi'">
                <label>Please specify ftp import directory:<span class="required">*</span></label>
                <input type="text" class="form-control" ng-model="pmsData.directoryPath">
            </div>
        </form>
    </div>
    <div ng-if="pmsData.connected">
        <div class="row">
            <div class="col-xs-8" style="padding-left: 10px;padding-right: 10px;">
                <p><b>{{property.name}} is connected to Yardi</b></p>
            </div>
            <div class="col-xs-4 text-right" style="padding-left: 10px;padding-right: 10px;">
                <a href ng-click="disconnect()" style="color:#a94442;text-decoration: underline;">Disconnect</a>
            </div>
        </div>
        <p>You will now see the option to Import from PMS when doing a new property survey.</p>
        <button class="btn btn-xs btn-warning" ng-click="import()">Import Yardi Floor Plan Descriptions</button>
        <i class="fa fa-question-circle label-side-icon" popover-trigger="'mouseenter'" popover-placement="top" uib-popover="Clicking this button will overwrite your existing floor plan description with those in your PMS" popover-append-to-body="true"></i>
    </div>
</div>
<div class="modal-footer" style="text-align: center">
    <button ng-if="pmsData.using == 'Yardi' && !pmsData.connected" class="btn btn-warning contact-submit" ng-click="next()">Next</button>
    <button ng-if="pmsData.connected" class="btn btn-success contact-submit" ng-click="done()">Done</button>
</div>