<Style>
    .floorplan {
        margin: 0 0 5px;
        cursor: move;
        font-size: 12px;
        padding: 0 5px;
    }

    .floorplan .fa {color:#ffffff;}

    .floorplan.biradix {
        background-color: #30c827;
        cursor: default;
        color: #fff;
        margin: 5px 0 0;
    }

    .floorplan.unmapped {
        background-color: #00457c;
        color: #fff;
    }

    .floorplan.mapped {
        background-color: #00457d;
        color: #fff;
    }

    .red-txt, .red-txt:hover {
        color:#d9534f;
    }

    .list {
        border: 1px dashed #ccc;
        width: 100%;
        min-height: 30px;
        padding: 5px 5px 0;
        margin: 0 0 5px;
    }

    .w-10 {
        width: 10%;
        padding-top: 3px;
    }
    .w-45 {
        width: 45%;
    }

    .missmatch {
        background:transparent;
        border:none;
    }

    .missmatch i {color: #d9534f;}

</Style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">PMS Integration: {{property.name}}</h2>
    <hr>
</div>
<div class="modal-body">
    <p class="mb-20" ng-if="!pmsData.isConnected">Use this wizard to Connect <b>{{property.name}}</b> to a PMS and enable importing data into New Property Surveys.</p>
    <div ng-if="loading" style="display:block;width:100px;margin:20px auto">
        <img src="/images/squares.gif" style="width:100px">
    </div>
    <div ng-if="!loading">
        <form ng-if="imports.length === 1">
            <div class="form-group">
                <label>What property do you want to connect to?<span class="required">*</span></label>
                <div ng-if="!pms.config.importId" ng-model="pms.selectedProperty" custom-select="property.name for property in properties | filter: $searchTerm"></div>
                <div ng-if="pms.config.importId">Connected to: <b>{{pms.selectedProperty.name}}</b> - <A class="red-txt" href ng-click="disconnect()">Disconnect</A></div>
            </div>

            <div ng-if="pms.config.importId">
                <div class="clearfix">
                    <div class="w-45 pull-left">
                        <h4>BI:Radix Floor Plans:</h4>
                    </div>
                    <div class="w-10 pull-left text-center"></div>
                    <div class="w-45 pull-left">
                        <h4>Yardi Floor Plans:</h4>
                    </div>
                </div>
                <div ng-repeat-start="floorplan in pms.floorplans | orderBy: ['bedrooms','bathrooms','sqft','description','units']"></div>
                <div class="clearfix">
                    <div class="w-45 pull-left">
                        <div class="floorplan biradix">{{floorplan.name}}</div>
                    </div>
                    <div class="w-10 pull-left text-center">
                        <button class="missmatch" ng-if="floorplan.units != floorplan.yardi.totalUnits" type="button" data-toggle="dropdown" aria-expanded="false" uib-tooltip="Missmatch between units" tooltip-placement="top">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                        <i ng-if="floorplan.units === floorplan.yardi.totalUnits" class="fa fa-arrows-h" aria-hidden="true"></i>
                    </div>
                    <div class="w-45 pull-left">
                        <ul ui-sortable="{connectWith: '.list'}" ng-model="floorplan.yardi" class="list">
                            <div ng-repeat="mapped in floorplan.yardi | orderBy: ['bedrooms','bathrooms','sqft','description','units']" class="floorplan mapped"><i class="fa fa-bars"></i> {{mapped.name}}</div>
                        </ul>
                    </div>
                </div>
                <div ng-repeat-end ng-if="false"></div>
                <h4>Unmapped Yardi Floor plans:</h4>
                <ul ui-sortable="{connectWith: '.list'}" ng-model="pms.unmappedFloorplans" class="list">
                    <div ng-repeat="floorplan in pms.unmappedFloorplans | orderBy: ['bedrooms','bathrooms','sqft','description','units']" class="floorplan unmapped"><i class="fa fa-bars"></i> {{floorplan.name}}</div>
                </ul>
                <h4>Excluded Yardi Floor plans:</h4>
                <ul ui-sortable="{connectWith: '.list'}" ng-model="pms.excludedFloorplans" class="list">
                    <div ng-repeat="floorplan in pms.excludedFloorplans | orderBy: ['bedrooms','bathrooms','sqft','description','units']" class="floorplan unmapped"><i class="fa fa-bars"></i> {{floorplan.name}}</div>
                </ul>

            </div>
        </form>
        <div class="alert alert-warning" role="alert" ng-if="imports.length === 0"><b>There are no PMS Integrations configured for your organization.</b></div>
        <div class="alert alert-danger" role="alert" ng-if="imports.length > 1"><b>There are multiple PMS Integrations configured for your organization.</b></div>

    </div>
</div>
<div ng-if="!loading" class="modal-footer" style="text-align: center">
    <button ng-if="pms.selectedProperty && !pms.config.importId" class="btn btn-warning contact-submit" ng-click="connect(true)">Connect</button>
    <button ng-if="pms.config.importId" class="btn btn-warning contact-submit" ng-click="bestmatch()">Map Best Match</button>
    <button ng-if="pms.config.importId" class="btn btn-success contact-submit" ng-click="connect(false)">Save Floor Plans</button>
</div>
