<h2 class="mainheader">Manage Properties
    <hr>
</h2>

<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);"><div ng-bind-html="alert.msg | sanitize"></div></alert>
<div ng-show="!localLoading" style="display:block;width:100px;margin:50px auto">
    <img src="/images/squares.gif" style="width:100px">
</div>
<div ng-show="localLoading">
    <div class="btn-group action_dropdown pull-left" ng-if="me.permissions.indexOf('Properties/Create') > -1">
        <button type="button" class="btn btn-default dropdown-toggle btn-sm"ng-click="edit(null,false)">
            <span class="fa fa-plus"></span> Add Property
        </button>
    </div>

    <div class="btn-group action_dropdown pull-right">
        <button type="button" class="btn btn-default dropdown-toggle btn-sm" tooltip="Download Results" ng-click="download()">
            <span class="fa fa-download"></span>
        </button>
    </div>


    <div class="btn-group action_dropdown stay_open_button pull-right" style="margin-right:5px">
        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false" tooltip="Filters">
            <span class="fa fa-filter"></span> <span class="caret"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right" role="menu" style="padding-left:10px" onclick="event.stopPropagation();">
            <table>
                <tr>
                    <td class="center">
                        <input type="checkbox" ng-model="showActive" ng-click="calcActive()" id="showActive">
                    </td>
                    <Td>
                        &nbsp;<label for="showActive" style="font-weight: normal">Active</label>
                    </Td>
                </tr>

                <tr>
                    <td class="center">
                        <input type="checkbox" ng-model="showInactive" ng-click="calcActive()" id="showInactive">
                    </td>
                    <Td>
                        &nbsp;<label for="showInactive" style="font-weight: normal">Inactive</label>
                    </Td>
                </tr>

                <tr>
                    <td>
                        <select class="form-control input-sm" ng-model="limit" style="width:50px;display:inline-block;padding:2px !important;font-size:11px;height:25px"
                        ng-change="resetPager()"
                        ng-options="item for item in limits">
                        </select>
                    </td>
                    <Td>
                        &nbsp;Rows
                    </Td>
                </tr>
            </table>
        </div>
    </div>

    <div class="btn-group action_dropdown stay_open_button pull-right" style="margin-right:5px">
        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false" tooltip="Show/Hide Columns">
            <span class="fa fa-table"></span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" style="padding-left:10px" onclick="event.stopPropagation();">
            <li><div class="checkbox"><label><input type="checkbox" ng-model="show.rownumber" ng-checked="show.rownumber" ng-click="columnsChanged=true"> Row Number</label></div></li>
            <li><div class="checkbox"><label><input type="checkbox" ng-model="show.date" ng-checked="show.date" ng-click="columnsChanged=true"> Date</label></div></li>
            <li><div class="checkbox"><label><input type="checkbox" ng-model="show.name" ng-checked="show.name" ng-click="columnsChanged=true"> Name</label></div></li>
            <li><div class="checkbox"><label><input type="checkbox" ng-model="show.address" ng-checked="show.address" ng-click="columnsChanged=true"> Address</label></div></li>
            <li><div class="checkbox"><label><input type="checkbox" ng-model="show.city" ng-checked="show.city" ng-click="columnsChanged=true"> City</label></div></li>
            <li><div class="checkbox"><label><input type="checkbox" ng-model="show.state" ng-checked="show.state" ng-click="columnsChanged=true"> State</label></div></li>
            <li><div class="checkbox"><label><input type="checkbox" ng-model="show.zip" ng-checked="show.zip" ng-click="columnsChanged=true"> Zip</label></div></li>
            <li><div class="checkbox"><label><input type="checkbox" ng-model="show.totalUnits" ng-checked="show.totalUnits" ng-click="columnsChanged=true"> Total Units</label></div></li>
            <li><div class="checkbox"><label><input type="checkbox" ng-model="show.occupancy" ng-checked="show.occupancy" ng-click="columnsChanged=true"> Occupancy %</label></div></li>
            <li><div class="checkbox"><label><input type="checkbox" ng-model="show.ner" ng-checked="show.ner" ng-click="columnsChanged=true"> Net Eff. Rent</label></div></li>
            <li><div class="checkbox"><label><input type="checkbox" ng-model="show.active" ng-checked="show.active" ng-click="columnsChanged=true"> Active</label></div></li>
            <li><div class="checkbox"><label><input type="checkbox" ng-model="show.company" ng-checked="show.company" ng-click="columnsChanged=true"> Company</label></div></li>
            <li><div class="checkbox"><label><input type="checkbox" ng-model="show.tools" ng-checked="show.tools" ng-click="columnsChanged=true"> Actions</label></div></li>
        </ul>
    </div>

    <div class="form-group has-feedback pull-right grid-search" style="margin-right:5px">
        <input type="text" class="form-control input-sm"
               placeholder="Search Properties"
               ng-model="searchText"
               ng-change="resetPager()">
        <i class="fa fa-search form-control-feedback" style="color:#ccc"></i>
    </div>


    <br clear="all">
    <div class="maingrid wrapper">
        <div class="header"></div>
        <table class="table table-condensed table-striped table-hover">
            <tbody>
            <tr class="thead">
            <th style="width:24px"></th>
            <th ng-show="show.rownumber">#</th>
            <th ng-show="show.date" class="sortable" ng-click="toggleSort('date')">
                <div class="pull-left">Date</div>
                <div class="pull-right" ng-show="sort.date == null"><i class="fa fa-sort"></i></div>
                <div class="pull-right" ng-show="sort.date === true"><i class="fa fa-sort-down"></i></div>
                <div class="pull-right" ng-show="sort.date === false"><i class="fa fa-sort-up"></i></div>
            </th>
            <th ng-show="show.name" class="sortable" ng-click="toggleSort('name')">
                <div class="pull-left">Name</div>
                <div class="pull-right" ng-show="sort.name == null"><i class="fa fa-sort"></i></div>
                <div class="pull-right" ng-show="sort.name === true"><i class="fa fa-sort-down"></i></div>
                <div class="pull-right" ng-show="sort.name === false"><i class="fa fa-sort-up"></i></div>
            </th>
            <th ng-show="show.address" class="sortable" ng-click="toggleSort('address')">
                <div class="pull-left">Address</div>
                <div class="pull-right" ng-show="sort.address == null"><i class="fa fa-sort"></i></div>
                <div class="pull-right" ng-show="sort.address === true"><i class="fa fa-sort-down"></i></div>
                <div class="pull-right" ng-show="sort.address === false"><i class="fa fa-sort-up"></i></div>
            </th>
            <th ng-show="show.city" class="sortable" ng-click="toggleSort('city')">
                <div class="pull-left">City</div>
                <div class="pull-right" ng-show="sort.city == null"><i class="fa fa-sort"></i></div>
                <div class="pull-right" ng-show="sort.city === true"><i class="fa fa-sort-down"></i></div>
                <div class="pull-right" ng-show="sort.city === false"><i class="fa fa-sort-up"></i></div>
            </th>
            <th ng-show="show.state" style="cursor:pointer;min-width:65px;width:65px" ng-click="toggleSort('state')">
                <div class="pull-left">State</div>
                <div class="pull-right" ng-show="sort.state == null"><i class="fa fa-sort"></i></div>
                <div class="pull-right" ng-show="sort.state === true"><i class="fa fa-sort-down"></i></div>
                <div class="pull-right" ng-show="sort.state === false"><i class="fa fa-sort-up"></i></div>
            </th>
            <th ng-show="show.zip" class="sortable" ng-click="toggleSort('zip')">
                <div class="pull-left">Zip</div>
                <div class="pull-right" ng-show="sort.zip == null"><i class="fa fa-sort"></i></div>
                <div class="pull-right" ng-show="sort.zip === true"><i class="fa fa-sort-down"></i></div>
                <div class="pull-right" ng-show="sort.zip === false"><i class="fa fa-sort-up"></i></div>
            </th>
            <th ng-show="show.totalUnits" style="cursor:pointer;min-width:65px;width:65px" ng-click="toggleSort('totalUnits')">
                <div class="pull-left">Units</div>
                <div class="pull-right" ng-show="sort.totalUnits == null"><i class="fa fa-sort"></i></div>
                <div class="pull-right" ng-show="sort.totalUnits === true"><i class="fa fa-sort-down"></i></div>
                <div class="pull-right" ng-show="sort.totalUnits === false"><i class="fa fa-sort-up"></i></div>
            </th>
            <th ng-show="show.occupancy" style="cursor:pointer;min-width:58px;width:58px" ng-click="toggleSort('occupancy')">
                <div class="pull-left">Occ</div>
                <div class="pull-right" ng-show="sort.occupancy == null"><i class="fa fa-sort"></i></div>
                <div class="pull-right" ng-show="sort.occupancy === true"><i class="fa fa-sort-down"></i></div>
                <div class="pull-right" ng-show="sort.occupancy === false"><i class="fa fa-sort-up"></i></div>
            </th>
            <th ng-show="show.ner" style="cursor:pointer;min-width:60px;width:60px" ng-click="toggleSort('ner')">
                <div class="pull-left">NER</div>
                <div class="pull-right" ng-show="sort.ner == null"><i class="fa fa-sort"></i></div>
                <div class="pull-right" ng-show="sort.ner === true"><i class="fa fa-sort-down"></i></div>
                <div class="pull-right" ng-show="sort.ner === false"><i class="fa fa-sort-up"></i></div>
            </th>
            <th ng-show="show.active" class="center">
                Active
            </th>
            <th ng-show="show.company" style="cursor:pointer;min-width:92px;width:120px" ng-click="toggleSort('company')">
                <div class="pull-left">Company</div>
                <div class="pull-right" ng-show="sort.company == null"><i class="fa fa-sort"></i></div>
                <div class="pull-right" ng-show="sort.company === true"><i class="fa fa-sort-down"></i></div>
                <div class="pull-right" ng-show="sort.company === false"><i class="fa fa-sort-up"></i></div>
            </th>
            <th ng-show="show.tools" class="center"></th>
        </tr>

        <tr ng-repeat-start="row in filtered = (data | orderBy : orderBy | filter: search | filter : searchFilter) | skip : pageStart() - 1 | limitTo : limit">
            <td style="text-align: center"><i ng-show = "row.comps.length > 0" ng-class="{'fa' : true,  'fa-plus-square-o': !row.open, 'fa-minus-square-o' : row.open}" style="cursor:pointer;font-size:18px;padding-top:2px" ng-click="toggleOpen(row)"></i></td>
            <td ng-show="show.rownumber">{{pageStart() + $index}}.</td>
            <td ng-show="show.date">{{row.date | date: 'shortDate'}}</td>
            <td ng-show="show.name" ><A href="#/profile/{{row._id}}">{{row.name}}</A>
                <i class="fa fa-exclamation-triangle"
                   style="color:orange;cursor:pointer;font-size:12px;padding-left:1px"
                   ng-if="hasExcluded(row,row)"
                   ng-click="editLink(row, row)"
                   onclick="event.stopPropagation()"
                   popover-trigger="mouseenter"
                   popover-placement="right"
                   popover="This property has some floor plans that have been manually excluded from reporting and dashboard calculations."
                        ></i></td>
            <td ng-show="show.address">{{row.address}}</td>
            <td ng-show="show.city">{{row.city}}</td>
            <td ng-show="show.state">{{row.state}}</td>
            <td ng-show="show.zip">{{row.zip}}</td>
            <td ng-show="show.totalUnits" style="text-align:center">{{row.totalUnits == null ? '-' : row.totalUnits}}</td>
            <td ng-show="show.occupancy" style="text-align:right">{{row.survey.occupancy == null ? '-' :  row.survey.occupancy + '%'}}</td>
            <td ng-show="show.ner" style="text-align:right">{{row.survey.ner == null ? '-' : '$' + row.survey.ner }}</td>
            <td ng-show="show.active" class="center">
                <span class="fa fa-check fa-2x" ng-show="row.active"></span>
                <span class="fa fa-times fa-2x" ng-show="!row.active" style="color:#ddd"></span>
            </td>
            <td ng-show="show.company">{{row.company || '-'}}</td>
            <td ng-show="show.tools" class="center">
                <div class="form-group has-feedback pull-right" style="margin-bottom:0px; margin-right:5px">
                    <div class="btn-group action_dropdown">
                        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false" style="padding:2px 5px 0px 5px">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right skinny" role="menu">
                            <li><a href ng-click="edit(row._id, false)"><span class="fa fa-building"></span> Edit Property</a></li>
                            <li><a href ng-click="addComp(row)"><span class="fa fa-plus-circle"></span> Add Comp</a></li>
                            <li ng-if="row.orgid"><a href ng-click="manageUsers(row)"><span class="fa fa-users"></span> Assign Users</a></li>
                            <li ng-if="me.permissions.indexOf('Properties/Deactivate') > -1 && !row.active"><a href ng-click="toggleActive(row)" style="text-decoration:none"><span class="fa fa-check"></span> Activate</a></li>
                            <li ng-if="me.permissions.indexOf('Properties/Deactivate') > -1 && row.active"><a href ng-click="toggleActive(row)"  style="text-decoration:none"><span class="fa fa-times"></span> De-activate</a></li>
                            <li><a href ng-click="dashboard(row._id)" ><span class="fa fa-list"></span> View Dashboard</a></li>
                            <li><a href ng-click="editLink(row, row)"><span class="fa fa-chain"></span> Comped Floor Plans</a></li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr ng-if="row.open && !row.compsLoaded">
            <td colspan="100%">
                <div style="display:block;width:40px;margin:20px auto">
                    <img src="/images/squares.gif" style="width:40px">
                </div>
            </td>
        </tr>
        <tr ng-if="row.open && row.compsLoaded && row.fullcomps.length == 0">
            <td colspan="100%">
                <Br><div class="alert alert-warning" role="alert">There are currently no comps added to this property.
                    <a href ng-click="addComp(row)"><span class="fa fa-plus-circle"></span> Add Comp</a>

                </div>
            </td>
        </tr>
        <tr ng-repeat-end ng-if="row.open && row.compsLoaded && row.fullcomps.length > 0" ng-repeat="comp in row.fullcomps | orderBy : orderBy">
            <td></td>
            <td ng-show="show.rownumber"></td>
            <td ng-show="show.date">{{comp.date | date: 'shortDate'}}</td>
            <td ng-show="show.name"><i class="fa fa-building-o" style="padding-right:3px"></i> <A href="#/profile/{{comp._id}}">{{comp.name}}</A>
                <i class="fa fa-exclamation-triangle"
                   style="color:orange;cursor:pointer;font-size:12px;padding-left:1px"
                   ng-if="hasExcluded(row,comp)"
                   ng-click="editLink(row, comp)"
                   onclick="event.stopPropagation()"
                   popover-trigger="mouseenter"
                   popover-placement="right"
                   popover="This property has some floor plans that have been manually excluded from reporting and dashboard calculations."
                        ></i></td>
            <td ng-show="show.address">{{comp.address}}</td>
            <td ng-show="show.city">{{comp.city}}</td>
            <td ng-show="show.state">{{comp.state}}</td>
            <td ng-show="show.zip">{{comp.zip}}</td>
            <td ng-show="show.totalUnits" style="text-align:center">{{comp.totalUnits == null ? '-' : comp.totalUnits}}</td>
            <td ng-show="show.occupancy" style="text-align:right">{{comp.survey.occupancy == null ? '-' : comp.survey.occupancy + '%'}}</td>
            <td ng-show="show.ner" style="text-align:right">{{comp.survey.ner == null ? '-' : '$' + comp.survey.ner }}</td>
            <td ng-show="show.active" class="center">
                <span class="fa fa-check fa-2x" ng-show="comp.active"></span>
                <span class="fa fa-times fa-2x" ng-show="!comp.active" style="color:#ddd"></span>
            </td>
            <td ng-show="show.company">{{comp.company || '-'}}</td>
            <td ng-show="show.tools" class="center">
                <div class="form-group has-feedback pull-right" style="margin-bottom:0px; margin-right:5px">
                    <div class="btn-group action_dropdown">
                        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false" style="padding:2px 5px 0px 5px">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right skinny" role="menu">
                            <li><a href ng-click="edit(comp._id, true, row)"><span class="fa fa-building"></span> Edit Comp</a></li>
                            <li><a href ng-click="editLink(row, comp)"><span class="fa fa-chain"></span> Comped Floor Plans</a></li>
                            <li><a href ng-click="unlinkComp(row, comp)"><span class="fa fa-times"></span> Remove Comp</a></li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>

        </tbody>

    </table>

    <div class="pull-left grid-show" style="padding-top:5px;">
        Showing {{pageStart()}} to {{pageEnd()}} of {{filtered.length}}
        <span ng-show="filtered.length < data.length">(filtered from {{data.length}})</span>
    </div>
    <div class="pull-right grid-pager">
        <pagination ng-show="filtered.length > limit" max-size="5" total-items="filtered.length" ng-model="currentPage" class="pagination-sm" items-per-page="limit"></pagination>
    </div>
    <br clear="all" />
    </div>
</div>
