<h2 class="mainheader">Manage Properties
    <hr>
</h2>
<div ng-show="!localLoading && !apiError" style="display:block;width:100px;margin:50px auto">
    <img src="/images/squares.gif" style="width:100px">
</div>
<div ng-show="apiError" style="display:block;width:100px;margin:50px auto">
    <img src="/images/api-down-icon.png" style="width:100px">
</div>
 <div ng-show="apiError" class="apiError mb-40 text-center">
    <p>Pretend you didn't see this! Something went wrong and we can only show you this message. <br> Sorry for the trouble. Please try <a href='javascript:location.reload();'>refreshing</a> the page</p>
 </div>
<div ng-show="localLoading && !apiError">
    <div class="btn-group action_dropdown pull-left" ng-if="me.permissions.indexOf('Properties/Create') > -1" style="margin-right:10px">
        <button type="button" class="btn btn-default dropdown-toggle btn-sm"ng-click="edit(null,false, null, false)">
            <span class="fa fa-plus"></span> Add Property
        </button>
    </div>

    <div class="btn-group action_dropdown pull-left" ng-if="me.permissions.indexOf('Properties/Custom') > -1">
        <button ng-if="!customLimitReached" type="button" class="btn btn-default dropdown-toggle btn-sm" ng-click="cloneCustom()">
            <div class="triangle"></div>
            <span class="fa fa-plus"></span> Add Custom Property
        </button>

        <button ng-if="customLimitReached"
                style="opacity: 0.5; cursor: not-allowed;margin-right:10px"
                popover-trigger="'mouseenter'"
                popover-placement="bottom"
                popover-title="Your have reached your limit of custom properties."
                uib-popover="Please contact support to increase your limit."
                type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false">
            <div class="triangle"></div>
            <i class="fa fa-lock"></i> Add Custom Property
        </button>
    </div>

    <div class="btn-group action_dropdown pull-right">
        <button type="button" class="btn btn-default dropdown-toggle btn-sm"
                uib-tooltip="Download Results"
                tooltip-placement="top"
                ng-click="download()">
            <span class="fa fa-download"></span>
        </button>
    </div>


    <div class="btn-group action_dropdown stay_open_button pull-right" style="margin-right:5px"  ng-if="me.permissions.indexOf('Admin') > -1">
        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false"
                uib-tooltip="Filters"
                tooltip-placement="top"
        >
            <span class="fa fa-filter"></span> <span class="caret"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right" role="menu" style="padding-left:10px" onclick="event.stopPropagation();">
            <table>
                <tr ng-if="me.permissions.indexOf('Admin') > -1">
                    <th colspan="2">
                        Active Status:
                    </th>
                </tr>
                <tr ng-if="me.permissions.indexOf('Admin') > -1">
                    <td class="center">
                        <input type="checkbox" ng-model="options.showActive" ng-click="calcActive()" id="showActive">
                    </td>
                    <Td>
                        &nbsp;<label for="showActive" style="font-weight: normal">Active</label>
                    </Td>
                </tr>

                <tr ng-if="me.permissions.indexOf('Admin') > -1">
                    <td class="center">
                        <input type="checkbox" ng-model="options.showInactive" ng-click="calcActive()" id="showInactive">
                    </td>
                    <Td>
                        &nbsp;<label for="showInactive" style="font-weight: normal">Inactive</label>
                    </Td>
                </tr>
                <tr ng-if="me.permissions.indexOf('Admin') > -1 || me.permissions.indexOf('Properties/Custom') > -1">
                    <Td colspan="100%">
                        <hr style="margin: 10px 0px">
                    </Td>
                </tr>
                <tr ng-if="me.permissions.indexOf('Admin') > -1 || me.permissions.indexOf('Properties/Custom') > -1">
                    <th colspan="2">
                        Properties:
                    </th>
                </tr>
                <tr ng-if="me.permissions.indexOf('Admin') > -1 || me.permissions.indexOf('Properties/Custom') > -1">
                    <td class="center">
                        <input type="checkbox" ng-model="options.showCustom" ng-click="calcCustom()" id="showCustom">
                    </td>
                    <Td>
                        &nbsp;<label for="showCustom" style="font-weight: normal">Custom</label>
                    </Td>
                </tr>

                <tr ng-if="me.permissions.indexOf('Admin') > -1 || me.permissions.indexOf('Properties/Custom') > -1">
                    <td class="center">
                        <input type="checkbox" ng-model="options.showShared" ng-click="calcCustom()" id="showShared">
                    </td>
                    <Td nowrap style="padding-right:15px">
                        &nbsp;<label for="showShared" style="font-weight: normal">{{$root.me.orgs[0].name}}</label>
                    </Td>
                </tr>

            </table>
        </div>
    </div>

    <div class="btn-group action_dropdown stay_open_button pull-right" style="margin-right:5px">
        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false"
                uib-tooltip="Show/Hide Columns"
                tooltip-placement="top"
        >
            <span class="fa fa-table"></span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" onclick="event.stopPropagation();">
            <li class="pl-10"><div class="checkbox"><label><input type="checkbox" ng-model="show.rownumber" ng-checked="show.rownumber" ng-click="options.columnsChanged=true"> Row Number</label></div></li>
            <li class="pl-10"><div class="checkbox"><label><input type="checkbox" ng-model="show.date" ng-checked="show.date" ng-click="options.columnsChanged=true"> Date Created</label></div></li>
            <li class="pl-10"><div class="checkbox"><label><input type="checkbox" ng-model="show.name" ng-checked="show.name" ng-click="options.columnsChanged=true"> Name</label></div></li>
            <li class="pl-10"><div class="checkbox"><label><input type="checkbox" ng-model="show.address" ng-checked="show.address" ng-click="options.columnsChanged=true"> Address</label></div></li>
            <li class="pl-10"><div class="checkbox"><label><input type="checkbox" ng-model="show.city" ng-checked="show.city" ng-click="options.columnsChanged=true"> City</label></div></li>
            <li class="pl-10"><div class="checkbox"><label><input type="checkbox" ng-model="show.state" ng-checked="show.state" ng-click="options.columnsChanged=true"> State</label></div></li>
            <li class="pl-10"><div class="checkbox"><label><input type="checkbox" ng-model="show.zip" ng-checked="show.zip" ng-click="options.columnsChanged=true"> Zip</label></div></li>
            <li class="pl-10"><div class="checkbox"><label><input type="checkbox" ng-model="show.totalUnits" ng-checked="show.totalUnits" ng-click="options.columnsChanged=true"> Total Units</label></div></li>
            <li class="pl-10"><div class="checkbox"><label><input type="checkbox" ng-model="show.occupancy" ng-checked="show.occupancy" ng-click="options.columnsChanged=true"> Occupancy %</label></div></li>
            <li class="pl-10"><div class="checkbox"><label><input type="checkbox" ng-model="show.ner" ng-checked="show.ner" ng-click="options.columnsChanged=true"> Net Eff. Rent</label></div></li>
            <li class="pl-10"><div class="checkbox"><label><input type="checkbox" ng-model="show.lastUpdated" ng-checked="show.lastUpdated" ng-click="options.columnsChanged=true"> Last Survey</label></div></li>
            <li class="dropdown-header" ng-if="$root.me.roles.indexOf('Site Admin') > -1">BI:Radix Admin</li>
            <li class="pl-10" ng-if="$root.me.roles.indexOf('Site Admin') > -1;"><div class="checkbox"><label><input type="checkbox" ng-model="show.active" ng-checked="show.active" ng-click="options.columnsChanged=true"> Active/Inactive</label></div></li>
            <li class="pl-10" ng-if="$root.me.roles.indexOf('Site Admin') > -1;"><div class="checkbox"><label><input type="checkbox" ng-model="show.company" ng-checked="show.company" ng-click="options.columnsChanged=true"> Manage Org.</label></div></li>
            <li class="pl-10" ng-if="$root.me.roles.indexOf('Site Admin') > -1;"><div class="checkbox"><label><input type="checkbox" ng-model="show.company_owner" ng-checked="show.company_owner" ng-click="options.columnsChanged=true"> Owner Org.</label></div></li>
            <li class="pl-10" ng-if="$root.me.roles.indexOf('Site Admin') > -1;"><div class="checkbox"><label><input type="checkbox" ng-model="show.owner" ng-checked="show.owner" ng-click="options.columnsChanged=true"> Custom Owner</label></div></li>
            <li class="pl-10" ng-if="$root.me.roles.indexOf('Site Admin') > -1;"><div class="checkbox"><label><input type="checkbox" ng-model="show._id" ng-checked="show._id" ng-click="options.columnsChanged=true"> PropertyID</label></div></li>
            <li class="pl-10" ng-if="$root.me.roles.indexOf('Site Admin') > -1;"><div class="checkbox"><label><input type="checkbox" ng-model="show.pms" ng-checked="show.pms" ng-click="options.columnsChanged=true"> PMS Integration</label></div></li>
        </ul>
    </div>

    <div class="form-group has-feedback pull-right grid-search" style="margin-right:5px">
        <input type="text" class="form-control input-sm"
               placeholder="Search Properties"
               ng-model="searchText"
               ng-change="resetPager()">
        <i class="fa fa-search form-control-feedback" style="color:#ccc"></i>
    </div>


    <br clear="all">
    <div class="maingrid wrapper">
        <div class="header"></div>
        <table class="table table-condensed table-striped hidden-arrows table-hover">
            <tbody>
            <tr class="thead">
            <th style="width:24px"></th>
            <th ng-show="show.rownumber">#</th>
            <th ng-show="show.date" class="sortable" ng-click="toggleSort('date')">
                <div class="inline-block">Date</div>
                <div class="inline-block" ng-show="sort.date == null"><i class="fa fa-sort"></i></div>
                <div class="inline-block" ng-show="sort.date === true"><i class="fa fa-sort-down"></i></div>
                <div class="inline-block" ng-show="sort.date === false"><i class="fa fa-sort-up"></i></div>
            </th>
            <th ng-show="show.name" class="sortable" ng-click="toggleSort('name_lower')">
                <div class="inline-block">Name</div>
                <div class="inline-block" ng-show="sort.name_lower == null"><i class="fa fa-sort"></i></div>
                <div class="inline-block" ng-show="sort.name_lower === true"><i class="fa fa-sort-down"></i></div>
                <div class="inline-block" ng-show="sort.name_lower === false"><i class="fa fa-sort-up"></i></div>
            </th>
            <th ng-show="show.address" class="sortable" ng-click="toggleSort('address')">
                <div class="inline-block">Address</div>
                <div class="inline-block" ng-show="sort.address == null"><i class="fa fa-sort"></i></div>
                <div class="inline-block" ng-show="sort.address === true"><i class="fa fa-sort-down"></i></div>
                <div class="inline-block" ng-show="sort.address === false"><i class="fa fa-sort-up"></i></div>
            </th>
            <th ng-show="show.city" class="sortable" ng-click="toggleSort('city')">
                <div class="inline-block">City</div>
                <div class="inline-block" ng-show="sort.city == null"><i class="fa fa-sort"></i></div>
                <div class="inline-block" ng-show="sort.city === true"><i class="fa fa-sort-down"></i></div>
                <div class="inline-block" ng-show="sort.city === false"><i class="fa fa-sort-up"></i></div>
            </th>
            <th ng-show="show.state" class="sortable" ng-click="toggleSort('state')">
                <div class="inline-block">State</div>
                <div class="inline-block" ng-show="sort.state == null"><i class="fa fa-sort"></i></div>
                <div class="inline-block" ng-show="sort.state === true"><i class="fa fa-sort-down"></i></div>
                <div class="inline-block" ng-show="sort.state === false"><i class="fa fa-sort-up"></i></div>
            </th>
            <th ng-show="show.zip" class="sortable" ng-click="toggleSort('zip')">
                <div class="inline-block">Zip</div>
                <div class="inline-block" ng-show="sort.zip == null"><i class="fa fa-sort"></i></div>
                <div class="inline-block" ng-show="sort.zip === true"><i class="fa fa-sort-down"></i></div>
                <div class="inline-block" ng-show="sort.zip === false"><i class="fa fa-sort-up"></i></div>
            </th>
            <th ng-show="show.totalUnits" class="sortable text-right" ng-click="toggleSort('totalUnits')">
                <div class="inline-block">Units</div>
                <div class="inline-block" ng-show="sort.totalUnits == null"><i class="fa fa-sort"></i></div>
                <div class="inline-block" ng-show="sort.totalUnits === true"><i class="fa fa-sort-down"></i></div>
                <div class="inline-block" ng-show="sort.totalUnits === false"><i class="fa fa-sort-up"></i></div>
            </th>
            <th ng-show="show.occupancy" class="sortable text-right" ng-click="toggleSort('occupancy')">
                <div class="inline-block">Occ.%</div>
                <div class="inline-block" ng-show="sort.occupancy == null"><i class="fa fa-sort"></i></div>
                <div class="inline-block" ng-show="sort.occupancy === true"><i class="fa fa-sort-down"></i></div>
                <div class="inline-block" ng-show="sort.occupancy === false"><i class="fa fa-sort-up"></i></div>
            </th>
            <th ng-show="show.ner" class="sortable text-right" ng-click="toggleSort('ner')">
                <div class="inline-block">NER</div>
                <div class="inline-block" ng-show="sort.ner == null"><i class="fa fa-sort"></i></div>
                <div class="inline-block" ng-show="sort.ner === true"><i class="fa fa-sort-down"></i></div>
                <div class="inline-block" ng-show="sort.ner === false"><i class="fa fa-sort-up"></i></div>
            </th>
                <th ng-show="show.lastUpdated" class="sortable text-right" ng-click="toggleSort('lastUpdated')">
                    <div class="inline-block">Last Survey</div>
                    <div class="inline-block" ng-show="sort.lastUpdated == null"><i class="fa fa-sort"></i></div>
                    <div class="inline-block" ng-show="sort.lastUpdated === true"><i class="fa fa-sort-down"></i></div>
                    <div class="inline-block" ng-show="sort.lastUpdated === false"><i class="fa fa-sort-up"></i></div>
                </th>
            <th ng-show="show.active" class="center">
                Active
            </th>
            <th ng-show="show.company" class="sortable" ng-click="toggleSort('company')">
                <div class="inline-block">Manage Org.</div>
                <div class="inline-block" ng-show="sort.company == null"><i class="fa fa-sort"></i></div>
                <div class="inline-block" ng-show="sort.company === true"><i class="fa fa-sort-down"></i></div>
                <div class="inline-block" ng-show="sort.company === false"><i class="fa fa-sort-up"></i></div>
            </th>
                <th ng-show="show.company_owner" class="sortable" ng-click="toggleSort('company_owner')">
                    <div class="inline-block">Owner Org.</div>
                    <div class="inline-block" ng-show="sort.company_owner == null"><i class="fa fa-sort"></i></div>
                    <div class="inline-block" ng-show="sort.company_owner === true"><i class="fa fa-sort-down"></i></div>
                    <div class="inline-block" ng-show="sort.company_owner === false"><i class="fa fa-sort-up"></i></div>
                </th>
                <th ng-show="show.pms" class="sortable" ng-click="toggleSort('pms')">
                    <div class="inline-block">PMS Integration</div>
                    <div class="inline-block" ng-show="sort.pms == null"><i class="fa fa-sort"></i></div>
                    <div class="inline-block" ng-show="sort.pms === true"><i class="fa fa-sort-down"></i></div>
                    <div class="inline-block" ng-show="sort.pms === false"><i class="fa fa-sort-up"></i></div>
                </th>
                <th ng-show="show.owner" class="sortable" ng-click="toggleSort('owner')">
                    <div class="inline-block">Custom Owner</div>
                    <div class="inline-block" ng-show="sort.owner == null"><i class="fa fa-sort"></i></div>
                    <div class="inline-block" ng-show="sort.owner === true"><i class="fa fa-sort-down"></i></div>
                    <div class="inline-block" ng-show="sort.owner === false"><i class="fa fa-sort-up"></i></div>
                </th>
                <th ng-show="show._id" class="sortable" ng-click="toggleSort('_id')">
                    <div class="inline-block">PropertyID</div>
                    <div class="inline-block" ng-show="sort._id == null"><i class="fa fa-sort"></i></div>
                    <div class="inline-block" ng-show="sort._id === true"><i class="fa fa-sort-down"></i></div>
                    <div class="inline-block" ng-show="sort._id === false"><i class="fa fa-sort-up"></i></div>
                </th>
            <th ng-show="show.tools" class="center"></th>
        </tr>

        <tr ng-repeat-start="row in filtered = (data | orderBy : orderBy | filter: search | filter : searchFilter) | skip : pageStart() - 1 | limitTo : limit">
            <td style="text-align: center"><i ng-show = "row.compsExist && (!row.isCustom || row.orgid)" ng-class="{'fa' : true,  'fa-plus-square-o': !row.open, 'fa-minus-square-o' : row.open}" style="cursor:pointer;font-size:14px;padding-top:2px" ng-click="toggleOpen(row)"></i></td>
            <td ng-show="show.rownumber">{{pageStart() + $index}}.</td>
            <td ng-show="show.date">{{row.date | date: 'shortDate'}}</td>
            <td ng-show="show.name" ng-class="{'triangle' : row.isCustom}" >
                <div class="triangle" ng-if="row.isCustom"
                     popover-trigger="'mouseenter'"
                     popover-placement="top"
                     popover-append-to-body="true"
                     uib-popover="This is a custom property - these properties are personal properties created by and only visible to you"

                ></div>
                {{row.name}}
                <i class="fa fa-exclamation-triangle warning"
                   style="cursor:pointer;font-size:14px;padding-left:1px;color:orange"
                   ng-if="row.needsSurvey"
                   popover-trigger="'mouseenter'"
                   popover-placement="right"
                   popover-append-to-body="true"
                   uib-popover="This property has recent changes to its floor plans that aren't visible. To see latest floor plans, please do a new property survey."
                ></i>
            </td>
            <td ng-show="show.address">{{row.address}}</td>
            <td ng-show="show.city">{{row.city}}</td>
            <td ng-show="show.state">{{row.state}}</td>
            <td ng-show="show.zip"><span class="pr-8">{{row.zip}}</span></td>
            <td ng-show="show.totalUnits" class="text-right"><span class="pr-8">{{row.totalUnits == null ? '-' : row.totalUnits}}</span></td>
            <td ng-show="show.occupancy" class="text-right"><span class="pr-8">{{row.survey.occupancy == null ? '-' :  row.survey.occupancy + '%'}}</span></td>
            <td ng-show="show.ner" class="text-right"><span class="pr-8">{{row.survey.ner == null ? '-' : '$' + row.survey.ner }}</span></td>
            <td ng-show="show.lastUpdated" class="text-right"><span class="pr-8">{{row.survey.date == null ? 'Never' : row.survey.date | date : 'shortDate' }}</span></td>
            <td ng-show="show.active" class="center">
                <span class="fa fa-check fa-2x" ng-show="row.active"></span>
                <span class="fa fa-times fa-2x" ng-show="!row.active" style="color:#ddd"></span>
            </td>
            <td ng-show="show.company">{{row.company || '-'}}</td>
            <td ng-show="show.company_owner">{{row.company_owner || '-'}}</td>
            <td ng-show="show.pms">{{row.pms.importProvider == null ? '-' : row.pms.importProvider }}</td>
            <td ng-show="show.owner">{{row.owner}}</td>
            <td ng-show="show._id">{{row._id}}</td>
            <td ng-show="show.tools" class="center">
                <div class="form-group has-feedback pull-right" style="margin-bottom:0px; margin-right:5px">
                    <div class="btn-group action_dropdown">
                        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false" style="padding:2px 5px 0px 5px">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right skinny" role="menu">
                            <li><a href ng-click="edit(row._id, false)"><span class="fa fa-pencil fa-fw"></span> Edit Property</a></li>
                            <li ng-if="(!row.isCustom || row.orgid)"><a href ng-click="addComp(row)"><span class="fa fa-building-o fa-fw"></span> Manage Comps</a></li>
                            <li ng-if="!row.isCustom && row.orgid"><a href ng-click="manageUsers(row)"><span class="fa fa-users fa-fw"></span> Assign Users</a></li>

                            <li ng-if="row.isCustom && !row.active"><a href ng-click="toggleDelete(row)" style="text-decoration:none"><span class="fa fa-check fa-fw"></span> Un-delete</a></li>
                            <li ng-if="row.isCustom && row.active"><a href ng-click="toggleDelete(row)"  style="text-decoration:none"><span class="fa fa-minus fa-fw"></span> Delete</a></li>

                            <li ng-if="(!row.isCustom || row.orgid)"><a href ng-click="dashboard(row._id)" ><span class="fa fa-list fa-fw"></span> View Dashboard</a></li>
                            <li ng-if="(!row.isCustom || row.orgid)"><a href ng-click="editLink(row, row)"><span class="fa fa-chain fa-fw"></span> Comped Floor Plans</a></li>
                            <li ng-if="me.permissions.indexOf('Properties/Custom') > -1 && !customLimitReached"><a href ng-click="clone(row)"><span class="fa fa-copy fa-fw"></span> Create Custom Copy</a></li>
                            <li ng-if="me.permissions.indexOf('Properties/Custom') > -1 && customLimitReached"><a href="javascript:void(0)"
                                                                                                                  onclick="event.preventDefault();event.stopPropagation()"
                                                                                                                  style="opacity: 0.5; cursor: not-allowed;margin-right:10px"
                                                                                                                  popover-trigger="'mouseenter'"
                                                                                                                  popover-placement="bottom"
                                                                                                                  popover-title="Your have reached your limit of custom properties."
                                                                                                                  uib-popover="Please contact support to increase your limit."
                            ><span class="fa fa-copy fa-fw"></span> Create Custom Copy</a></li>
                            <li class="dropdown-header" ng-if="me.permissions.indexOf('Admin') > -1">BI:Radix Admin</li>
                            <!--<li><a href ng-click="PMSintegration(row)" style="text-decoration:none"><span class="fa fa-cloud-download"></span> PMS Integration</a></li>-->
                            <li ng-if="!row.isCustom && me.permissions.indexOf('Properties/Deactivate') > -1 && !row.active"><a href ng-click="toggleActive(row)" style="text-decoration:none"><span class="fa fa-check fa-fw"></span> Activate</a></li>
                            <li ng-if="!row.isCustom && me.permissions.indexOf('Properties/Deactivate') > -1 && row.active"><a href ng-click="toggleActive(row)"  style="text-decoration:none"><span class="fa fa-minus fa-fw"></span> De-activate</a></li>
                            <li ng-if="me.permissions.indexOf('Admin') > -1"><a href="/#history?property={{row._id}}" target="_blank"><span class="fa fa-history fa-fw"></span> View Activity</a></li>
                            <li ng-if="me.permissions.indexOf('Admin') > -1"><a href
                                                                                                 onclick="event.preventDefault();event.stopPropagation()"
                                                                                                 popover-trigger="'mouseenter'"
                                                                                                 popover-placement="left"
                                                                                                 popover-append-to-body="true"
                                                                                                 popover-title="Connections"
                                                                                                 uib-popover-html="getPropertyDD(row._id)"
                            ><span class="fa fa-share-alt fa-fw"></span> Property Connections</a></li>
                            <li ng-if="me.permissions.indexOf('Admin') > -1 && row.orgid"><a href ng-click="pmsSetup(row)"><span class="fa fa-cloud-download fa-fw"></span> PMS Integration</a></li>

                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr ng-if="row.open && !row.compsLoaded">
            <td colspan="100%">
                <div style="display:block;width:40px;margin:20px auto">
                    <img src="/images/squares.gif" style="width:40px">
                </div>
            </td>
        </tr>
        <tr ng-repeat-end ng-if="row.open && row.compsLoaded && row.fullcomps.length > 0" ng-repeat="comp in row.fullcomps | orderBy : ['orderNumber','name']" style="font-size:9pt;">
            <td></td>
            <td ng-show="show.rownumber"></td>
            <td ng-show="show.date">{{comp.date | date: 'shortDate'}}</td>
            <td class="pl-20" ng-show="show.name" ng-class="{'triangle' : comp.isCustom}">
                <div class="triangle" ng-if="comp.isCustom"
                     popover-trigger="'mouseenter'"
                     popover-placement="top"
                     popover-append-to-body="true"
                     uib-popover="This is a custom property - these properties are personal properties created by and only visible to you"

                ></div>
                {{$index + 1}}. {{comp.name}}
                <i class="fa fa-exclamation-triangle warning"
                   style="cursor:pointer;font-size:12px;padding-left:1px;color:orange"
                   ng-if="comp.needsSurvey"
                   popover-trigger="'mouseenter'"
                   popover-placement="right"
                   popover-append-to-body="true"
                   uib-popover="This property has recent changes to its floor plans that aren't visible. To see latest floor plans, please do a new property survey."
                ></i>
            </td>
            <td ng-show="show.address">{{comp.address}}</td>
            <td ng-show="show.city">{{comp.city}}</td>
            <td ng-show="show.state">{{comp.state}}</td>
            <td ng-show="show.zip"><span class="pr-8">{{row.zip}}</span></td>
            <td ng-show="show.totalUnits" class="text-right"><span class="pr-8">{{comp.totalUnits == null ? '-' : comp.totalUnits}}</span></td>
            <td ng-show="show.occupancy" class="text-right"><span class="pr-8">{{comp.survey.occupancy == null ? '-' : comp.survey.occupancy + '%'}}</span></td>
            <td ng-show="show.ner" class="text-right"><span class="pr-8">{{comp.survey.ner == null ? '-' : '$' + comp.survey.ner }}</span></td>
            <td ng-show="show.lastUpdated" class="text-right"><span class="pr-8">{{comp.survey.date == null ? 'Never' : comp.survey.date | date : 'shortDate' }}</span></td>
            <td ng-show="show.active" class="center">
                <span class="fa fa-check fa-2x" ng-show="comp.active"></span>
                <span class="fa fa-times fa-2x" ng-show="!comp.active" style="color:#ddd"></span>
            </td>
            <td ng-show="show.company">{{comp.company || '-'}}</td>
            <td ng-show="show.company_owner">{{comp.company_owner || '-'}}</td>
            <td ng-show="show.owner">{{comp.owner || '-'}}</td>
            <td ng-show="show.pms">{{row.pms.importProvider == null ? '-' : row.pms.importProvider}}</td>
            <td ng-show="show._id">{{comp._id}}</td>
            <td ng-show="show.tools" class="center">
                <div class="form-group has-feedback pull-right" style="margin-bottom:0px; margin-right:5px">
                    <div class="btn-group action_dropdown">
                        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false" style="padding:2px 5px 0px 5px">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right skinny" role="menu">
                            <li><a href ng-if="comp.canEdit" ng-click="edit(comp._id, true, row, false)"><span class="fa fa-pencil fa-fw"></span> Edit Comp</a></li>
                            <li><a href="javascript:void(0)"
                                   onclick="event.preventDefault();event.stopPropagation()"
                                   ng-if="!comp.canEdit" style="cursor: not-allowed;opacity: 0.5;"
                                      popover-trigger="'mouseenter'"
                                   popover-placement="left"
                                   popover-append-to-body="true"
                                   uib-popover-html="'This property is managed by <B>{{comp.company}}</B>.<hr class=popoverhr>It should be up-to-date and not require manual updates. If this property is not showing latest information, please contact support@biradix.com'"
                            ><i class="fa fa-lock fa-fw"></i> Edit Comp</a></li>
                            <li><a href ng-click="addComp(row)"><span class="fa fa-minus fa-fw"></span> Remove Comp</a></li>
                            <li><a href ng-click="editLink(row, comp)"><span class="fa fa-chain fa-fw"></span> Comped Floor Plans</a></li>
                            <li ng-if="!comp.isCustom"><a href ng-click="surveySwap(comp)" ng-if="!comp.orgid"><span class="fa fa-exchange fa-fw"></span> SurveySwap</a></li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>

        </tbody>

    </table>
        <div class="pull-left grid-show" style="padding-top:5px;">
            {{filtered.length | number: 0}} items <span ng-show="filtered.length < data.length">(filtered from {{data.length}})</span>

            <select class="form-control input-sm" ng-model="limit" style="width:85px;display:inline-block;padding:1px !important;font-size:11px;height:24px"
                    ng-change="resetPager()"
                    ng-options="item + ' per page' for item in limits">
            </select>
        </div>
    <div class="pull-right grid-pager">
        <ul uib-pagination ng-show="filtered.length > limit" max-size="5" total-items="filtered.length" ng-model="currentPage" class="pagination-sm" items-per-page="limit"></ul>
    </div>
    <br clear="all" />
    </div>
</div>
