<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">Assign Users: {{property.name}}</h2>
    <hr>
</div>

<div class="modal-body">
    <div>
        Please configure contact(s) for <b>{{property.name}}</b> below. Once contacts are added, Survey Swap will be an option when performing a new property survey.<Br></div>
    <Br>
    <div ng-if="loading" style="display:block;width:100px;margin:20px  auto">
        <img src="/images/squares.gif" style="width:100px">
    </div>
    <div ng-if="!loading">
        <div ng-if="!users.length">
            <div class="alert alert-info" role="alert"  style="margin-bottom:0px !important;">There are currently no <b>Survey Swap</b> contacts setup for this comp.</div>
            <Br>
        </div>
        <form role="form" name="myForm" id="myForm" autocomplete="on" ng-submit="submit()">
            <table class="table table-condensed table-striped table-hover" style="margin-bottom:10px">
                <tbody>
                <tr class="thead">
                    <th>First</th>
                    <th>Last</th>
                    <th>Email</th>
                    <th></th>
                </tr>

                <tr ng-repeat="row in users">
                    <td>{{row.first}}</td>
                    <td>{{row.last}}</td>
                    <td>{{row.email}}</td>
                    <td style="vertical-align: middle !important;"><i class="fa fa-times fa-fw"></i></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input-sm" ng-model="newGuest.first" id="newGuestfirst" placeholder="First"></td>
                    <td><input type="text" class="form-control input-sm" ng-model="newGuest.last" id="newGuestlast" placeholder="Last"></td>
                    <td><input type="text" class="form-control input-sm" ng-model="newGuest.email" id="newGuestemail" placeholder="Email"></td>
                    <td style="vertical-align: middle !important;"><i class="fa fa-plus fa-fw"></i></td>
                </tr>
                </tbody>
            </table>

        </form>
    </div>
</div>
