body
{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.loggedout-main
{
    margin: 0 auto;
    max-width: 422px;
    border-radius: 5px;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.loggedout-container
{
    padding: 20px 30px 30px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}


A:hover
{
    text-decoration: none
}