<style>

    @media print {
        @page {
            margin: 0.1cm;
        }

        body {
            width:1210px;
        }

        .left-print {
            float:left;
            width:25%;
        }
        .right-print {
            float:left;
            width:75%;
        }

    }





</style>
<div ng-show="localLoading && myProperties.length == 0" style="text-align:center">
    <div class="alert alert-warning" role="alert"><b>There are no properties assigned to your account</b></div>

</div>
<div ng-show="!localLoading && myProperties.length > 0" style="display:block;width:50px;margin:50px auto">
    <i class="fa fa-spinner fa-spin fa-4x" style="color:#00d4b4"></i>
</div>
<div class="row" ng-show="localLoading && myProperties.length > 0">
    <div class="col-md-4 col-sm-5 col-lg-3 left-print">
        <div class="panel panel-info">
            <div class="panel-heading">Property</div>
            <div class="panel-body">
                <div ng-show="myProperties.length == 1"><h4 style="margin:0px">{{selectedProperty.name}}</h4></div>
                <select ng-show="myProperties.length > 1" class="form-control input-sm" ng-change="changeProperty()" ng-model="selectedProperty"
                        ng-options="item.name for item in myProperties">
                </select><br>
                <property-profile property="property"></property-profile>

                <div style="width:100px;margin:10px auto 0px auto" class="hidden-print">
                    <button class="btn btm-sm btn-primary" ng-click="viewProfile()">View Profile</button>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">Map</div>
            <div class="panel-body">
                <div id="map" style="width:100%;height:300px"></div>


                <script>

                    var mapOptions = {
                        zoom: 9,
                        center: new google.maps.LatLng(33.545973, -111.923647),
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    }
                    var elMap = document.getElementById("map");
                    var oMap = new google.maps.Map(elMap, mapOptions);


                </script>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-7 col-lg-9 right-print">
        <div class="panel panel-info">
            <div class="panel-heading">Trends</div>
            <div class="panel-body">
                <div id="container" style="height:300px;width:840px;" class="visible-print-block"></div>
                <div id="container2" style="height:300px;" class="hidden-print"></div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">Competitors</div>
            <div class="panel-body" style="overflow-x:auto">
                <table class="table table-condensed table-striped" style="font-size:8pt">
                    <tr>
                        <th>
                            Name/Address
                        </th>
                        <th>
                            Units
                        </th>
                        <th>
                            Unit %
                        </th>
                        <th>
                            Sqft
                        </th>
                        <th>
                            Rent
                        </th>
                        <th>
                            Con/12 Mos.
                        </th>
                        <th>
                            Net Eff. Rent
                        </th>
                        <th>
                            NER/Sqft
                        </th>
                        <th>
                            &nbsp;
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Alta Heights<Br>
                            145 Heights Boulevard
                        </td>
                        <td>
                            256
                        </td>
                        <td>
                            100%
                        </td>
                        <td>
                            849
                        </td>
                        <td>
                            $1485
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $1485
                        </td>
                        <td>
                            $1.75
                        </td>
                        <td>
                            <i class="fa fa-edit"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Alta Heights<Br>
                            145 Heights Boulevard
                        </td>
                        <td>
                            256
                        </td>
                        <td>
                            100%
                        </td>
                        <td>
                            849
                        </td>
                        <td>
                            $1485
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $1485
                        </td>
                        <td>
                            $1.75
                        </td>
                        <td>
                            <i class="fa fa-edit"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>

<!--<div class="row">-->
    <!--<div class="col-md-12">-->
        <!--<div class="panel panel-success">-->
            <!--<div class="panel-heading">Proof Of Concept</div>-->
            <!--<div class="panel-body">-->
                <!--Read Alliance Market Survey xls: <A href="/poc/01. Beach House Market Survey 10-30-13.xls">01. Beach House Market Survey 10-30-13.xls</A> <A href="/poc/readXls" style="color:orangered">Run It</A></A><br>-->
                <!--Output an xlsx report with borders: <A href="http://biradixsheets.apphb.com/"  style="color:orangered">Download from AppHarbor</A><Br>-->
                <!--Take a PDF of dynamic page: <A href="/poc/pdf" style="color:orangered">Pdf</A><Br>-->
                <!--Take a PDF of google: <A href="/poc/pdf/google" style="color:orangered">Pdf Google</A><Br>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->



