<h2 class="mainheader">Activity History
    <hr>
</h2>

<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);"><div ng-bind-html="alert.msg | sanitize"></div></alert>
<div ng-show="!localLoading" style="display:block;width:100px;margin:50px auto">
    <img src="/images/squares.gif" style="width:100px">
</div>
<div ng-show="localLoading">

    <div class="row">
        <div class="col-xs-6 col-md-3" style="height:55px">
            Date Range:<Br>
            <daterange-picker daterange="daterange"></daterange-picker>
        </div>

        <div class="col-xs-6 col-md-3" style="height:55px">
            Types: <Br>
            <filter-list options="typeOptions" items="typeItems"></filter-list>
        </div>

        <div class="col-xs-6 col-md-3" style="height:55px">
            Properties:<br>
            <filter-list-ajax options="propertyOptions" model="propertyItems" search="autocompleteproperties"></filter-list-ajax>
        </div>

        <div class="col-xs-6 col-md-3" style="height:55px">
            Users: <Br>
            <filter-list-ajax options="userOptions" model="userItems" search="autocompleteusers"></filter-list-ajax>
        </div>

        <div class="col-xs-6 col-md-3" style="height:55px">
            Rows: <Br>
            <select class="form-control input-sm" ng-model="pager.itemsPerPage"
                    ng-change="resetPager()"
                    ng-options="item for item in limits">
            </select>
        </div>
        <div class="col-xs-6 col-md-3" style="height:55px" ng-if="me.permissions.indexOf('Admin') > -1">
            Search: <Br>
            <input type="text" class="form-control input-sm" ng-model="options.search">
        </div>
        <div class="col-xs-1" style="height:55px">
            <br>
            <button class="btn btn-primary btn-sm" ng-click="resetPager()">Filter</button>
        </div>
    </div>



<Br>
    <div class="alert alert-warning" role="alert" ng-if="!activity || activity.length == 0"><b>There are no results matching your criteria.</b></div>

    <div class="maingrid wrapper"  style="overflow-x:auto" ng-if="activity && activity.length > 0">
        <div class="header"></div>
    <table class="table table-condensed table-striped table-hover" style="margin-bottom:10px">
        <tbody>
        <tr class="thead">
            <th style="width:24px"></th>
            <th>Date</th>
            <th>Action</th>
            <th>Details</th>
            <th>Operator</th>
            <th>&nbsp;</th>
        </tr>
        <tr ng-repeat-start="row in activity" ng-style="{'color' : row.reverted ? 'silver' : ''}">
            <td style="text-align: center"><i
                    ng-if="me.permissions.indexOf('History/MoreInfo') > -1 || row.data"
                    ng-class="{'fa' : true,  'fa-plus-square-o': !row.open, 'fa-minus-square-o' : row.open}" style="cursor:pointer;font-size:14px;padding-top:2px" ng-click="row.open = !(row.open || false);"></i></td>
            <td>{{row.date | date: 'short'}}</td>
            <td>{{getAudit(row.type).value}}</td>
            <td>{{row.description}}</td>
            <td>{{row.operator.name}}</td>
            <td>
                <span ng-if="getAudit(row.type).undo && row.revertedFromId" class="fa fa-info-circle" tooltip-placement="left" uib-tooltip="This action is due to an earlier undo"></span>
                <a ng-if="row.canUndo && getAudit(row.type).undo && !row.reverted" href ng-click="undo(row)" uib-tooltip="Undo"><span class="fa fa-undo"></span></a>
                <a ng-if="!row.canUndo && getAudit(row.type).undo && !row.reverted" href style="cursor: not-allowed;" popover-trigger="'mouseenter'"
                   popover-placement="left"
                   popover-title="This property is managed by a BI:Radix user."
                   uib-popover="It should be up-to-date and not require manual updates. If this property is not showing latest information, please contact support@biradix.com."
                   popover-append-to-body="true"
                ><span class="fa fa-lock"></span></a>
                <span ng-if="row.reverted" class="fa fa-undo" style="color:red" uib-tooltip="Already undone"></span>
            </td>
        </tr>

        <tr ng-if="me.permissions.indexOf('Admin') > -1" ng-repeat="violation in row.dataIntegrityViolationSet.violations">
            <Td colspan="100%" ng-style="{'background-color' : violation.dataIntegrityCheck.severity == 1 ? 'pink' : 'gold'}">
                <B>{{violation.dataIntegrityCheck.name}}</B><Br>
                <span ng-bind-html="violation.description"></span>
            </Td>
        </tr>
        <tr ng-if="row.open">
            <td colspan="100%">
                <h4 ng-if="row.data && (row.data[0].description || row.data.length > 1)">Details</h4>
                <ul ng-if="row.data">
                    <li ng-repeat="subrow in row.data" ng-if="subrow.description || subrow.picture">
                        <span ng-if="!subrow.date && !subrow.picture">{{subrow.description}}</span>
                        <span ng-if="subrow.date">{{subrow.description}} {{subrow.date | date: 'MM/dd/yyyy'}}</span>
                        <img ng-if="subrow.picture" ng-src="{{subrow.picture}}" ng-style="{'max-width':'150px','border':'1px solid #ccc','margin-bottom':'5px','opacity':subrow.deleted ? '.2' : '1'}">
                    </li>
                </ul>
                <div ng-if="me.permissions.indexOf('History/MoreInfo') > -1">
                    <h4>More Info</h4>
                    <input class="form-control input-sm" value="{{row.context.ip}}"><Br>
                    <input class="form-control input-sm" value="{{row.context.user_agent}}"><Br>
                    <textarea class="form-control input-sm" ng-if="me.permissions.indexOf('Admin') > -1 && row.adminOnly" style="height:150px">{{row.adminOnly}}</textarea>
                </div>
            </td>
        </tr>
        <tr ng-if="false" ng-repeat-end></tr>
        </tbody>
     </table>

    <div class="pull-left grid-show" style="padding-top:5px;" ng-if="activity && activity.length > 0">
        Showing {{pageStart()}} to {{pageEnd()}} of {{pager.count}}
    </div>
    <div class="pull-right grid-pager" ng-if="activity && activity.length > 0">
        <ul uib-pagination ng-change="pagerChanged()" ng-show="pager.count > pager.itemsPerPage" max-size="5" total-items="pager.count" ng-model="pager.currentPage" class="pagination-sm" items-per-page="pager.itemsPerPage" style="margin-top:0px"></ul>
    </div>
    <br clear="all" />
    </div>
</div>