<h2 class="hasSidenav">Activity History</h2>
<Style>

    @media all and (min-width: 0px) and (max-width: 380px) {
        .grid-right-nav {
            margin-top:10px;
            padding-left:5px
        }
        .grid-limit {
            float:right  !important;
        }
    }

    @media all and (min-width: 0px) and (max-width: 1024px) {
        .grid-pager {
            float: left !important;
        }

        .grid-show {
            margin-right:50px;
            margin-bottom:10px
        }
    }

    @media all and (min-width: 0px) and (max-width: 767px) {

        .grid-right-nav {
            float:left;
        }

        .grid-limit {

        }
        .grid-right-nav  .has-feedback {
            margin-left:3px !important;
            width:120px !important;
        }

    }

    .grid-right-nav  .has-feedback {
        margin-left:5px;
        width: 160px;
    }
</Style>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);"><div ng-bind-html="alert.msg | sanitize"></div></alert>
<div ng-show="!localLoading" style="display:block;width:100px;margin:50px auto">
    <img src="/images/squares.gif" style="width:100px">
</div>
<div ng-show="localLoading">
    <table style="border-spacing: 4px; border-collapse: separate;">
        <Tr>
            <Td>
                Show: <select class="form-control input-sm" ng-model="pager.itemsPerPage" style="width:75px"
                              ng-change="resetPager()"
                              ng-options="item for item in limits">
            </select>
            </Td>
            <Td>
                Types: <filter-list options="typeOptions" items="typeItems"></filter-list>
            </Td>
            <Td>
                Users: <filter-list options="typeOptions" items="typeItems"></filter-list>
            </Td>
            <Td>
                Properties: <filter-list options="typeOptions" items="typeItems"></filter-list>
            </Td>
            <Td>

            </Td>
        </Tr>
    </table>

    Dates:<div style="height:3px"/> <daterange-picker daterange="daterange"></daterange-picker> <button class="btn btn-primary btn-sm" ng-click="reload()">Filter</button>


    <table class="table table-condensed table-striped table-hover" style="margin-bottom:10px">
        <thead>
        <tr>
            <th style="width:24px"></th>
            <th>Date</th>
            <th>Action</th>
            <th>Details</th>
            <th>Operator</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start="row in activity">
            <td style="text-align: center"><i ng-class="{'fa' : true,  'fa-plus-square-o': !row.open, 'fa-minus-square-o' : row.open}" style="cursor:pointer;font-size:18px;padding-top:2px" ng-click="row.open = !(row.open || false);"></i></td>
            <td>{{row.date | date: 'short'}}</td>
            <td>{{getAudit(row.type).value}}</td>
            <td>{{row.description}}</td>
            <td>{{row.operator.name}}</td>
            <td>&nbsp;</td>
        </tr>
        <tr ng-if="row.open">
            <td colspan="100%">
                <h4 ng-if="row.data">Details</h4>
                <ul ng-if="row.data">
                    <li ng-repeat="subrow in row.data">{{subrow.description}}</li>
                </ul>
                <h4>More Info</h4>
                <input class="form-control input-sm" value="{{row.context.ip}}"><Br>
                <input class="form-control input-sm" value="{{row.context.user_agent}}"><Br>
            </td>
        </tr>
        <tr ng-if="false" ng-repeat-end></tr>
        </tbody>
     </table>

    <div class="pull-left grid-show" style="padding-top:5px;">
        Showing {{pageStart()}} to {{pageEnd()}} of {{pager.count}}
    </div>
    <div class="pull-right grid-pager">
        <pagination ng-change="pagerChanged()" ng-show="pager.count > pager.itemsPerPage" max-size="5" total-items="pager.count" ng-model="pager.currentPage" class="pagination-sm" items-per-page="pager.itemsPerPage" style="margin-top:0px"></pagination>
    </div>
    <br clear="all" />
    <br ng-show="pager.count <= pager.itemsPerPage" />
</div>