/** my account **/

.tab-container {
    padding:20px;
    border-top:1px solid #ddd;
}

.my-account .col-xs-12 {
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 767px) {

    .tab-container {
        padding:10px;
    }

}