.gallery-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.gallery-overlay .content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 150px);
    z-index: 9999;
    text-align: center;
}

.gallery-overlay .content .large {
    height: auto;
    max-height: calc(100% - 50px);
    max-width: 750px;
    position: relative;
    display: block;
    margin: 0 auto 0 auto;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    vertical-align: middle;
    border:1px solid #ddd;
    cursor:pointer;
}


.gallery-overlay .thumbs {
    width: 750px;
    overflow: auto;
    white-space: nowrap;
    margin:0px auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    height:155px;
}

.gallery-overlay .thumbs::-webkit-scrollbar {
    display: none;
}

.gallery-overlay .thumbs .thumb {
    border:1px solid #ccc;
    display: inline-block;
    width: 150px;
    height: 150px;
    background-size: cover !important;
    background-position: center !important;
    margin-right:5px;
    cursor:pointer
}

.gallery-overlay .thumbs .thumb.selected {
    border-color: #1E90FF
}

.gallery-overlay .thumbcontainer {
    width:100%;position: absolute;bottom:0;z-index: 10000
}

.gallery-overlay .fa {
    text-shadow: 3px 3px 16px #272634 !important;;
    z-index: 10000 !important;
    color: white !important;;
    cursor: pointer !important;

}

.gallery-overlay .content .gallery-close .fa {
    position: fixed;
    right: 0;
    padding: 20px;
    z-index: 10000 !important;

}

.gallery-overlay .content .gallery-right {
    position: fixed;
    right: calc(50% - 370px);
    top: calc(50% - 70px);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10000 !important;
    background-color: rgba(0,0,0,0.6);
    padding: 5px 10px;
    border-radius: 5px;
}

.gallery-overlay .content .gallery-left {
    cursor: pointer;
    position: fixed;
    left: calc(50% - 370px);
    top: calc(50% - 70px);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10000 !important;
    background-color: rgba(0,0,0,0.6);
    padding: 5px 10px;
    border-radius: 5px;
}

@media screen and (max-width:767px){
    .gallery-overlay .thumbcontainer {
        display: none

    }

    .gallery-overlay .content .large {
        max-width: calc(100% - 50px)
    }

    .gallery-overlay .content {
        height:100%;

    }

    .gallery-overlay .content .gallery-left {
        top: 50%;
        left: 15px;
    }

    .gallery-overlay .content .gallery-right {
        top: 50%;
        right:15px;
    }

}

