.table-container .mat-table-sticky:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width:150px;
}

@media (min-width: 800px) {
  .table-container .mat-table-sticky:first-child {
    border-right: inherit;
  }
}
