<iframe src="about:blank" name="dummy" style="display: none"></iframe>
<h2>Teachers! Join for Free!</h2>
<form role="form" name="myLoginForm" id="myLoginForm" autocomplete="on" method="post" action="" target="dummy" onsubmit="return false" ng-submit="submit()">
    <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
    <input style="display:none" type="text" name="fakeusernameremembered"/>
    <input style="display:none" type="password" name="fakepasswordremembered"/>
    <div class="form-group">
        <select class="form-control" ng-model="user.title">
            <option selected>Enter title</option>
            <option>Mrs</option>
            <option>Ms</option>
            <option>Mr</option>
            <option>Dr</option>
        </select>
    </div>
    <div class="form-group" ng-class="{'has-error': myForm.first.$dirty && myForm.first.$invalid, 'has-success': myForm.email.first && myForm.first.$valid}">
        <input autocomplete="on" type="text" name="first" class="form-control" id="first" placeholder="Enter first name" required ng-model="user.first">
    </div>
    <div class="form-group" ng-class="{'has-error': myForm.last.$dirty && myForm.last.$invalid, 'has-success': myForm.last.first && myForm.last.$valid}">
        <input autocomplete="on" type="text" name="last" class="form-control" id="last" placeholder="Enter last name" required ng-model="user.last">
    </div>
    <div class="form-group" ng-class="{'has-error': myForm.email.$dirty && myForm.email.$invalid, 'has-success': myForm.email.$dirty && myForm.email.$valid}">
        <input autocomplete="on" type="email" name="email" class="form-control" id="email" placeholder="Enter email address" required ng-model="user.email">
    </div>
    <div class="form-group" ng-class="{'has-success': myForm.password.$dirty && myForm.password.$valid}">
        <input autocomplete="off" type="password" name="password" class="form-control" id="password" placeholder="Enter password" required ng-model="user.password">
    </div>
    <button class="btn btn-primary btn-large btn-block" type="submit" ng-show="!localLoading">Join</button>
    <div style="width:25px;margin:0px auto;padding-top:5px" ng-show="localLoading">
        <i class="fa fa-spinner fa-spin fa-2x" style="color:#00d4b4"></i>
    </div>
</form>

