<div class="market-survey">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Floor Plan Pricing Breakdown</h2>
    </div>
    <div ng-class="{'modal-body pms': true}">
        <table class="new-table border-table">
            <tbody>
                <tr style="border-top:1px solid #ccc">
                    <td class="gray">
                        Unit Type Info:
                    </td>
                    <td>
                        <p style="margin:0;" ng-repeat="fp in floorplan.yardiFlooplans">Type: {{fp.bedrooms}}x{{fp.bathrooms}}, Desc: {{fp.description}}, Units: {{fp.units}}, SqFt: {{fp.sqft}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="gray">
                        Units Available:
                    </td>
                    <td>
                        {{floorplan.areUnitsAvailable ? "Yes" : "None"}}
                    </td>
                </tr>
                <tr>
                    <td class="gray" nowrap>
                        Lease Rent History:
                    </td>
                    <td>
                        {{floorplan.hasLeaseRentHistory ? "Yes" : "None"}}
                    </td>
                </tr>
                <tr>
                    <td class="gray" nowrap>
                        Unit Price Strategy:
                    </td>
                    <td>
                        {{floorplan.rents.strategy}}
                    </td>
                </tr>
                <tr>
                    <td class="gray" nowrap>
                        Unit Price Notes:
                    </td>
                    <td>
                        {{floorplan.rents.notes}}
                        <span class="fa fa-exclamation-triangle warning label-side-icon" style="padding-top: 3px;margin:0;"
                              ng-if="floorplan.priceWarning"
                              popover-trigger="'mouseenter'"
                              popover-placement="right"
                              popover-class="popover-small"
                              uib-popover-html="floorplan.priceWarning"
                        ></span>
                    </td>
                </tr>
                <tr>
                    <td class="gray">
                        Estimated Rent:
                    </td>
                    <td>
                        {{floorplan.rent | currency : "$" : 0}}
                    </td>
                </tr>
            </tbody>
        </table>
        <h4><i ng-class="{'fa' : true,  'fa-plus-square-o': !showTypes, 'fa-minus-square-o' : showTypes}" style="cursor:pointer;font-size:14px;padding-top:2px;margin:0px 15px" ng-click="showTypes = !showTypes"></i>Unit Type(s)</h4>
        <table class="new-table border-table" ng-if="showTypes">
            <thead>
                <th>Type</th>
                <th>Code</th>
                <th>UniteType Id</th>
                <th>Description</th>
                <th>Units</th>
                <th>Sqft</th>
                <th>UnitType Rent</th>
            </thead>
            <tbody>
            <tr ng-repeat="fp in floorplan.yardiFlooplans">
                <td>
                    {{fp.bedrooms}}x{{fp.bathrooms}}
                </td>
                <td>
                    {{fp.code}}
                </td>
                <td>
                    {{fp.id}}
                </td>
                <td>
                    {{fp.description}}
                </td>
                <td>
                    {{fp.units}}
                </td>
                <td>
                    {{fp.sqft}}
                </td>
                <td>
                    {{fp.marketRent | currency : "$" : 0}}
                </td>
            </tr>
            </tbody>
        </table>

        <h4><i ng-class="{'fa' : true,  'fa-plus-square-o': !showUnits, 'fa-minus-square-o' : showUnits}" style="cursor:pointer;font-size:14px;padding-top:2px;margin:0px 15px" ng-click="showUnits = !showUnits"></i>Units</h4>
        <div ng-if="showUnits" style="margin-left: 14px;"><span class="yellow-bg" style="width:8px;height:14px;float:left;margin-top: 2px;"></span><p style="float:left;margin-left:5px;font-size:12px">=  Units available between date of export and the next sixty days</p></div>
        <table class="new-table border-table" ng-if="showUnits">
            <thead>
            <th>Id</th>
            <th>Code</th>
            <th>Unit<br>Type</th>
            <th>Sqft</th>
            <th>Rent</th>
            <th>Amenities</th>
            <th>Available</th>
            <th>Vacant</th>
            <th>Ready</th>
            <th>Status</th>
            </thead>
            <tbody>
            <tr ng-repeat="u in floorplan.allUnits | orderBy:'id'" ng-class="{'yellow-bg': u.isAvailable}" ng-style="{'text-decoration': u.isExcluded ? 'line-through' : 'inherit'}">
                <td>
                    {{u.id}}
                </td>
                <td>
                    {{u.code}}
                </td>
                <td>
                    {{u.floorplanId}}
                </td>
                <td>
                    {{u.sqft}}
                </td>
                <td>
                    {{u.rent | currency: "$" : 0 }}
                </td>
                <td>
                    {{u.sumOfUnitAmenities | currency: "$" : 0 }}
                </td>
                <td>
                    <span ng-if="u.dateAvailable">{{u.dateAvailable | date: 'shortDate' }}</span>
                </td>
                <td>
                    <span ng-if="u.dateVacant">{{u.dateVacant | date: 'shortDate' }}</span>
                </td>
                <td>
                    <span ng-if="u.dateReady">{{u.dateReady | date: 'shortDate' }}</span>
                </td>
                <td>
                    {{u.status}}
                </td>
            </tr>
            </tbody>
        </table>

        <h4><i ng-class="{'fa' : true,  'fa-plus-square-o': !showUnitAmenities, 'fa-minus-square-o' : showUnitAmenities}" style="cursor:pointer;font-size:14px;padding-top:2px;margin:0px 15px" ng-click="showUnitAmenities = !showUnitAmenities"></i>Unit Amenities</h4>
        <table class="new-table border-table" ng-if="showUnitAmenities">
            <thead>
            <th>Id</th>
            <th>Floor Plan ID</th>
            <th>Code</th>
            <th>Name</th>
            <th>Amenity</th>
            <th>Current Value</th>
            <th>Current Date</th>
            </thead>
            <tbody>
            <tr ng-repeat="u in floorplan.allUnitAmenities | orderBy:'unitId'">
                <td>
                    {{u.unitId}}
                </td>
                <td>
                    {{u.floorplanId}}
                </td>
                <td>
                    {{u.code}}
                </td>
                <td>
                    {{u.name}}
                </td>
                <td>
                    {{u.amenity }}
                </td>
                <td>
                    {{u.currentValue}}
                </td>
                <td>{{u.currentDate | date: 'shortDate' }}</td>
            </tr>
            </tbody>
        </table>
        <h4><i ng-class="{'fa' : true,  'fa-plus-square-o': !showRev, 'fa-minus-square-o' : showRev}" style="cursor:pointer;font-size:14px;padding-top:2px;margin:0px 15px" ng-click="showRev = !showRev"></i>Revenue Managed Units</h4>

        <div ng-if="showRev" class="clearfix" style="margin-left: 14px;"><span class="green-bg" style="width:8px;height:14px;float:left;margin-top: 2px;"></span><p style="float:left;margin-left:5px;font-size:12px;width: 96%;">=  Per unit - Most recent import date within 30 days AND unit is available in the next 60 days AND (Date Available >= Start Date) AND (Date Available is <= End Date)</p></div>
        <div ng-if="showRev" class="clearfix" style="margin-left: 14px;"><span class="orange-bg" style="width:8px;height:14px;float:left;margin-top: 2px;"></span><p style="float:left;margin-left:5px;font-size:12px;width: 96%;">=  Per unit - Most recent import date within 30 days AND unit Start Date closest to date of file export. This would be current day if looking at Yardi data export from today</p></div>
        <table class="new-table border-table" ng-if="showRev">
            <thead>
            <th>Id</th>
            <th>Rent</th>
            <th>Amenities</th>
            <th>Concessions</th>
            <th>Import</th>
            <th>Start</th>
            <th>End</th>
            <th>Available</th>
            </thead>
            <tbody>
            <tr ng-repeat="u in floorplan.allRevmanagedUnits" ng-class="{'green-bg': u.isGreen, 'orange-bg': u.isOrange}">
                <td>
                    {{u.unitId}}
                </td>
                <td>
                    {{u.rent | currency: "$" : 0 }}
                </td>
                <td>
                    {{u.amenities | currency: "$" : 0 }}
                </td>
                <td>
                    {{u.concessions | currency: "$" : 0 }}
                </td>

                <td>
                    <span ng-if="u.importDate">{{u.importDate | date: 'shortDate' }}</span>
                </td>
                <td>
                    <span ng-if="u.startDate">{{u.startDate | date: 'shortDate' }}</span>
                </td>
                <td>
                    <span ng-if="u.endDate">{{u.endDate | date: 'shortDate' }}</span>
                </td>
                <td>
                    <span ng-if="u.availableDate">{{u.availableDate | date: 'shortDate' }}</span>
                </td>
            </tr>
            </tbody>
        </table>

        <h4><i ng-class="{'fa' : true,  'fa-plus-square-o': !showLease, 'fa-minus-square-o' : showLease}" style="cursor:pointer;font-size:14px;padding-top:2px;margin:0px 15px" ng-click="showLease = !showLease"></i>Lease Rent History</h4>

        <div ng-if="showLease" style="margin-left: 14px;"><span class="green-bg" style="width:8px;height:14px;float:left;margin-top: 2px;"></span><p style="float:left;margin-left:5px;font-size:12px">= Submit Application events with Date in the last 30 days and Lease From Date in the next 60 days from Date</p></div>
        <table class="new-table border-table" ng-if="showLease">
            <thead>
            <th>Event</th>
            <th>Tenant</th>
            <th>Rent</th>
            <th>Date</th>
            <th>Lease From</th>
            </thead>
            <tbody>
            <tr ng-repeat="u in floorplan.applications" ng-class="{'green-bg': u.isValidRent}">
                <td>
                    {{u.event}}
                </td>
                <td>
                    {{u.id}}
                </td>
                <td>
                    {{u.rent | currency: "$" : 0 }}
                </td>
                <td>
                    <span ng-if="u.date">{{u.date | date: 'shortDate' }}</span>
                </td>
                <td>
                    <span ng-if="u.leaseFromDate">{{u.leaseFromDate | date: 'shortDate' }}</span>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="row" style="padding:20px">
        <div class="col-xs-12 text-center">
            <a class="btn btn-default contact-submit" ng-click="cancel()">Close</a>
        </div>
    </div>
</div>
