<div ng-class="{'radio' : true, disabled: false}">
    <label style="font-weight:bold"><input type="radio" ng-model="swap.who" value="manual"> Manual Property Survey</label> <i style="font-size:12px;"> - Last Survey: <a href style="font-size:12px;" popover-trigger="'mouseenter'" popover-placement="top" popover-append-to-body="true" uib-popover-html="showDateHover(survey.survey_date)">{{showDate(survey.survey_date)}}</a></i><Br>
</div>
<div ng-class="{'radio' : true}" style="padding-top:10px">
    <label style="font-weight:bold;"><input type="radio" ng-model="swap.who" value="swap"> Send SurveySwap</label> <i style="font-size:12px;"> - Last Emailed: <a href style="font-size:12px;" popover-trigger="'mouseenter'" popover-placement="top" popover-append-to-body="true" uib-popover-html="showDateHover(swap.selectedGuest.lastEmailed)">{{showDate(swap.selectedGuest.lastEmailed)}}</a></i><Br>
    <Div style="height:5px"></Div>
    <span style="width:20px;display:inline-block"></span>Contact: <select ng-options="guest.first + ' ' + guest.last + ' ('+ guest.email +')' for guest in swap.guests" ng-model="swap.selectedGuest" class="form-control input-sm" style="display: inline-block;max-width:250px"></select>
    <i class="fa fa-question-circle"
       style="cursor:pointer;font-size:14px;padding-left:2px;"
       popover-trigger="'mouseenter'"
       popover-placement="right"
       popover-append-to-body="true"
       uib-popover-html="getGuestInfo(swap.selectedGuest)"
       ng-if="!swap.selectedGuest.bounceReason"
    ></i>

    <i class="fa fa-exclamation-triangle warning"
       style="cursor:pointer;font-size:14px;padding-left:2px;color:orange"
       ng-if="swap.selectedGuest.bounceReason"
       popover-trigger="'mouseenter'"
       popover-placement="right"
       popover-append-to-body="true"
       popover-class="popover-small"
       uib-popover-html="getGuestInfoBounce(swap.selectedGuest)"
    ></i>

    <Br>
</div>
<Br>
<div style="text-align: center">
    <button class="btn btn-success contact-submit" ng-click="surveyWhoSelector()">Next</button>
</div>