<div class="market-survey">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Leased % Breakdown</h2>
    </div>
    <div ng-class="{'modal-body pms': true}">
        <table class="new-table">
            <thead>
                <th width="9"></th>
                <th>Status</th>
                <th>Unit Count</th>
                <th width="9"></th>
            </thead>
            <tbody>
                <tr ng-repeat="(key, value) in leasedUnitCounts.counts">
                    <td width="9"></td>
                    <td>{{key}}:</td>
                    <td>{{value}}</td>
                    <td width="9"></td>
                </tr>
                <tr class="hr">
                    <td width="9"></td>
                    <td>Leased Units:</td>
                    <td>{{leasedUnitCounts.totalUnits}}</td>
                    <td width="9"></td>
                </tr>
                <tr>
                    <td width="9"></td>
                    <td>Total Units:</td>
                    <td>{{totalUnits}}</td>
                    <td width="9"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td width="9"></td>
                    <td><strong>Leased %:</strong></td>
                    <td><strong>{{leased | number : 2}}%</strong></td>
                    <td width="9"></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="row" style="padding:20px">
        <div class="col-xs-12 text-center">
            <a class="btn btn-default contact-submit" ng-click="cancel()">Close</a>
        </div>
    </div>
</div>