.grey-txt {
    color:#888888;
}

.market-survey label {
    cursor: pointer;
    font-weight: normal;
} 

.market-survey .survey-value {
    max-width:60px;min-width:48px;height:25px;display: inline;padding-left:2px;padding-right:5px;text-align:right;padding-top:5px
}

.market-survey .survey-values tr {
    height:36px
}

.market-survey .survey-values.heading tr {
    height:inherit !important;
}

.market-survey .occupancy .heading {
    text-align: right;padding:0px 7px
}

.market-survey .survey-values .form-group {
    margin-bottom: 0px;
}


.market-survey .survey-values .fa-undo {
    padding-left: 5px;
}

.market-survey .survey-values th {
    font-size:12px !important;

}

.market-survey .col-spacer {
    width:20px;
}

.market-survey .radio.disabled label {
    opacity: .5;
}

.market-survey .market-survey .heading div {
    height: 26px
}

.popover-inner UL {
    margin-left:-30px;
}

.market-survey .popover-inner UL LI:before {
    font-family: 'FontAwesome';
    content: '\f071';
    margin:0 1px 0 -15px;
    color: red;
}

.market-survey .popover-inner UL LI {
    list-style: none;
    margin-top:10px
}

.market-survey .popover-inner UL LI span {
    position: relative; left: 4px;
    color: red;
}

.market-survey .popover-inner UL.warn LI:before,
.market-survey .popover-inner UL.warn LI span {
    color:orange;
}
.market-survey .has-error .form-control {
    background-color:#FFF0F0;
}

.market-survey .has-warning .form-control {
    background-color:#ffe5cb;
    border: 1px solid #f90 !important;
}
.market-survey .modal-body {
    padding: 0 14px 14px 14px;
}

.market-survey .modal-body.pms {
    padding: 14px 0 0 0;
}

.market-survey .new-table {
    font-size:12px;
    width:100%
}

.market-survey .new-table thead, .market-survey .new-table tfoot, .market-survey .new-table .gray {
    background-color: #eeeeee;
}

.market-survey .new-table thead th, .market-survey .new-table tfoot td {
    padding:10px 5px;
}

.market-survey .new-table thead th i {
    font-weight: normal;
}

.market-survey .new-table tbody td {
    padding:5px;
}

.market-survey .new-table tbody tr.hr td {
    border-top:1px solid #eee
}

.market-survey .new-table input[type=radio] {
    vertical-align: sub;
}

.market-survey .new-table .fa {
    font-size:12px;
}

.market-survey .new-table .fa.link {
    cursor: pointer;
}

.market-survey .new-table .nowrap {
    white-space: nowrap;
}

.border-table tr {
    border-bottom: 1px solid #cccccc;
}

.green-bg {
    background-color:#30c827 !important;
    color:#ffffff;
}

.yellow-bg {
    background-color:#FFFF66 !important;
    color:#000;
}

.orange-bg {
    background-color:orange !important;
    color:#000;
}

.inputHolder {
    display: inline-block;
    width:calc(100% - 55px);
    vertical-align: top;
}

.inputHolder input {
    max-width: 100% !important;
    text-align: left !important;
    margin-bottom: 10px;
}

.moreinfo {
    display: inline-block;
    width:50px;
}

.bulkConcessionModule {
    background-color: #eee;
    border: 1px solid #fff;
    padding: 10px 14px;
    margin: 0 -14px;
    font-size: 12px;
}

.bulkConcessionModule select, .bulkConcessionModule p, .bulkConcessionModule input {
    display: inline-block;vertical-align: top;
}

.bulkConcessionModule input[type='text'], .bulkConcessionModule select {
    height: 24px;
}

.bulkConcessionModule select {
    min-width: 100px;
}

.bulkConcessionValue {
    width: 40px;
}

.bulkConcessionModule input[type=range] {
  -webkit-appearance: none;
  margin:6px;
  width: 120px;
}
.bulkConcessionModule input[type=range]:focus {
  outline: none;
}
.bulkConcessionModule input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #d3d3d3;
}
.bulkConcessionModule input[type=range]::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background: #4460a9;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
.bulkConcessionModule input[type=range]:focus::-webkit-slider-runnable-track {
  background: #d3d3d3;
}
.bulkConcessionModule input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #d3d3d3;
}
.bulkConcessionModule input[type=range]::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background: #4460a9;
  cursor: pointer;
  margin-top: 0;
}
.bulkConcessionModule input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.bulkConcessionModule input[type=range]::-ms-thumb {
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background: #4460a9;
  cursor: pointer;
  margin-top: 0;
}
.bulkConcessionModule input[type=range]::-ms-fill-lower {
  background: #d3d3d3;
}
.bulkConcessionModule input[type=range]::-ms-fill-upper {
  background: #d3d3d3;
}
.bulkConcessionModule input[type=range]:focus::-ms-fill-lower {
  background: #d3d3d3;
}
.bulkConcessionModule input[type=range]:focus::-ms-fill-upper {
  background: #d3d3d3;
}

.propertySurvey {
    margin: 0 -14px;
    font-size: 12px;
    position: relative;
}

.propertySurvey table thead th {
    vertical-align: top;
}

.propertySurvey table {
    margin:0;
}

.propertySurvey .showAll {
    color:#4460a9;
    background-color: #f8f8f8;
    border: 1px solid #cfcfcf;
    display: block;
    margin:0 auto;
    width: 100%;
    padding: 5px 0;
}

.propertySurvey  table {
    height: 350px;
}

.propertySurvey.allShown table {
    height: auto;
    overflow-y: hidden;
}

.propertySurvey table tbody::-webkit-scrollbar {
    width: 5px;
}
 
.propertySurvey table tbody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.propertySurvey table tbody::-webkit-scrollbar-thumb {
  background-color: #4460a9;
  outline: 1px solid slategrey;
}

.leased-length strong {
    width: 70px;
    display: inline-block;
}

.tfoot-cell {
    float:left;
    padding:5px;
    font-weight: bold;
}

.fix-height-60 {height: 60px;}

.oldSurvey .market-survey .market-survey .heading div, 
.oldSurvey .market-survey .moreinfo .moreinforow {
    height: 26px;
}

.newSurvey input[type='checkbox'] {
  height: 14px;
  width: 14px;
}

@media all and (min-width: 0px) and (max-width: 767px) {
    .oldSurvey .market-survey .modal-body {
        padding-left:3px !important;
        padding-right:3px !important;
    }

    .market-survey .modal-dialog {
        margin:0px !important;
    }

    .market-survey .occupancy .heading {
        text-align: right;padding:0px 2px !important;
    }

    .market-survey .occupancy TD B {
        font-size:11px;
    }

    .market-survey .tiny {
        font-size:9px
    }

    .market-survey .col-spacer {
        width:10px !important;
    }

    .market-survey .heading div,
    .oldSurvey .market-survey .moreinfo .moreinforow {
        height: 28px
    }

    .min-width-100-m {min-width: 100px;}

}