<Style>
    @media all and (min-width: 0px) and (max-width: 767px) {
        .modal-body {
            padding-left:3px !important;
            padding-right:3px !important;
        }

        .modal-dialog {
            margin:0px !important;
        }

        .occupancy TD B {
            font-size:11px;
        }

        .occupancy .heading {
            text-align: right;padding:0px 2px !important;
        }

        .tiny {
            font-size:9px
        }

        .col-spacer {
            width:10px !important;
        }

    }

    .survey-value {
        max-width:60px;min-width:48px;height:25px;display: inline;padding-left:2px;padding-right:5px;text-align:right;padding-top:5px
    }

    .survey-values tr {
        height:36px
    }

    .occupancy .heading {
        text-align: right;padding:0px 7px
    }

    .survey-values .form-group {
        margin-bottom: 0px;
    }


    .survey-values .fa-undo {
        padding-left: 5px;
    }

    .col-spacer {
        width:30px;
    }

    .radio.disabled label {
        opacity: .5;
    }

</Style>

<div ng-show="!localLoading" style="display:block;width:100px;margin:50px auto">
    <img src="/images/squares.gif" style="width:100px">
</div>
<div ng-show="localLoading">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Market Survey: {{property.name}}</h2>
    </div>
    <div class="modal-body" style="padding:0px 14px 14px 14px">
        <div ng-show="hasContact" style="color:#777">
            <b>Contact: </b>
            <span ng-show="hasName"> {{property.contactName}}</span>
            <span ng-show="hasEmail"> {{property.contactEmail}}</span>
            <span ng-show="hasPhone"> {{property.phone}}</span>
        </div>

        <hr style="margin:14px 0px;border-color:#4460a9">

        <div ng-if="showGuests">
            <div ng-class="{'radio' : true, disabled: false}">
                <label style="font-weight:normal;width:100%"><input type="radio" ng-model="swap.who" value="manual"> Manual Market Survey</label><Br>
            </div>
            <div ng-class="{'radio' : true, disabled: swap.selectedGuest.bounceReason}">
                <label style="font-weight:normal;"><input type="radio" ng-model="swap.who" value="swap" ng-disabled="swap.selectedGuest.bounceReason"> Send Survey Swap</label>
                    <select ng-options="guest.first + ' ' + guest.last + ' _('+ guest.email +')_' for guest in swap.guests" ng-model="swap.selectedGuest" class="form-control input-sm" style="display: inline-block;max-width:250px"></select>
                    <i class="fa fa-info-circle"
                       style="cursor:pointer;font-size:14px;padding-left:2px;"
                       popover-trigger="'mouseenter'"
                       popover-placement="right"
                       popover-append-to-body="true"
                       uib-popover-html="getGuestInfo(swap.selectedGuest)"
                    ></i>

                    <i class="fa fa-exclamation-triangle warning"
                       style="cursor:pointer;font-size:14px;padding-left:2px;color:orange"
                       ng-if="swap.selectedGuest.bounceReason"
                       popover-trigger="'mouseenter'"
                       popover-placement="right"
                       popover-append-to-body="true"
                       uib-popover="We are unable to deliver email to this contact."
                    ></i>

                <Br>
            </div>
            <Br>
            <div style="text-align: center">
                <a class="btn btn-success contact-submit" ng-click="surveyWhoSelector()">Next</a>
            </div>
        </div>
        <div ng-if="!showGuests">
            <div class="alert alert-warning" ng-if="editMode">
                <b>Note:</b> You are modifying historical data of a Market Survey taken on <b>{{editDate | date : 'shortDate'}}</b>
            </div>

            <toggle-switch checked="settings.showDetailed" click-fn="toggleConcessions()" style="margin-left:30px;"></toggle-switch>&nbsp;&nbsp;Detailed Concessions
            <i class="fa fa-info-circle"  style="font-size:12px"
            popover-trigger="'mouseenter'"
            popover-placement="bottom"
               uib-popover="Turn on detailed concessions if you want to input one time and monthly concessions separately rather than a single total value over 12 months"
        ></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="visible-xs"></div>
            <span class="visible-xs-inline-block" style="width:30px;"></span><toggle-switch checked="settings.showNotes" click-fn="toggleNotes()"></toggle-switch>&nbsp;&nbsp;Market Survey Notes<br>
            <div style="margin-top:10px"></div>
            <div ng-if="settings.showNotes">
            <textarea class="form-control" placeholder="Type Market Survey notes here" ng-model="survey.notes" ng-keydown="updateChanged()"></textarea><br>
            </div>
            <table class="table table-condensed table-striped table-hover survey-values" style="margin-bottom:10px">
                <tbody>
                <tr class="thead">
                    <th><span class="hidden-xs">Type</span><span class="visible-xs">Type</span></th>
                    <th class="hidden-xs">Desc.</th>
                    <th class="hidden-xs" style="text-align: right"><span class="hidden-xs">Units</span><span class="visible-xs">#</span></th>
                    <th class="hidden-xs" style="text-align: right">Sqft</th>
                    <th style="white-space: nowrap;text-align:right">Rent <i class="fa fa-info-circle" style="font-size:12px"
                     popover-trigger="'mouseenter'"
                     popover-placement="left"
                                                                             uib-popover="Enter the current gross floor-plan rent, before any concessions or discounts. If the floor plan has a range, please enter minimum price."
                            ></i></th>
                    <th ng-if="!settings.showDetailed" style="white-space: nowrap;text-align:right">Concess. <i class="fa fa-info-circle"  style="font-size:12px"
                     popover-trigger="'mouseenter'"
                     popover-placement="left"
                                                                                                                uib-popover="Enter the offered rent discount, such as one-time concession, Look-and-Lease special, amortized concession, or any other rent discount offer over a 12 month lease term. Ex: $100 off per month, enter as $1,200 value, or $500 look-and-lease for signing a 12 month lease, enter as $500. For any waived fees, please enter under Fees & Deposits."
                            ></i><Br>
                    <div style="font-size:8pt;font-weight:normal;">(Total)</div></th>

                    <th ng-if="settings.showDetailed" style="white-space: nowrap;text-align:right">Concess. <i class="fa fa-info-circle"  style="font-size:12px"
                                                                                                               popover-trigger="'mouseenter'"
                                                                                                               popover-placement="left"
                                                                                                               uib-popover="Enter one-time (upfront) concessions or look-and-lease specials. Ex: Enter '500' if $500 discount is offered as a look-and-lease special. For any waived fees, please enter under Fees & Deposits."
                    ></i><Br>
                        <div style="font-size:8pt;font-weight:normal;">(One Time)</div></th>

                    <th ng-if="settings.showDetailed" style="white-space: nowrap;text-align:right">Concess. <i class="fa fa-info-circle"  style="font-size:12px"
                                                                                                               popover-trigger="'mouseenter'"
                                                                                                               popover-placement="left"
                                                                                                               uib-popover="Enter monthly (recurring) concession. Ex: Enter '100' if $100 off per month is offered in concession. For any waived fees, please enter under Fees & Deposits."
                    ></i><Br>
                        <div style="font-size:8pt;font-weight:normal;">(Monthly)</div></th>
                    <th style="width:55px">

                    </th>
                </tr>

                <tr ng-repeat="row in survey.floorplans">
                    <td style="white-space: nowrap;">
                        {{row.bedrooms}}x{{row.bathrooms}}
                        <div class="visible-xs tiny">{{row.units}} Units</div>
                        <div class="visible-xs tiny">{{row.sqft}} Sqft</div>
                    </td>
                    <td class="hidden-xs">
                        {{row.description}}
                    </td>
                    <td class="hidden-xs" style="text-align: right">
                        {{row.units}}
                    </td>
                    <td class="hidden-xs" style="text-align: right">
                        {{row.sqft}}
                    </td>
                    <td style="white-space: nowrap;text-align:right;">
                        <div class="form-group">
                            $<input type="number" min="1" class="form-control input-sm survey-value" ng-model="row.rent" input-mask="9{1,5}" ng-enter="next(row,'rent-' + row.id)" id="rent-{{row.id}}" onclick="select()" ng-change="clear('rent-' + row.id)" ng-keydown="pressed(row,'rent-' + row.id, $event)" ng-blur="updateDone(row,true,'rent')">
                        </div>
                    </td>
                    <td ng-if="!settings.showDetailed" style="white-space: nowrap;text-align:right">
                        <div class="form-group">
                            $<input type="number" min="0" class="form-control input-sm survey-value" ng-model="row.concessions"  input-mask="9{1,5}" ng-enter="next(row,'concessions-' + row.id)" id="concessions-{{row.id}}" onclick="select()" ng-change="clear('concessions-' + row.id)" ng-keydown="pressed(row,'concessions-' + row.id, $event)" ng-blur="updateDone(row,true,'concessions')">
                        </div>
                    </td>
                    <td ng-if="settings.showDetailed" style="white-space: nowrap;text-align:right">
                        <div class="form-group">
                            $<input type="number" min="0" class="form-control input-sm survey-value" ng-model="row.concessionsOneTime"  input-mask="9{1,5}" ng-enter="next(row,'concessionsOneTime-' + row.id)" id="concessionsOneTime-{{row.id}}" onclick="select()" ng-change="clear('concessionsOneTime-' + row.id)" ng-keydown="pressed(row,'concessionsOneTime-' + row.id, $event)" ng-blur="updateDone(row,true,'concessionsOneTime')">
                        </div>
                    </td>
                    <td ng-if="settings.showDetailed" style="white-space: nowrap;text-align:right">
                        <div class="form-group">
                            $<input type="number" min="0" class="form-control input-sm survey-value" ng-model="row.concessionsMonthly"  input-mask="9{1,5}" ng-enter="next(row,'concessionsMonthly-' + row.id)" id="concessionsMonthly-{{row.id}}" onclick="select()" ng-change="clear('concessionsMonthly-' + row.id)" ng-keydown="pressed(row,'concessionsMonthly-' + row.id, $event)" ng-blur="updateDone(row,true,'concessionsMonthly')">
                        </div>
                    </td>
                    <td>
                        &nbsp;<a href ng-click="undo(row)" ng-if="row.updated"><i class="fa fa-undo" uib-tooltip="Undo"></i></a>
                        &nbsp;
                        <i ng-if="row.warning" class="fa fa-info-circle" style="color:orange"
                           popover-trigger="'mouseenter'"
                           popover-placement="left"
                           uib-popover="The Net Eff. Rent for this floor plan has changed by more than 10% since the last market survey"

                        ></i>
                    </td>
                </tr>

                </tbody>
                </table>

                <Center>
                <table class="survey-values occupancy">
                    <tbody>
                <tr>
                    <td class="heading">
                        <b>Occupancy %</b>
                    </td>
                    <td style="text-align: right">
                        <div class="form-group">
                            <input type="number" min = "0" max="100" class="form-control input-sm survey-value" ng-model="survey.occupancy"   ng-enter="next('occupancy','occupancy')" id="occupancy" onclick="select()" ng-change="clear('occupancy')" ng-keydown="pressed('occupancy','occupancy', $event)" ng-blur="updateDone('occupancy',true)">
                        </div>
                    </td>
                    <td style="width:45px;">
                        &nbsp;<a href ng-click="undo('occupancy')" ng-if="survey.occupancyupdated"><i class="fa fa-undo" uib-tooltip="Undo"></i></a>
                        &nbsp;
                        <i ng-if="occupancyWarning" class="fa fa-info-circle" style="color:orange"
                           popover-trigger="'mouseenter'"
                           popover-placement="top"
                           uib-popover="Occupancy % has changed by more than 10% since the last market survey"

                        ></i>
                    </td>
                    <td rowspan="2" class="col-spacer">

                    <td class="heading">
                        <b class="hidden-xs">Traffic/Week</b>
                        <b class="visible-xs">Traffic/Wk</b>
                    </td>

                    </td>
                    <td style="text-align: right">
                        <div class="form-group">
                            <input type="number" min="0" class="form-control input-sm survey-value" ng-model="survey.weeklytraffic" input-mask="9{1,3}" ng-enter="next('traffic','traffic')" id="traffic" onclick="select()" ng-change="clear('traffic')" ng-keydown="pressed('traffic','traffic', $event)" ng-blur="updateDone('traffic',true)">
                        </div>
                    </td>
                    <td style="width:40px;">
                        &nbsp;<a href ng-click="undo('traffic')" ng-if="survey.trafficupdated"><i class="fa fa-undo" uib-tooltip="Undo"></i></a>
                    </td>
                </tr>
                <tr>

                    <td class="heading">
                        <b ng-if="$root.me.settings.showLeases">Leased %</b>
                    </td>
                    <td style="text-align: right">
                        <div class="form-group">
                            <input ng-if="$root.me.settings.showLeases" type="number" class="form-control input-sm survey-value" ng-model="survey.leased" ng-enter="next('leased','leased')" id="leased" onclick="select()" ng-change="clear('leased')" ng-keydown="pressed('leased','leased', $event)" ng-blur="updateDone('leased',true)">
                        </div>
                    </td>
                    <td style="width:45px;">
                        <div ng-if="$root.me.settings.showLeases">
                            &nbsp;<a href ng-click="undo('leased')" ng-if="survey.leasedupdated"><i class="fa fa-undo" uib-tooltip="Undo"></i></a>
                            &nbsp;
                        <i ng-if="leasedWarning" class="fa fa-info-circle" style="color:orange"
                           popover-trigger="'mouseenter'"
                           popover-placement="top"
                           uib-popover="Leased % has changed by more than 10% since the last market survey"

                        ></i>
                        </div>
                    </td>

                    <td class="heading">
                        <b class="hidden-xs">Leases/Week</b>
                        <b class="visible-xs">Leases/Wk</b>
                    </td>
                    <td style="text-align: right">
                        <div class="form-group">
                            <input type="number" min="0" class="form-control input-sm survey-value" ng-model="survey.weeklyleases"  input-mask="9{1,3}" ng-enter="next('leases','leases')" id="leases" onclick="select()" ng-change="clear('leases')" ng-keydown="pressed('leases','leases', $event)" ng-blur="updateDone('leases',true)">
                        </div>
                    </td>
                    <td style="width:40px;">
                        &nbsp;<a href ng-click="undo('leases')" ng-if="survey.leasesupdated"><i class="fa fa-undo" uib-tooltip="Undo"></i></a>
                    </td>
                </tr>

                <tr>

                    <td class="heading">
                        <b ng-if="$root.me.settings.showRenewal">Renewal %</b>
                    </td>
                    <td style="text-align: right">
                        <div class="form-group">
                            <input ng-if="$root.me.settings.showRenewal" type="number" class="form-control input-sm survey-value" ng-model="survey.renewal" ng-enter="next('renewal','renewal')" id="renewal" onclick="select()" ng-change="clear('renewal')" ng-keydown="pressed('renewal','renewal', $event)" ng-blur="updateDone('renewal',true)">
                        </div>
                    </td>
                    <td style="width:45px;">
                        <div ng-if="$root.me.settings.showLeases">
                            &nbsp;<a href ng-click="undo('renewal')" ng-if="survey.renewalupdated"><i class="fa fa-undo" uib-tooltip="Undo"></i></a>
                            &nbsp;
                            <i ng-if="renewalWarning" class="fa fa-info-circle" style="color:orange"
                               popover-trigger="'mouseenter'"
                               popover-placement="top"
                               uib-popover="Renewal % has changed by more than 10% since the last market survey"

                            ></i>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
                    </Center>
            <Br>
            <div style="text-align: center">
                <a class="btn btn-warning contact-submit" ng-click="create()">Save Changes</a>
            </div>
        </div>

    </div>
</div>