<div class="market-survey">
<div ng-show="!localLoading" style="display:block;width:100px;margin:50px auto">
    <img src="/images/squares.gif" style="width:100px">
</div>
<div ng-show="localLoading && (survey.floorplans && survey.floorplans.length > 0)">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Property Survey: {{property.name}}</h2>
    </div>
    <div ng-class="{'modal-body': true, 'pms': !!pms.show}">
        <div ng-if="!pms.show" ng-include="'/app/marketSurvey/contact.html?bust=' + version"></div>
        <div ng-if="!pms.show && showGuests" ng-include="'/app/marketSurvey/guests.html?bust=' + version"></div>
        <div ng-if="!pms.show && !showGuests" ng-include="'/app/marketSurvey/survey.html?bust=' + version"></div>
        <div ng-if="pms.show" ng-include="'/app/marketSurvey/pms.html?bust=' + version"></div>
    </div>
</div>
<div ng-if="localLoading && (!survey.floorplans || survey.floorplans.length === 0)" ng-include="'/app/marketSurvey/nofloorplans.html?bust=' + version"></div>
</div>