<h3>Forgot Password</h3>
Please enter the email address associated with your account and click "Next".<br />
<br />
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alerts.splice($index, 1);">{{alert.msg}}</alert>
<form role="form" name="myForm" id="myForm" autocomplete="on" ng-submit="btnSubmit()">
    <div class="form-group" ng-class="{'has-error': myForm.email.$dirty && myForm.email.$invalid, 'has-success': myForm.email.$dirty && myForm.email.$valid}">
        <label for="exampleInputEmail1">Email address</label>
        <input autocomplete="on" type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" required ng-model="email">
    </div>
    <button class="btn btn-primary btn-large btn-block" type="submit"  ng-show="!localLoading">Next >> </button>
    <div style="width:40px;margin:0px auto;padding-top:5px" ng-show="localLoading">
        <img src="/images/squares.gif" style="width:40px">
    </div>
</form>
<br>
<div style="text-align:center">
    <small style="font-size:13px">
        <A href="{{backURL}}"><i class="fa fa-arrow-circle-o-left" style="padding-right:5px"></i>Back to Login</A>
    </small>
</div>
