form.full-page.larger .row {
    max-width: 1024px;
}

form.full-page .indent {
    color: #909090;
    padding-left:30px;
}

form.full-page .valign5 {
    margin-top:5px;
}

.my-account label {
	font-weight: 500;
	font-size: 14px;
}

.my-account .form-group {
	margin-bottom: 20px;
}

.my-account .indent-col-2 {
	max-width: 320px;
}

@media (max-width: 767px) {

  .my-account form.full-page .indent {
  	padding-left: 20px;
  }

  form.full-page .indent-col-2 {
  	margin-left: 10px;
  	max-width:310px;
  }

  form.full-page .valign5 {
  	margin-top: 0;
  }
} 