form.full-page.larger .row {
    max-width: 1024px;
}

form.full-page .indent {
    color: #909090;
    padding-left:30px;
}

form.full-page .valign5 {
    margin-top:5px;
}

@media (max-width: 767px) {

  form.full-page .indent-col-2 {
  	margin-left: 10px;
  	max-width:310px;
  }

  form.full-page .valign5 {
  	margin-top: 0;
  }
} 