.maingrid.wrapper {
    border:1px solid #ccc;
    border-bottom:2px solid #ccc;
    background-color: white;
    padding:5px 20px 20px 20px;
    position: relative
}

.maingrid > table {
    border-bottom: 1px solid #ccc;
}

.maingrid > table thead {
    background-color: #f9f9f9;
}

.maingrid > table >tbody>tr:nth-of-type(odd) {
    background-color: #fff !important;
}

.maingrid > table >tbody>tr:nth-of-type(even) {
    background-color: #f9f9f9 !important;
}

.maingrid > table >tbody>tr:nth-of-type(odd):hover {
    background-color: #d9edf7 !important;
}

.maingrid > table >tbody>tr:nth-of-type(even):hover {
    background-color: #d9edf7 !important;
}


@media all and (min-width: 0px) and (max-width: 530px) {
    .grid-limit {
        float:right !important;
        margin-bottom:5px;
    }

    .grid-search {
        clear:both;
        margin-top:10px;
        margin-right:0px !important;
    }
}

.maingrid .header {
    position:absolute;background-color: #f8f8f8; top:0;height:37px;margin-left:-20px;width:100%;margin-right:-20px;border-bottom:2px solid #ddd;z-index: 1
}

.maingrid > table {
    margin-bottom:10px;z-index: 10;position:relative
}


.grid-pager ul {
    margin-bottom: 0px !important;
    margin-top: 5px !important;
}

.maingrid .sortable {
    cursor: pointer;
}

.maingrid > table th .pull-right {
    width:15px;
}

.maingrid > table th .fa-sort,
.maingrid > table th .fa-filter{
    color:#E0E0E0
}


.maingrid.wrapper.panel {
    border:0 !important;
    margin:-20px -10px -10px -15px !important;
    border-top:1px solid #ccc !important;

}

.maingrid.wrapper.panel table {
    margin-top:-5px;
    border-bottom : 0;
}

.maingrid.wrapper.panel .subtotal {
    color:#4460a9;
    border-top:2px solid #ccc;
}

.maingrid.wrapper.panel .subtotal TD {
    padding-bottom:25px
}

.maingrid.wrapper.panel .total {
    font-weight: bold;
}

.maingrid.wrapper.panel tfoot {
    border-top: 3px double #ccc;
}
.maingrid.wrapper.panel tfoot td {
    font-weight: bold !important;
}
@media all and (min-width: 0px) and (max-width: 600px) {
    .maingrid.wrapper {
        padding-right: 5px;
        padding-left: 5px
    }

    .maingrid .header {
        margin-left:-5px;
        margin-right:-5px;
    }

    .maingrid .wrapper .panel table {
        margin-left:-15px !important;
    }
}

.hidden-arrows th .fa-sort {
    visibility: hidden;
}

.hidden-arrows thead:hover th i {
    visibility:visible;
}

.hidden-arrows .pad {
    padding-right:15px
}

.grid-search input {
    width:150px
}

@media print {

    table,th, tr, tfoot tr, tfoot tr td, thead tr, thead tr th {
        position: relative !important;
    }

    /*tfoot tr td,tfoot tr {*/
        /*border:0px !important;*/
    /*}*/

    .maingrid .header {
        background-color: #f8f8f8 !important;
    }

    .maingrid > table thead th {
        background-color: #f9f9f9 !important;
    }

    .maingrid > table >tbody>tr:nth-of-type(odd) td {
        background-color: #fff;
    }

    .maingrid > table >tbody>tr:nth-of-type(even) td {
        background-color: #f9f9f9 !important;
    }

    .maingrid.wrapper.panel .subtotal TD,
    .maingrid.wrapper.panel .subtotal TD SPAN
    {
        background-color:white !important;
        color: #4460a9 !important;
    }
}