.maingrid.wrapper {
    border:1px solid #ccc;
    border-bottom:2px solid #ccc;
    background-color: white;
    padding:5px 20px 20px 20px;
    position: relative
}

.maingrid > table {
    border-bottom: 1px solid #ccc;
}

.maingrid > table .thead,
.sortablegrid .thead
{
    background-color: #f9f9f9 !important;
    /*border-bottom: 2px solid #ddd;*/
}

@media all and (min-width: 0px) and (max-width: 530px) {
    .grid-limit {
        float:right !important;
        margin-bottom:5px;
    }

    .grid-search {
        clear:both;
        margin-top:10px;
        margin-right:0px !important;
    }
}

.maingrid .header {
    position:absolute;background-color: #f9f9f9; top:0;height:37px;margin-left:-20px;width:100%;margin-right:-20px;border-bottom:2px solid #ddd;z-index: 1
}

.maingrid > table {
    margin-bottom:10px;z-index: 10;position:relative
}


.grid-pager ul {
    margin-bottom: 0px !important;
    margin-top: 5px !important;
}

.maingrid .sortable,
.sortablegrid .sortable
{
    cursor: pointer;
}

.maingrid > table th .pull-right {
    width:15px;
}

.sortablegrid .fa-sort,
.maingrid > table th .fa-sort,
.maingrid > table th .fa-filter {
    color:#E0E0E0 !important;
}


.maingrid.wrapper.panel {
    border:0 !important;
    margin:-20px -10px -10px -15px !important;
    border-top:1px solid #ccc !important;

}

.maingrid.wrapper.panel table {
    margin-top:-5px;
    border-bottom : 0;
}

.maingrid.wrapper.panel .subtotal {
    color:#4460a9;
    border-top:2px solid #ccc;
}

.maingrid.wrapper.panel .subtotal TD {
    padding-bottom:25px
}

.maingrid.wrapper.panel .total {
    font-weight: bold;
}

.maingrid.wrapper.panel .tfoot {
    border-top: 3px double #ccc;
}
.maingrid.wrapper.panel .tfoot td {
    background-color: white !important;
    font-weight: bold !important;
}
@media all and (min-width: 0px) and (max-width: 600px) {
    .maingrid.wrapper {
        padding-right: 5px;
        padding-left: 5px
    }

    .maingrid .header {
        margin-left:-5px;
        margin-right:-5px;
    }

    .maingrid .wrapper .panel table {
        margin-left:-15px !important;
    }
}

.hidden-arrows th .fa-sort {
    visibility: hidden;
}

.hidden-arrows .thead:hover th i {
    visibility:visible;
}

.hidden-arrows .pad {
    padding-right:15px
}

.grid-search input {
    width:150px;
    font-size:12px
}

@media print {

    table,th, tr, tfoot tr, tfoot tr td, thead tr, thead tr th {
        position: relative !important;
    }


    .maingrid .header {
        background-color: #f8f8f8 !important;
    }


    .maingrid.wrapper.panel .subtotal TD,
    .maingrid.wrapper.panel .subtotal TD SPAN
    {
        background-color:white !important;
        color: #4460a9 !important;
    }

    .maingrid > table >tbody>tr:nth-of-type(odd) td,
    .maingrid > table .thead th {
        background-color: #f9f9f9 !important;
    }
}


.table>tbody>tr>th {
    border-top: inherit !important;
}

.table > tbody > tr.thead + tr td {
    border-top: 0px !important;
}

@media print {
    .table {border-collapse: separate !important}
    .maingrid.wrapper.panel .tfoot td {border-top:inherit}

    .table > tbody > tr.thead + tr td {
        border-top: 2px solid #ddd !important
    }

    .maingrid.wrapper.panel {
        padding-bottom:0px;
    }

    .maingrid.wrapper.panel .tfoot {
        border-top: 2px solid #aaa;
    }

    .maingrid.wrapper.panel .subtotal TD {
        border-top: 1px solid #aaa;
    }

}

td.triangle, li.triangle, a.triangle, div.triangle-parent {
    position: relative;
}

div.triangle {
    position:absolute;
    top:0px;
    width:12px;
    height:12px;
    left:0px;
}

div.triangle.profile {
    top:-10px;
    height:15px;
    width:20px;
    left:-12px;
}

div.triangle.reporting {
    top:-1px;
    height:15px;
    width:20px;
    left:2px;
}

div.triangle:after  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: block;
    border-right: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-top: 12px solid #32CD32;
}

div.triangle.profile:after  {
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-top: 20px solid #32CD32;
}

div.triangle.reporting:after  {
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-top: 20px solid #32CD32;
}