.tab-container {
    border:1px solid #ddd;
    background-color:white;
    border-top:0;
    padding: 15px;
}

.tab-container h4 {
    color: #4460a9;
}

.nav-tabs>li {
    margin-bottom: -2px;
    font-weight: bold;
}

.nav-tabs>li>a {
    border-radius: 0;
    font-size: 12px;
    color: #000;
    border: 1px solid #ddd;
    background-color: white;
    margin-right:2px;
    padding:10px 10px
}

.nav>li>a:focus, .nav>li>a:hover {
    border: 1px solid #ddd;
    background-color: white;
    margin-right:2px;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border-top: 2px solid #4460a9;
    color: #4460a9;
}

.nav-tabs>li>a:hover {
    border-color: #ddd;
}