.tab-container {
    border:1px solid #ddd;
    background-color:white;
    border-top:0;
    padding: 15px;
}

.tab-container h4 {
    color: #4460a9;
}
.nav-tabs>li>a {
    border-radius: 0;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border-top: 2px solid #4460a9;
}

.nav-tabs>li>a:hover {
    border-color: #eee;
}