<div class="market-survey">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">{{title}}</h2>
    </div>
    <div class="modal-body">
        <div ng-if="appliedPerspective">
            <b>Perspective Applied:</b> <a href="/#/perspectives?prId={{propertyId}}&pId={{appliedPerspective.id}}" target="_blank">{{appliedPerspective.name}}</a><Br>
            Some floor plans are not part of the perspective and has been excluded from calculations:
            <Br>
        </div>
        <div ng-if="!appliedPerspective">
            Some property floor plans are missing rent values and are being excluded from calculations:
        </div>
        <div ng-repeat="(key, value) in excludedList" style="margin-top:20px">
            <B>{{key}}</B><br>
            <div ng-repeat="fp in value" style="margin-left:15px;">
                - {{fp}}
            </div>
        </div>
    </div>
    <div class="row" style="padding:20px">
        <div class="col-xs-12 text-center">
            <a class="btn btn-default contact-submit" ng-click="cancel()">Close</a>
        </div>
    </div>
</div>
