<h2 class="mainheader">Admin > Upload Surveys
    <hr>
</h2>

<div ng-show="!localLoading" style="display:block;width:100px;margin:50px auto">
    <img src="/images/squares.gif" style="width:100px">
</div>
<div ng-show="localLoading">
    <div class="panel panel-info">
        <div class="panel-heading">Upload</div>
        <dev class="panel-body">
            <hr>
            Property:<Br>
                <div
                     custom-select="f.name for f in searchAsync($searchTerm)"
                     custom-select-options="{ 'async': true }"
                     ng-model="data.property" autofocus
                ></div>
            </select><br>
            <Br>
            Data:<br>
            <textarea class="form-control" style="height:220px" ng-model="data.surveys"></textarea><br>
            <Br>
            <Center>
            <button class="btn btn-primary" ng-click="upload()">Upload</button>
            </Center>
        </dev>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">Sample</div>
        <div class="panel-body">
            <hr>
            <textarea class="form-control" style="height:220px" id="sample">Date				8/1/2013		9/1/2013		10/1/2013
Occupancy				96.1		95.2		94.2
Traffic				53		56		59
Leases				17		18		19
Type	Desc	Unit Count	SQFT	Rent	Concession	Rent	Concession	Rent	Concession
1x1	Fireplace	96	749	760	0	865	0	865	0
1x1	Fireplace	22	791	860	0	965	0	965	0
2x2		60	1053	1030	0	1060	0	1020	0
2x2		88	1077	1065	0	1097	0	1055	0
3x2		48	1250	1245	0	1276	0	1200	0</textarea>
        </div>
    </div>
</div>