<label for="sso-system">SSO Identity Provider</label>
<select
    class="form-control input-sm"
    ng-model="ssoOrganizationModel.providerModel"
    ng-options="item for item in ssoOrganizationModel.provider"
    id="sso-system"
>
</select>
<div ng-if="ssoOrganizationModel.providerModel === 'Okta'">
    <div style="margin-top: 15px;">
        <label for="url">Client URL</label>
        <input autocomplete="off" class="form-control input-sm" name="url" ng-model="ssoOrganizationModel.clientUrl" type="text" required />
    </div>
    <div style="margin-top: 15px;">
        <label for="clientID">Client ID</label>
        <input autocomplete="off" class="form-control input-sm" name="clientId" ng-model="ssoOrganizationModel.clientId" type="text" required />
    </div>
    <div style="margin-top: 15px;">
        <label for="clientSecret">Client Secret</label>
        <input autocomplete="off" class="form-control input-sm" name="clientSecret" ng-model="ssoOrganizationModel.clientSecret" type="text" required />
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-10">New User Default Login is SSO</div>
    <div class="col-xs-2">
        <toggle-switch checked="ssoOrganizationModel.newUsers"></toggle-switch>
    </div>
</div>
