.main-nav.mat-toolbar {
  background-color:white;
  border-bottom: 1px solid #ccc;
}

.main-nav .mat-form-field {
  font-size:15px;
  color: rgba(0,0,0,.54);
}


.main-nav .mat-button  {
  font-weight: bold;
}

.main-nav .env {
  color:red;position:absolute;left:22px;top:-2px;font-weight: bolder;font-size: 17px;
}
