@import "../../../global";

.main-nav.mat-toolbar {
  background-color:white;
  border-bottom: 1px solid #ccc;
}

.main-nav .mat-form-field {
  font-size:15px;
  color: rgba(0,0,0,.54);
}


.main-nav .mat-button  {
  font-weight: bold;
}

.main-nav .env {
  color:red;position:absolute;left:22px;top:-2px;font-weight: bolder;font-size: 17px;
}

.main-nav .top-nav {
  font-size:14px;
  color: black;
  font-weight: bold;
  display: inline-block;
  height: 46px;
  margin-right:15px;
  padding: 0 10px;
}

.main-nav .top-nav:hover {
  color: $green-color;
  border-bottom: 3px solid $green-color;
}

.main-nav .prefix {
  margin-right:8px;
}

.main-nav .name-dropdown {
  margin-left:15px;
}

.mat-menu-item.role-item {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  cursor: default;
  line-height: 24px !important;
  height: 28px !important;
}

.mat-menu-item.role-item:hover {
  background-color: inherit;
}
