<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">Edit Report</h2>
    <hr>
</div>

<div class="modal-body">
    Name:<Br>
    <input class="form-control input-sm" ng-model="report.name"><Br>
    <button class=" btn btn-success btn-large contact-submit" type="button" ng-click="save()">Update</button>
    <button class=" btn btn-danger btn-large contact-submit pull-right" type="button" ng-click="delete()"><i class="fa fa-trash" style="color:white"></i> Delete</button>
</div>
