{{debug}}
<style>
    tr.padding td {
        padding: 2px 0px;
    }
    tr.hover:hover {
        background-color: #f5f5f5;
    }
</style>
<div ng-show="!meLoaded" style="display:block;width:100px;margin:50px auto">
    <img src="/images/squares.gif" style="width:100px">
</div>

<div class="row hidden-print" ng-show="meLoaded">
    <div class="pull-left">
        <h2 class="mainheader" ng-if="!currentReport">Reporting</h2>
        <h2 class="mainheader" ng-if="currentReport">Reporting: {{currentReport.name}}</h2>
    </div>
    <div class="hidden-print pull-right" ng-if="!reports || noReports || reportLoading">
        <button uib-tooltip="Please run report" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="opacity: .5;cursor: not-allowed">
            <i class="fa fa-download visible-xs-inline"></i> <span class="hidden-xs">Print/Export</span> <span class="caret" style="color:white !important;"></span>
        </button>
    </div>
    <div class="hidden-print pull-right" ng-if="reports && !noReports && !reportLoading">
        <div class="btn-group" style="padding-bottom:10px">
            <button uib-tooltip="Print/Export" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id = "export">
                <i class="fa fa-download visible-xs-inline"></i> <span class="hidden-xs">Print/Export</span> <span class="caret" style="color:white !important;"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href ng-click="pdf('')"><i class="fa fa-print"></i> Print</a></li>
                <li><a href ng-click="pdf(true)"><i class="fa fa-file-pdf-o" style="color:#ed110a"></i> Export PDF</a></li>
                <li><a href ng-click="excel()" ng-if="property_report"><i class="fa fa-file-excel-o" style="color:#32742a"></i> Export Excel</a></li>
            </ul>
        </div>
    </div>

    <div class="hidden-print pull-right">
        <div class="btn-group" style="padding-bottom:10px;padding-right:10px">
            <button uib-tooltip="My Saved/Shared Reports" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id = "my">
                <i class="fa fa-save visible-xs-inline"></i> <span class="hidden-xs">My Reports</span> <span class="caret" style="color:white !important;"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right" role="menu" style="min-width:300px">
                <Table border="0" style="margin:0px 0px 0px 10px;width:90%">
                    <tr style="border-bottom:1px dotted #ccc">
                        <Td  colspan="100%"><B>My Saved Reports</B></Td>
                    </tr>
                    <tr ng-if="!savedReports || (savedReports | filter : {orgid: '!'}).length == 0" class="padding">
                        <td style="width:15px">

                        </td>
                        <Td colspan="3">
                            None
                        </Td>
                    </tr>
                    <tr class="hover padding" ng-repeat="report in savedReports | orderBy : 'name' | filter : {orgid: '!'}">
                        <td style="width:15px"  ng-click="loadReport(report)">

                        </td>
                        <Td ng-click="loadReport(report)">
                            <a href uib-tooltip="{{report.name}}" style="color:#333;width:240px;overflow: hidden;white-space: nowrap;display:block;text-overflow: ellipsis">{{report.name}}</a>
                        </Td>
                        <td style="width:15px" ng-click="loadReport(report)">

                        </td>

                        <td valign="middle" style="text-align: right;padding-right:5px">
                            <a href ng-click="editReport(report)"><i class="fa fa-pencil" style="font-size:12px"></i></a>
                        </td>
                    </tr>
                    <tr style="border-bottom:1px dotted #ccc">
                        <Td  colspan="100%" style="padding-top:10px;"><B>{{$root.me.orgs[0].name}} Reports</B></Td>
                    </tr>
                    <tr ng-if="!savedReports || (savedReports | filter : {orgid: '!!'}).length == 0" class="padding">
                        <td style="width:15px">

                        </td>
                        <Td colspan="3">
                            None
                        </Td>
                    </tr>
                    <tr class="hover padding" ng-repeat="report in savedReports | orderBy : 'name' | filter : {orgid: '!!'}">
                        <td style="width:15px"  ng-click="loadReport(report)">

                        </td>
                        <Td ng-click="loadReport(report)">
                            <a href uib-tooltip="{{report.name}} (Shared by: {{report.owner}})" style="color:#333;width:240px;overflow: hidden;white-space: nowrap;display:block;text-overflow: ellipsis">{{report.name}}</a>
                        </Td>
                        <td style="width:15px" ng-click="loadReport(report)">

                        </td>

                        <td valign="middle" style="text-align: right;padding-right:5px" nowrap>
                            <i class="fa fa-user" style="font-size:12px;margin-right:2px" ng-if="report.ownerid.toString() == me._id.toString()" uib-tooltip="You shared this report"></i>
                            <a href ng-click="editReport(report)" ng-if="report.ownerid.toString() == me._id.toString() || me.roles[0] == 'Corporate Manager'" uib-tooltip="Edit"><i class="fa fa-pencil" style="font-size:12px"></i></a>
                        </td>
                    </tr>
                </Table>
            </div>
        </div>
    </div>
</div>
<div ng-show="localLoading && meLoaded" class="hidden-print">
    <hr style="border-color:#ddd;;margin: 5px 5px 10px 5px;">
</div>
<div ng-show="meLoaded" class="row"  style="position: relative !important;">
    <div class="col-xs-12"  style="position: relative !important;">
        <div ng-show="localLoading && myProperties.length == 0" style="text-align:center">
            <div class="alert alert-warning" role="alert"><b>There are no properties assigned to your account</b></div>

        </div>
        <div ng-show="!localLoading" style="display:block;width:100px;margin:50px auto">
            <img src="/images/squares.gif" style="width:100px">
        </div>
        <div class="row" ng-if="localLoading">
            <div class="panel panel-info hidden-print">
                <div class="panel-heading">Criteria</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            Default Reports:<Br>
                            <div>
                                <filter-list options="reportOptions" items="reportItems"></filter-list>
                            </div>
                        </div>

                        <div class="col-sm-4" ng-if="reportType=='single' || reportType=='multiple'">
                            <Span ng-if="reportType=='single'">Property</Span><Span ng-if="reportType=='multiple'">Properties</Span>:<Br>
                            <div ng-show="myProperties.length == 1 && reportType=='single'"><h4 style="margin:4px 0px 0px 0px;color: #4460a9;">{{selected.Property.name}}</h4></div>
                            <div ng-show="reportType=='single'" class="visible-print"><h4 style="margin:0px">{{selected.Property.name}}</h4></div>
                            <div ng-if="myProperties.length > 1 && reportType=='single'"
                                 custom-select="f.name for f in searchAsync($searchTerm)"
                                 custom-select-options="{ 'async': true }"
                                 ng-model="selected.Property" autofocus
                            ></div>

                            <filter-list-ajax options="propertyOptions" model="propertyItems.items"  search="autocompleteproperties"  ng-if="reportType=='multiple'"></filter-list-ajax>
                        </div>

                        <div class="col-sm-4" ng-if="reportType=='single'">
                            Comps:<Br>
                            <div ng-if="items.length == 0" style="text-align:center">
                                <div class="alert alert-warning" role="alert"><b>There are no comps assigned to this property</b></div>
                            </div>

                            <div ng-if="items.length > 0">
                                <filter-list options="options" items="items"></filter-list>
                            </div>
                        </div>


                    </div>

                    <style>
                        uib-accordion .panel-heading  {
                            border-left:0 !important;
                            margin-top: 0px !important;
                            margin-left:0px !important;
                            padding-left:0px !important;
                            padding:5px !important;
                            background-color: #f5f5f5 !important;
                        }

                        uib-accordion .panel-body  {
                            background-color: #f9f9f9 !important;
                        }

                        uib-accordion .panel {
                            border-radius: 0px !important;
                        }

                        uib-accordion .panel-default {
                            margin-bottom:10px !important;;
                            margin-left:4px !important;
                            margin-right:4px !important;;
                        }
                    </style>
                    <br clear="all">
                    <uib-accordion ng-if="(rankings || rankingsSummary || property_report || concession || property_status || trends)" class="hidden-print" style="margin-top:15px" close-others="false">
                        <div ng-if="concession" uib-accordion-group class="panel-default" is-open="temp.concession_open">
                            <uib-accordion-heading>
                                <Div>
                                    <i class="fa fa-gear fa-2px"></i> Preferences: Concessions <i ng-class="{fa : true, 'fa-chevron-right': !temp.concession_open, 'fa-chevron-down': temp.concession_open, 'fa-2px': true}"></i>
                                </Div>
                            </uib-accordion-heading>
                            <div class="row" style="padding:10px">
                                <div class="col-xs-12 col-sm-4 col-md-3">
                                    Date Range<br>
                                    <daterange-picker daterange="liveSettings.concession.daterange"></daterange-picker>
                                </div>
                            </div>
                        </div>
                        <div ng-if="property_report" uib-accordion-group class="panel-default" is-open="temp.property_report_open">
                            <uib-accordion-heading>
                                <Div>
                                    <i class="fa fa-gear fa-2px"></i> Preferences: Market Survey Summary <i ng-class="{fa : true, 'fa-chevron-right': !temp.property_report_open, 'fa-chevron-down': temp.property_report_open, 'fa-2px': true}"></i>
                                </Div>
                            </uib-accordion-heading>
                            <div class="row" style="padding:10px">
                                <div class="col-xs-12">
                                    <b>Common</b>
                                    <hr style="border-top-color:#ccc">
                                </div>
                                <br clear="all">
                                <div class="col-xs-12 col-sm-4 col-md-3">
                                    Date Range<br>
                                    <daterange-picker daterange="liveSettings.dashboardSettings.daterange"></daterange-picker>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-3">
                                    Measurement Scale<br>
                                    <select class="form-control input-sm" ng-model="liveSettings.dashboardSettings.nerScale">
                                        <option value="ner" ng-selected="liveSettings.dashboardSettings.nerScale=='ner'">NER</option>
                                        <option value="nersqft" ng-selected="liveSettings.dashboardSettings.nerScale=='nersqft'">NER/Sqft</option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-3">
                                    Property Info<br>
                                    <filter-list options="temp.showProfileOptions" items="temp.showProfileItems"></filter-list>
                                </div>
                                <br clear="all">
                                <div class="col-xs-12" style="margin-top:15px">
                                    <b>Competitor Summary</b>
                                    <hr style="border-top-color:#ccc">
                                </div>
                                <br clear="all">
                                <div class="col-xs-12 col-sm-4 col-md-3">
                                    Trends: Group Comps<br>
                                    <toggle-switch checked="liveSettings.dashboardSettings.summary"></toggle-switch>&nbsp;
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-3">
                                    Trends: Show<br>
                                    <select
                                            class="input-sm form-control"
                                            ng-options="bedroom.text for bedroom in temp.bedrooms"
                                            ng-model="temp.bedroom"
                                    ></select>
                                </div>

                                <div class="col-xs-12 col-sm-4 col-md-3">
                                    Competitors Columns<br>
                                    <filter-list options="temp.showCompOptions" items="temp.showCompItems"></filter-list>
                                </div>


                                <div class="col-xs-12 col-sm-4 col-md-3">
                                    Competitors Sort Order<br>
                                    <div ng-class="{'col-xs-6': temp.compSortSelected.id != 'number', 'col-xs-12': temp.compSortSelected.id == 'number'}" style="padding-left: 0; padding-right:0">
                                        <select
                                                class="input-sm form-control"
                                                ng-options="item.name for item in temp.compSortItems"
                                                ng-model="temp.compSortSelected"
                                        ></select>
                                    </div>
                                    <div class="col-xs-6" style="padding-right:0;padding-left:5px;white-space: nowrap" ng-show="temp.compSortSelected.id != 'number'">
                                        <label><input type="radio" name="compSort" value="asc" ng-model="temp.compSortDir"> <i class="fa fa-sort-amount-asc"></i> <span style="font-size:11px">Asc</span></label>

                                        <label><input type="radio" name="compSort" value="desc" ng-model="temp.compSortDir"> <i class="fa fa-sort-amount-desc"></i> <span style="font-size:11px">Desc</span></label>

                                    </div>
                                </div>
                                <br clear="all">
                                <div class="col-xs-12" style="margin-top:15px">
                                    <b>Property Profile</b>
                                    <hr style="border-top-color:#ccc">
                                </div>
                                <br clear="all">

                                <div class="col-xs-12 col-sm-4 col-md-3">
                                    Trends: Show Graphs<br>
                                    <toggle-switch checked="liveSettings.profileSettings.graphs"></toggle-switch>&nbsp;
                                </div>

                                <div class="col-xs-12 col-sm-4 col-md-3">
                                    Floor Plans Columns<br>
                                    <filter-list options="temp.showFloorplanOptions" items="temp.showFloorplanItems"></filter-list>
                                </div>

                                <div class="col-xs-12 col-sm-4 col-md-3">
                                    Floor Plans Sort Order<br>
                                    <div class="col-xs-6" style="padding-left: 0; padding-right:0">
                                        <select
                                                class="input-sm form-control"
                                                ng-options="item.name for item in temp.floorPlanSortItems"
                                                ng-model="temp.floorPlanSortSelected"
                                        ></select>
                                    </div>
                                    <div class="col-xs-6" style="padding-right:0;padding-left:5px;white-space: nowrap">
                                        <label><input type="radio" name="floorPlanSort" value="asc" ng-model="temp.floorPlanSortDir"> <i class="fa fa-sort-amount-asc"></i> <span style="font-size:11px">Asc</span></label>

                                        <label><input type="radio" name="floorPlanSort" value="desc" ng-model="temp.floorPlanSortDir"> <i class="fa fa-sort-amount-desc"></i> <span style="font-size:11px">Desc</span></label>

                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4 col-md-3" style="text-align: end">
                                    <Br>
                                    <button class="btn btn-warning btn-xs" ng-click="resetPropertyReportSettings(true)" style="font-size:10px">Reset to default</button>
                                </div>

                            </div>
                        </div>
                        <div ng-if="rankingsSummary" uib-accordion-group class="panel-default"  style="margin-bottom:-3px" is-open="temp.rankings_summary_open">
                            <uib-accordion-heading>
                                <Div>
                                    <i class="fa fa-gear fa-2px"></i> Preferences: Property Rankings <i ng-class="{fa : true, 'fa-chevron-right': !temp.rankings_summary_open, 'fa-chevron-down': temp.rankings_summary_open, 'fa-2px': true}"></i>
                                </Div>
                            </uib-accordion-heading>
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-3" style="margin:15px 0px">
                                    Columns<br>
                                    <filter-list options="temp.showRankingsSummaryOptions" items="temp.showRankingsSummaryItems"></filter-list>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-3" style="margin:15px 0px">
                                    Sort Order<br>
                                    <div class="col-xs-6" style="padding-left: 0; padding-right:0">
                                        <select
                                                class="input-sm form-control"
                                                ng-options="item.name for item in temp.rankingSummarySortItems"
                                                ng-model="temp.rankingSummarySortSelected"
                                        ></select>
                                    </div>
                                    <div class="col-xs-6" style="padding-right:0;padding-left:5px;white-space: nowrap">
                                        <label><input type="radio" name="rankingSummarySortDir" value="asc" ng-model="temp.rankingSummarySortDir"> <i class="fa fa-sort-amount-asc"></i> <span style="font-size:11px">Asc</span></label>

                                        <label><input type="radio" name="rankingSummarySortDir" value="desc" ng-model="temp.rankingSummarySortDir"> <i class="fa fa-sort-amount-desc"></i> <span style="font-size:11px">Desc</span></label>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="rankings" uib-accordion-group class="panel-default"  style="margin-bottom:-3px" is-open="temp.rankings_open">
                            <uib-accordion-heading>
                                <Div>
                                    <i class="fa fa-gear fa-2px"></i> Preferences: Property Rankings (detailed) <i ng-class="{fa : true, 'fa-chevron-right': !temp.rankings_open, 'fa-chevron-down': temp.rankings_open, 'fa-2px': true}"></i>
                                </Div>
                            </uib-accordion-heading>
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-3" style="margin:15px 0px">
                                    Columns<br>
                                    <filter-list options="temp.showRankingsOptions" items="temp.showRankingsItems"></filter-list>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-3" style="margin:15px 0px">
                                    Sort Order<br>
                                    <div class="col-xs-6" style="padding-left: 0; padding-right:0">
                                        <select
                                                class="input-sm form-control"
                                                ng-options="item.name for item in temp.rankingSortItems"
                                                ng-model="temp.rankingSortSelected"
                                        ></select>
                                    </div>
                                    <div class="col-xs-6" style="padding-right:0;padding-left:5px;white-space: nowrap">
                                        <label><input type="radio" name="rankingSortDir" value="asc" ng-model="temp.rankingSortDir"> <i class="fa fa-sort-amount-asc"></i> <span style="font-size:11px">Asc</span></label>

                                        <label><input type="radio" name="rankingSortDir" value="desc" ng-model="temp.rankingSortDir"> <i class="fa fa-sort-amount-desc"></i> <span style="font-size:11px">Desc</span></label>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="trends" uib-accordion-group class="panel-default"  style="margin-bottom:-3px" is-open="temp.trends_open">
                            <uib-accordion-heading>
                                <Div>
                                    <i class="fa fa-gear fa-2px"></i> Preferences: Trend Analysis <i ng-class="{fa : true, 'fa-chevron-right': !temp.trends_open, 'fa-chevron-down': temp.trends_open, 'fa-2px': true}"></i>
                                </Div>
                            </uib-accordion-heading>
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-3" style="margin:15px 0px">
                                    Date Range<br>
                                    <daterange-picker daterange="liveSettings.trends.daterange1"></daterange-picker>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-3" style="margin:15px 0px">
                                    Compare To<br>
                                    <div ng-if="liveSettings.trends.daterange1.selectedRange == 'Lifetime'">
                                        <b><i>No Compare</i></b>
                                    </div>
                                    <table style="width:100%" ng-if="liveSettings.trends.daterange1.selectedRange != 'Lifetime'">
                                        <tr>
                                            <Td>
                                                <input type="checkbox" ng-model="liveSettings.trends.daterange2.enabled">
                                            </Td>
                                            <Td style="width:100%;padding-left:5px">
                                                <daterange-picker daterange="liveSettings.trends.daterange2"></daterange-picker>
                                            </Td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-3" style="margin:15px 0px">
                                    Property Metrics<br>
                                    <filter-list options="temp.showTrendsOptions" items="temp.showTrendsItems"></filter-list>
                                </div>
                            </div>
                        </div>
                        <div ng-if="property_status" uib-accordion-group class="panel-default"  style="margin-bottom:-3px" is-open="temp.property_status_open">
                            <uib-accordion-heading>
                                <Div>
                                    <i class="fa fa-gear fa-2px"></i> Preferences: Property Status <i ng-class="{fa : true, 'fa-chevron-right': !temp.property_status_open, 'fa-chevron-down': temp.property_status_open, 'fa-2px': true}"></i>
                                </Div>
                            </uib-accordion-heading>
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-3" style="margin:15px 0px">
                                    Columns<br>
                                    <filter-list options="temp.showPropertyStatusOptions" items="temp.showPropertyStatusItems"></filter-list>
                                </div>
                            </div>
                        </div>
                    </uib-accordion>

                    <div class="hidden-print">
                        <center>
                            <button class="btn btn-sm btn-primary" ng-click="run()">Run Report</button>
                            <button class="btn btn-sm btn-warning" ng-if="reportIds.length > 0" ng-click="saveReport()">Save Report</button>
                        </center>
                    </div>
                </div>
            </div>



            <div class="panel panel-info hidden-print" ng-if="!reports">
                <div class="panel-heading">Results</div>
                <div class="panel-body">
                    <div ng-show="reportLoading" style="display:block;width:40px;margin:50px auto">
                        <img src="/images/squares.gif" style="width:100px">
                    </div>
                    <div class="alert alert-warning" role="alert" ng-if="!reports && !noReports && !reportLoading && !noProperties"><b>Please select your Criteria and hit 'Run Report'</b></div>
                    <div class="alert alert-danger" role="alert" ng-if="noReports"><b>Please select at least 1 report and hit 'Run Report'</b></div>
                    <div class="alert alert-danger" role="alert" ng-if="noProperties"><b>Please select at least 1 property and hit 'Run Report'</b></div>

                </div>
            </div>
        </div>

        <div class="row" style="position: relative !important;">
            <cover-page options="coverPage"></cover-page>

            <property-report  style="position: relative !important;" ng-if="!reportLoading && reports && reports.property_report && property_report" report="reports.property_report" me="me" dashboard-settings="runSettings.dashboardSettings" profile-settings="runSettings.profileSettings" show-profile="runSettings.showProfile" bedrooms="temp.bedrooms" bedroom="temp.bedroom"></property-report>

            <concession class="report" ng-if="!reportLoading && reports && reports.concession && concession" report="reports.concession"></concession>

            <rankings-report-summary class="report" ng-if="!reportLoading && reports && reports.floorplans && rankingsSummary" report="reports.floorplans" subject="selected.Property" comps="selected.Comps" settings="me.settings" order-by="runSettings.rankingsSummary.orderBy" show="liveSettings.rankingsSummary.show"></rankings-report-summary>

            <rankings-report class="report" ng-if="!reportLoading && reports && reports.floorplans && rankings" report="reports.floorplans" subject="selected.Property" comps="selected.Comps" settings="me.settings" order-by="runSettings.rankings.orderBy" show="liveSettings.rankings.show"></rankings-report>

            <communityamenities-report class="report" ng-if="!reportLoading && reports && reports.community_amenities" report="reports.community_amenities" subject="selected.Property" comps="selected.Comps"></communityamenities-report>

            <locationamenities-report class="report" ng-if="!reportLoading && reports && reports.location_amenities" report="reports.location_amenities" subject="selected.Property" comps="selected.Comps"></locationamenities-report>

            <fees-report class="report" ng-if="!reportLoading && reports && reports.fees_deposits" report="reports.fees_deposits" subject="selected.Property" comps="selected.Comps"></fees-report>

            <trends-report  style="position: relative !important;" ng-if="!reportLoading && reports && reports.trends && trends" report="reports.trends" settings="runSettings.trends"></trends-report>

            <property-status class="report" ng-if="!reportLoading && reports && reports.property_status" report="reports.property_status" show-leases="$root.me.settings.showLeases" show="liveSettings.propertyStatus.show"></property-status>
        </div>
    </div>
</div>
