{{debug}}
<style>

    .maingrid.wrapper.panel .subtotal TD,
    .maingrid.wrapper.panel .subtotal TD SPAN{
        color:black !important;
        font-weight: bold !important;
    }

    .fp-header  {
        border-top:0px !important;
        padding-top:5px !important;
    }

    .subject td {
        font-weight: bold !important;
        color:#4460a9 !important;
    }

    .maingrid.wrapper.panel .subtotal TD  {
        padding-bottom:10px !important;
    }

    .maingrid.wrapper.panel .subtotal-padding TD {
        padding-bottom:25px !important;
    }

    @media print {

        @page { margin: 5px; }
        body {
            margin:10px 20px
        }

        /*table { page-break-inside:auto; position:relative}*/
        /*tr { page-break-before:avoid; page-break-after:auto;position:relative}*/
        /*td{ border:solid 1px #CCCCCC;width:auto;position:relative}*/
        /*thead { display:table-header-group;position:relative }*/
        /*tfoot { display:table-footer-group;positioion:relative}*/

        .panel-heading {
            page-break-after: avoid !important;
            break-after: avoid !important;
            display: inline-block;
        }

        .print-header HR {
            display:none !important;
        }



        #page-content-wrapper {
            padding: 0px !important;
        }

        .panel-info {
            width: 1160px;
            page-break-before: auto !important;
            break-before: auto !important;
            page-break-inside: auto  !important;
            break-inside: auto !important;
            display: inline-block;
            margin-top:15px !important;
        }

        h4 {color:#4460a9 !important}

        .fp-header-div {
            position: relative;
            display: inline-block;
            page-break-before: always !important;
            break-before: always !important;
            break-inside: avoid !important;
            page-break-inside: avoid;
        }


        .maingrid .header {
            height:57px !important;
        }

        table,th {
            position: relative !important;
        }

        TD .black {
            color: #000 !important;
        }

        .fa-check:before {
            color: #1E90FF !important;
        }

        *, :after, :before {
            color:inherit !important;
        }

        .maingrid.wrapper.panel .subtotal TD,
        .maingrid.wrapper.panel .subtotal TD SPAN{
            color:black !important;
            font-weight: bold !important;
        }

    }

    /*table,.page-content-wrapper, .row, communityamenities-report, locationamenities-report,fees-report, .panel,.panel-body,body,html {*/
        /*position: relative !important;*/
    /*}*/
    /*.break*/
    /*{*/
        /*break-before: always;*/
        /*page-break-before: always;*/
        /*page-break-inside: avoid;*/
    /*}*/
</style>
<div class="row hidden-print">
    <div class="col-xs-7 col-sm-7">
        <h2 class="mainheader">Reporting</h2>
    </div>
    <div class="col-xs-5 col-sm-5 hidden-print" ng-if="reports && !noReports && !reportLoading">
        <div class="btn-group pull-right" style="padding-bottom:10px">
            <button uib-tooltip="Print/Export" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id = "export">
                <i class="fa fa-download visible-xs-inline"></i> <span class="hidden-xs">Print/Export</span> <span class="caret" style="color:white !important;"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href ng-click="pdf('')"><i class="fa fa-print"></i> Print</a></li>
                <li><a href ng-click="pdf(true)"><i class="fa fa-file-pdf-o" style="color:#ed110a"></i> Export Pdf</a></li>
            </ul>
        </div>

    </div>
</div>
<div ng-show="localLoading" class="hidden-print">
    <hr style="border-color:#ddd;;margin: 5px 5px 10px 5px;">
</div>
<div class="row">
    <div class="col-xs-12">
        <div ng-show="localLoading && myProperties.length == 0" style="text-align:center">
            <div class="alert alert-warning" role="alert"><b>There are no properties assigned to your account</b></div>

        </div>
        <div ng-show="!localLoading" style="display:block;width:100px;margin:50px auto">
            <img src="/images/squares.gif" style="width:100px">
        </div>
        <div class="row" ng-if="localLoading && myProperties.length > 0">
            <div class="panel panel-info hidden-print">
                <div class="panel-heading">Criteria</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            Reports:<Br>
                            <div>
                                <filter-list options="reportOptions" items="reportItems"></filter-list>
                            </div>
                        </div>

                        <div class="col-sm-4" ng-if="reportType=='single' || reportType=='multiple'">
                            <Span ng-if="reportType=='single'">Property</Span><Span ng-if="reportType=='multiple'">Properties</Span>:<Br>
                            <div ng-show="myProperties.length == 1"><h4 style="margin:4px 0px 0px 0px;color: #4460a9;">{{selected.Property.name}}</h4></div>
                            <div class="visible-print"><h4 style="margin:0px">{{selected.Property.name}}</h4></div>
                            <select ng-if="myProperties.length > 1 && reportType=='single'"
                                    class="form-control input-sm hidden-print"
                                    ng-change="changeProperty()"
                                    ng-model="selected.Property"
                                    ng-options="item.name for item in myProperties"
                                    style="font-size:14px"
                                    >
                            </select>

                            <filter-list options="propertyOptions" items="propertyItems"  ng-if="myProperties.length > 1 && reportType=='multiple'"></filter-list>
                        </div>

                        <div class="col-sm-4" ng-if="reportType=='single'">
                            Comps:<Br>
                            <div ng-if="items.length == 0" style="text-align:center">
                                <div class="alert alert-warning" role="alert"><b>There are no comps assigned to this property</b></div>
                            </div>

                            <div ng-if="items.length > 0">
                                <filter-list options="options" items="items"></filter-list>
                            </div>
                        </div>


                    </div>

                    <div style="width:100px;margin:10px auto 0px auto" class="hidden-print" ng-if="myProperties.length > 0">
                        <button class="btn btm-sm btn-primary" ng-click="run()">Run Report</button>
                    </div>
                </div>
            </div>

            <div class="panel panel-info hidden-print" ng-if="myProperties.length > 0 && !reports">
                <div class="panel-heading">Results</div>
                <div class="panel-body">
                    <div ng-show="reportLoading" style="display:block;width:40px;margin:50px auto">
                        <img src="/images/squares.gif" style="width:100px">
                    </div>
                    <div class="alert alert-warning" role="alert" ng-if="!reports && !noReports && !reportLoading && !noProperties"><b>Please select your Criteria and hit 'Run Report'</b></div>
                    <div class="alert alert-danger" role="alert" ng-if="noReports"><b>Please select at least 1 report and hit 'Run Report'</b></div>
                    <div class="alert alert-danger" role="alert" ng-if="noProperties"><b>Please select at least 1 property and hit 'Run Report'</b></div>

                </div>
            </div>
        </div>

        <div class="row">

        <rankings-report ng-if="!reportLoading && reports && reports.floorplans && rankings" report="reports.floorplans" subject="selected.Property" comps="selected.Comps" settings="me.settings"></rankings-report>

        <marketshare-report ng-if="!reportLoading && reports && reports.floorplans && marketShare" report="reports.floorplans" subject="selected.Property" comps="selected.Comps" settings="me.settings"></marketshare-report>

        <communityamenities-report ng-if="!reportLoading && reports && reports.community_amenities" report="reports.community_amenities" subject="selected.Property" comps="selected.Comps"></communityamenities-report>

        <locationamenities-report ng-if="!reportLoading && reports && reports.location_amenities" report="reports.location_amenities" subject="selected.Property" comps="selected.Comps"></locationamenities-report>

        <fees-report ng-if="!reportLoading && reports && reports.fees_deposits" report="reports.fees_deposits" subject="selected.Property" comps="selected.Comps"></fees-report>

        <property-status ng-if="!reportLoading && reports && reports.property_status" report="reports.property_status" show-leases="$root.me.settings.showLeases"></property-status>
        </div>
     </div>
</div>
