<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">Save Report Template</h2>
    <hr>
</div>

<div class="modal-body">
    Name:<Br>
<input class="form-control input-sm" ng-model="report.name"><Br>
    <div style="margin:0px auto;width:75px">
        <button class=" btn btn-success btn-large btn-block contact-submit" type="button" ng-click="save(false)">Save</button>
    </div>
</div>
