<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">Save Custom Report Template</h2>
    <hr>
</div>

<div class="modal-body">
    Name:<Br>
<input class="form-control input-sm" ng-model="report.name"><Br>

    Share with Organization: <toggle-switch checked="report.share"></toggle-switch>

    <i class="fa fa-info-circle"  style="font-size:12px"
       popover-trigger="'mouseenter'"
       popover-placement="top"
       uib-popover="Turning this on will make this report visible to everyone in your organization. Only the original creators of a shared report and Corporate Managers have the ability to delete and/or update a shared report."
    ></i>&nbsp;

    <Br>

    <div style="margin:0px auto;width:75px">
        <button class=" btn btn-success btn-large btn-block contact-submit" type="button" ng-click="save(false)">Save</button>
    </div>
</div>
