<style>
    .profiletable TD {
        padding: 2px 6px 2px 0px
    }
</style>
<address style="margin-bottom:5px" ng-if="show.address">
    {{property.address}}<br>
    {{property.city}}, {{property.state}}  {{property.zip}} <br>
</address>
<table cellpadding="2" cellspacing="0" class="profiletable">
    <tbody>
    <tr ng-if="show.website && property.website">
        <td colspan="2" style="word-break: break-all;">
            <a href="{{property.website}}" target="_blank">{{property.website.replace("http://",'')}}</a>
        </td>
    </tr>
    <tr ng-if="show.website && !property.website">
        <td>
            <b>Website:</b>
        </td>
        <td>
            N/A
        </td>
    </tr>
    <tr ng-if="show.phone">
        <td>
            <b>Phone:</b>
        </td>
        <td>
            {{property.phone || 'N/A'}}
        </td>
    </tr>
    <tr ng-if="show.email">
        <td>
            <b>Email:</b>
        </td>
        <td style="word-break: break-all;">
            <span ng-if="!property.contactEmail">N/A</span>
            <a href="mailto:{{property.contactEmail}}" ng-if="property.contactEmail">{{property.contactEmail}}</a>
        </td>
    </tr>
    <tr ng-if="show.contact">
        <td>
            <b>Contact:</b>
        </td>
        <td>
            {{property.contactName || 'N/A'}}
        </td>
    </tr>
    <tr ng-if="show.const">
        <td>
            <b>Construction:</b>
        </td>
        <td>
            {{property.constructionType}}
        </td>
    </tr>
    <tr ng-if="show.built">
        <td>
            <b>Year Built:</b>
        </td>
        <td>
            {{property.yearBuilt || 'N/A'}}
        </td>
    </tr>
    <tr ng-if="show.ren">
        <td>
            <b>Renovated:</b>
        </td>
        <td>
            {{property.yearRenovated || 'N/A'}}
        </td>
    </tr>
    <tr ng-if="show.owner">
        <td>
            <b>Owner:</b>
        </td>
        <td>
            {{property.owner}}
        </td>
    </tr>
    <tr ng-if="show.mgmt">
        <td>
            <b>Mgmt:</b>
        </td>
        <td>
            {{property.management}}
        </td>
    </tr>
    <tr ng-if="show.units">
        <td>
            <b>Total Units:</b>
        </td>
        <td>
            {{property.totalUnits || 'N/A'}}
        </td>
    </tr>
    <tr ng-if="show.occ">
        <td>
            <b>Occupancy:</b>
        </td>
        <td>
            {{property.survey.occupancy == null ? "N/A" : property.survey.occupancy + '%'}}
        </td>
    </tr>
    <tr ng-if="show.leased">
        <td>
            <b>Leased:</b>
        </td>
        <td>
            {{property.survey.leased == null ? "N/A" : property.survey.leased + '%'}}
        </td>
    </tr>
    <tr ng-if="show.renewal">
        <td>
            <b>Renewal:</b>
        </td>
        <td>
            {{property.survey.renewal == null ? "N/A" : property.survey.renewal + '%'}}
        </td>
    </tr>
    <tr ng-if="show.traf">
        <td>
            <b>Traffic/Wk:</b>
        </td>
        <td>
            {{property.survey.weeklytraffic == null ? "N/A" : property.survey.weeklytraffic.toString()}}
        </td>
    </tr>
    <tr ng-if="show.lease">
        <td>
            <b>Leases/Wk:</b>
        </td>
        <td>
            {{property.survey.weeklyleases == null ? "N/A" : property.survey.weeklyleases.toString()}}
        </td>
    </tr>
    </tbody></table>