<div class="maingrid wrapper panel" style="overflow-x:auto">
    <div class="header" style="height:46px"></div>
<table class="table table-condensed table-striped table-hover hidden-arrows" style="font-size:9pt">
    <thead>
    <tr>
        <th style="width:25px;" class="hidden-print">

        </th>
        <th>

        </th>
        <th class="sortable" ng-click="toggleSort('name')">
            &nbsp;&nbsp;Name/<Br>Address
            <i ng-show="sort.name == null" class="fa fa-sort"></i>
            <i ng-show="sort.name === true" class="fa fa-sort-down"></i>
            <i ng-show="sort.name === false" class="fa fa-sort-up"></i>
        </th>
        <th style="min-width:65px;text-align:right"  class="sortable" ng-click="toggleSort('occupancy')" ng-if="show.occupancy">
            Occ. %
            <i ng-show="sort.occupancy == null" class="fa fa-sort"></i>
            <i ng-show="sort.occupancy === true" class="fa fa-sort-down"></i>
            <i ng-show="sort.occupancy === false" class="fa fa-sort-up"></i>
        </th>
        <th style="min-width:60px;text-align:right"  class="sortable" ng-click="toggleSort('units')" ng-if="show.units">
            Units
            <i ng-show="sort.units == null" class="fa fa-sort"></i>
            <i ng-show="sort.units === true" class="fa fa-sort-down"></i>
            <i ng-show="sort.units === false" class="fa fa-sort-up"></i>
        </th>
        <th style="min-width:60px;text-align:right"  class="sortable" ng-click="toggleSort('unitPercent')" ng-if="show.unitPercent">
            Unit %
            <i ng-show="sort.unitPercent == null" class="fa fa-sort"></i>
            <i ng-show="sort.unitPercent === true" class="fa fa-sort-down"></i>
            <i ng-show="sort.unitPercent === false" class="fa fa-sort-up"></i>
        </th>
        <th style="min-width:60px;text-align:right" class="sortable" ng-click="toggleSort('sqft')" ng-if="show.sqft">
            Sqft
            <i ng-show="sort.sqft == null" class="fa fa-sort"></i>
            <i ng-show="sort.sqft === true" class="fa fa-sort-down"></i>
            <i ng-show="sort.sqft === false" class="fa fa-sort-up"></i>
        </th>
        <th style="min-width:60px;text-align: right" class="sortable" ng-click="toggleSort('rent')" ng-if="show.rent">
            Rent
            <i ng-show="sort.rent == null" class="fa fa-sort"></i>
            <i ng-show="sort.rent === true" class="fa fa-sort-down"></i>
            <i ng-show="sort.rent === false" class="fa fa-sort-up"></i>
        </th>
        <th style="min-width:70px;text-align: right" class="sortable" ng-click="toggleSort('concessions')" ng-if="show.concessions">
            Concess/&nbsp;<br>12 Mos.
            <i ng-show="sort.concessions == null" class="fa fa-sort"></i>
            <i ng-show="sort.concessions === true" class="fa fa-sort-down"></i>
            <i ng-show="sort.concessions === false" class="fa fa-sort-up"></i>
        </th>
        <th style="min-width:60px;text-align: right" class="sortable" ng-click="toggleSort('ner')" ng-if="show.ner">
            Net Eff.<Br> Rent
            <i ng-show="sort.ner == null" class="fa fa-sort"></i>
            <i ng-show="sort.ner === true" class="fa fa-sort-down"></i>
            <i ng-show="sort.ner === false" class="fa fa-sort-up"></i>
        </th>
        <th style="min-width:60px;text-align: right" class="sortable" ng-click="toggleSort('nersqft')" ng-if="show.nersqft">
            NER/&nbsp;&nbsp;<br>Sqft
            <i ng-show="sort.nersqft == null" class="fa fa-sort"></i>
            <i ng-show="sort.nersqft === true" class="fa fa-sort-down"></i>
            <i ng-show="sort.nersqft === false" class="fa fa-sort-up"></i>
        </th>
        <th>
            &nbsp;
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat-start="comp in comps | orderBy : orderBy">
        <td style="text-align: center"  class="hidden-print">
            <i ng-class="{'fa' : true,  'fa-plus-square-o': !comp.open, 'fa-minus-square-o' : comp.open}" style="cursor:pointer;font-size:18px;padding-top:2px" ng-click="toggleOpen(comp)"></i>
        </td>
        <td  style="text-align:center; width:32px">
            <img ng-src="/components/googleMap/markers/{{comp.number == 0 ? 'apartment-3' : 'number_' + comp.number}}.png" ng-click="toggleOpen(comp)" style="cursor:pointer;">
        </td>
        <td>
            <A href="#/profile/{{comp._id}}">{{comp.name}}</A>
            <i class="fa fa-exclamation-triangle"
               style="color:orange;cursor:pointer;font-size:16px;padding-left:1px"
               ng-if="comp.survey.excluded"
               popover-trigger="mouseenter"
               popover-placement="right"
               popover="This property has some floor plans that have been manually excluded from reporting and dashboard calculations."
                    ></i>
            <i class="fa fa-clock-o danger"
               style="color:red;cursor:pointer;font-size:16px;padding-left:1px"
               ng-if="comp.survey.tier == 'danger'"
               popover-trigger="mouseenter"
               popover-placement="right"
               popover="Property has not been updated in 15+ days"
                    ></i>
            <i class="fa fa-clock-o warning"
               style="color:orange;cursor:pointer;font-size:16px;padding-left:1px"
               ng-if="comp.survey.tier == 'warning'"
               popover-trigger="mouseenter"
               popover-placement="right"
               popover="Property has not been updated in 8+ days"
                    ></i>
            <Br>
            {{comp.address}}
        </td>
        <td style="text-align: right" ng-if="show.occupancy" class="pad">
            {{comp.survey.occupancy == null ? "-" : comp.survey.occupancy + '%'}}
        </td>
        <td style="text-align: right" ng-if="show.units" class="pad">
            {{comp.units}}
        </td>
        <td style="text-align: right" ng-if="show.unitPercent" class="pad">
            100%
        </td>
        <td style="text-align: right" ng-if="show.sqft" class="pad">
            <span ng-style="{'font-style': comp.survey.excluded ? 'italic' : ''}">{{comp.survey.sqft == null ? "-" : comp.survey.sqft}}</span>
        </td>
        <td style="text-align: right" ng-if="show.rent" class="pad">
            <span ng-style="{'font-style': comp.survey.excluded ? 'italic' : ''}">{{comp.survey.rent == null ? "-" : "$" + comp.survey.rent}}</span>
        </td>
        <td style="text-align: right" ng-if="show.concessions"  class="pad">
            <span ng-style="{'font-style': comp.survey.excluded ? 'italic' : ''}">{{comp.survey.concessions == null ? "-" : "$" + comp.survey.concessions}}</span>
        </td>
        <td style="text-align: right" ng-if="show.ner" class="pad">
            <span ng-style="{'font-style': comp.survey.excluded ? 'italic' : ''}">{{comp.survey.ner == null ? "-" : "$" + comp.survey.ner}}</span>
        </td>
        <td style="text-align: right" ng-if="show.nersqft" class="pad">
            <span ng-style="{'font-style': comp.survey.excluded ? 'italic' : ''}">{{comp.survey.nersqft == null ? "-" : "$" + (comp.survey.nersqft  | number : 2)}}</span>
        </td>
        <td style="text-align:center" class="hidden-print">
            <a href ng-click="marketSurvey(comp._id)" ng-if="canSurvey"><i class="fa fa-edit" style="font-size:18px;padding-top:12px"
                                                         tooltip-placement="left"
                                                         tooltip="{{surveyTooltip(comp)}}"

                    ></i></a>
        </td>
    </tr>
    <tr ng-if="comp.open" ng-repeat-start="row in comp.bedrooms | orderBy : orderBy | filter : {number: '!!'}">
        <td style="text-align: center" class="hidden-print"></td>
        <td  style="text-align:center; width:32px">
            <i ng-class="{'fa' : true,  'fa-plus-square-o': !row.open, 'fa-minus-square-o' : row.open}" style="cursor:pointer;font-size:18px;padding-top:2px" ng-click="toggleOpen(row)"></i>
        </td>
        <td>
            {{row.name}}
            <i class="fa fa-exclamation-triangle"
               style="color:orange;cursor:pointer;font-size:12px;padding-left:1px"
               ng-if="row.excluded"
               popover-trigger="mouseenter"
               popover-placement="right"
               popover="These bedrooms have some floor plans that have been manually excluded from reporting and dashboard calculations."
                    ></i>
        </td>
        <td style="text-align: right" ng-if="show.occupancy" class="pad">
            -
        </td>
        <td style="text-align: right" ng-if="show.units" class="pad">
            {{row.units}}
        </td>
        <td style="text-align: right" ng-if="show.unitPercent" class="pad">
            {{row.unitPercent | number : 1 }}%
        </td>
        <td style="text-align: right" ng-if="show.sqft" class="pad">
            <span ng-style="{'font-style': row.excluded ? 'italic' : ''}">{{row.sqft == null ? "-" : row.sqft}}</span>
        </td>
        <td style="text-align: right" ng-if="show.rent" class="pad">
            <span ng-style="{'font-style': row.excluded ? 'italic' : ''}">{{row.rent == null ? "-" : "$" + row.rent}}</span>
        </td>
        <td style="text-align: right" ng-if="show.concessions" class="pad">
            <span ng-style="{'font-style': row.excluded ? 'italic' : ''}">{{row.concessions == null ? "-" : "$" + row.concessions}}</span>
        </td>
        <td style="text-align: right" ng-if="show.ner" class="pad">
            <span ng-style="{'font-style': row.excluded ? 'italic' : ''}">{{row.ner == null ? "-" : "$" + row.ner}}</span>
        </td>
        <td style="text-align: right" ng-if="show.nersqft" class="pad">
            <span ng-style="{'font-style': row.excluded ? 'italic' : ''}">{{row.nersqft == null ? "-" : "$" + (row.nersqft | number : 2)}}</span>
        </td>
        <td style="text-align:center" class="hidden-print">

        </td>
    </tr>
    <tr ng-repeat-end ng-if="row.open && comp.open" ng-repeat="fp in comp.survey.floorplans | orderBy : orderBy | filter : {bedrooms : row.bedrooms}">
        <td style="text-align: center"></td>
        <td  style="text-align:center; width:32px">

        </td>
        <td>
            {{fp.name}}
            <i class="fa fa-exclamation-triangle"
               style="color:orange;cursor:pointer;font-size:12px;padding-left:1px"
               ng-if="fp.excluded"
               popover-trigger="mouseenter"
               popover-placement="right"
               popover="This floor plan has been manually excluded from reporting and dashboard calculations."
                    ></i>
        </td>
        <td style="text-align: right" ng-if="show.occupancy" class="pad">
            -
        </td>
        <td style="text-align: right" ng-if="show.units" class="pad">
            {{fp.units}}
        </td>
        <td style="text-align: right" ng-if="show.unitPercent" class="pad">
            {{fp.unitPercent | number : 1 }}%
        </td>
        <td style="text-align: right" ng-if="show.sqft" class="pad">
            <span ng-style="{'font-style': fp.excluded ? 'italic' : ''}">{{fp.sqft == null ? "-" : fp.sqft}}</span>
        </td>
        <td style="text-align: right" ng-if="show.rent" class="pad">
            <span ng-style="{'font-style': fp.excluded ? 'italic' : ''}">{{fp.rent == null ? "-" : "$" + fp.rent}}</span>
        </td>
        <td style="text-align: right" ng-if="show.concessions" class="pad">
            <span ng-style="{'font-style': fp.excluded ? 'italic' : ''}">{{fp.concessions == null ? "-" : "$" + fp.concessions}}</span>
        </td>
        <td style="text-align: right" ng-if="show.ner" class="pad">
            <span ng-style="{'font-style': fp.excluded ? 'italic' : ''}">{{fp.ner == null ? "-" : "$" + fp.ner}}</span>
        </td>
        <td style="text-align: right" ng-if="show.nersqft" class="pad">
            <span ng-style="{'font-style': fp.excluded ? 'italic' : ''}">{{fp.nersqft == null ? "-" : "$" + (fp.nersqft | number : 2)}}</span>
        </td>
        <td style="text-align:center" class="hidden-print">

        </td>
    </tr>
    <tr ng-repeat-end></tr>
    </tbody>
</table>
    </div>