<div class="maingrid wrapper panel" style="overflow-x:auto">
<div class="header" style="height:46px"></div>
<table class="table table-condensed table-striped table-hover hidden-arrows" style="font-size:9pt">
    <tbody>
    <tr class="thead" style="height:44px">
        <th style="min-width:40px;" class="center">
            Type
        </th>
        <th  style="min-width:100px" class="sortable" ng-click="toggleSort('description')" ng-if="show.description">
            Description
            <i ng-show="sort.description == null" class="fa fa-sort"></i>
            <i ng-show="sort.description === true" class="fa fa-sort-down"></i>
            <i ng-show="sort.description === false" class="fa fa-sort-up"></i>
        </th>
        <th style="min-width:60px;text-align:right"  class="sortable" ng-click="toggleSort('units')" ng-if="show.units">
            Units
            <i ng-show="sort.units == null" class="fa fa-sort"></i>
            <i ng-show="sort.units === true" class="fa fa-sort-down"></i>
            <i ng-show="sort.units === false" class="fa fa-sort-up"></i>
        </th>
        <th style="min-width:60px;text-align:right"  class="sortable" ng-click="toggleSort('unitPercent')" ng-if="show.unitPercent">
            Unit %
            <i ng-show="sort.unitPercent == null" class="fa fa-sort"></i>
            <i ng-show="sort.unitPercent === true" class="fa fa-sort-down"></i>
            <i ng-show="sort.unitPercent === false" class="fa fa-sort-up"></i>
        </th>
        <th style="min-width:60px;text-align:right" class="sortable" ng-click="toggleSort('sqft')" ng-if="show.sqft">
            Sqft
            <i ng-show="sort.sqft == null" class="fa fa-sort"></i>
            <i ng-show="sort.sqft === true" class="fa fa-sort-down"></i>
            <i ng-show="sort.sqft === false" class="fa fa-sort-up"></i>
        </th>
        <th style="min-width:60px;text-align: right" class="sortable" ng-click="toggleSort('rent')" ng-if="show.rent">
            Rent
            <i ng-show="sort.rent == null" class="fa fa-sort"></i>
            <i ng-show="sort.rent === true" class="fa fa-sort-down"></i>
            <i ng-show="sort.rent === false" class="fa fa-sort-up"></i>
        </th>
        <th style="min-width:60px;text-align: right" class="sortable" ng-click="toggleSort('mersqft')" ng-if="show.mersqft">
            Rent/&nbsp;&nbsp;<br>Sqft
            <i ng-show="sort.mersqft == null" class="fa fa-sort"></i>
            <i ng-show="sort.mersqft === true" class="fa fa-sort-down"></i>
            <i ng-show="sort.mersqft === false" class="fa fa-sort-up"></i>
        </th>
        <th style="min-width:75px;text-align: right" class="sortable" ng-click="toggleSort('concessions')" ng-if="show.concessions">
            Total&nbsp;&nbsp;&nbsp;<Br>Concess.
            <i ng-show="sort.concessions == null" class="fa fa-sort"></i>
            <i ng-show="sort.concessions === true" class="fa fa-sort-down"></i>
            <i ng-show="sort.concessions === false" class="fa fa-sort-up"></i>
        </th>
        <th style="min-width:60px;text-align: right" class="sortable" ng-click="toggleSort('runrate')" ng-if="show.runrate">
            Recur.&nbsp;&nbsp;<span class="hidden-print">&nbsp;&nbsp;</span><Br>Rent

            <i class="fa fa-info-circle hidden-print" style="font-size:12px"
               popover-trigger="'mouseenter'"
               popover-placement="bottom"
               uib-popover="Recurring Rent is market rent, minus recurring concessions, and excluding upfront concessions."
            ></i>

            <i ng-show="sort.runrate == null" class="fa fa-sort"></i>
            <i ng-show="sort.runrate === true" class="fa fa-sort-down"></i>
            <i ng-show="sort.runrate === false" class="fa fa-sort-up"></i>
        </th>
        <th style="min-width:100px;text-align: right" class="sortable" ng-click="toggleSort('runratesqft')" ng-if="show.runratesqft">
            Recur. Rent/&nbsp;&nbsp;<br>Sqft
            <i class="fa fa-info-circle hidden-print" style="font-size:12px"
               popover-trigger="'mouseenter'"
               popover-placement="bottom"
               uib-popover="Recurring Rent is market rent, minus recurring concessions, and excluding upfront concessions."
            ></i>

            <i ng-show="sort.runratesqft == null" class="fa fa-sort"></i>
            <i ng-show="sort.runratesqft === true" class="fa fa-sort-down"></i>
            <i ng-show="sort.runratesqft === false" class="fa fa-sort-up"></i>
        </th>

        <th style="min-width:70px;text-align: right" class="sortable" ng-click="toggleSort('ner')" ng-if="show.ner">
            Net Eff.&nbsp;&nbsp;<Br> Rent
            <i ng-show="sort.ner == null" class="fa fa-sort"></i>
            <i ng-show="sort.ner === true" class="fa fa-sort-down"></i>
            <i ng-show="sort.ner === false" class="fa fa-sort-up"></i>
        </th>
        <th style="min-width:60px;text-align: right" class="sortable" ng-click="toggleSort('nersqft')" ng-if="show.nersqft">
            NER/&nbsp;&nbsp;<br>Sqft
            <i ng-show="sort.nersqft == null" class="fa fa-sort"></i>
            <i ng-show="sort.nersqft === true" class="fa fa-sort-down"></i>
            <i ng-show="sort.nersqft === false" class="fa fa-sort-up"></i>
        </th>
    </tr>

        <tr ng-repeat-start="(i, bedroom) in comp.survey.bedrooms" ng-if="false">

        </tr>

        <tr ng-repeat="fp in comp.survey.floorplans | orderBy : [orderBy, 'bedrooms','bathrooms', 'sqft','description','units'] | filter : {bedrooms : i}"  ng-class="{'missing-floorplan': fp.excluded || fp.missing}">
            <td style="text-align:center;">
                {{fp.bedrooms}}x{{fp.bathrooms}}
            </td>
            <td ng-if="show.description">
                {{fp.description}}
                <i class="fa fa-eye-slash blue"
                   style="cursor:pointer;font-size:14px;padding-left:2px"
                   ng-if="fp.excluded"
                   popover-trigger="'mouseenter'"
                   popover-placement="right"
                   popover-append-to-body="true"
                   popover-class="popover-small"
                   uib-popover-html="'<b>Perspective Applied:</b> <Br>' + appliedPerspective.name + '<Br><BR>This floor plan is not part of the perspective and has been excluded from calculations.'"
                ></i>
                <i class="fa fa-warning"
                   style="cursor:pointer;font-size:12px;padding-left:2px;color:orange"
                   ng-if="fp.missing"
                   popover-trigger="'mouseenter'"
                   popover-placement="right"
                   popover-append-to-body="true"
                   popover-class="popover-small"
                   uib-popover-html="'<b class=\'show mb-10\'>Missing Rent Data:</b>This floor plan has been excluded from reporting and dashboard calculations due to missing rent data.'"
                ></i>
            </td>
            <td style="text-align: right" class="pad" ng-if="show.units">
                {{fp.units == null ? "-" : fp.units}}
            </td>
            <td style="text-align: right" class="pad" ng-if="show.unitPercent">
                {{fp.units == null ? "-" : (fp.unitPercent | number : 1) + "%"}}
            </td>
            <td style="text-align: right" class="pad" ng-if="show.sqft">
                {{fp.sqft == null ? "-" : fp.sqft}}
            </td>
            <td style="text-align: right" class="pad" ng-if="show.rent">
                {{fp.rent == null ? "-" : "$" + fp.rent}}
            </td>
            <td style="text-align: right" class="pad" ng-if="show.mersqft">
                {{fp.mersqft == null ? "-" : "$" + (fp.mersqft | number : 2)}}
            </td>
            <td style="text-align: right" class="pad" ng-if="show.concessions">
                {{fp.concessions == null ? "-" : "$" + fp.concessions}}
            </td>
            <td style="text-align: right" class="pad" ng-if="show.runrate">
                {{fp.runrate == null ? "-" : "$" + fp.runrate}}
            </td>
            <td style="text-align: right" class="pad" ng-if="show.runratesqft">
                {{fp.runratesqft == null ? "-" : "$" + (fp.runratesqft | number : 2)}}
            </td>
            <td style="text-align: right" class="pad" ng-if="show.ner">
                {{fp.ner == null ? "-" : "$" + fp.ner}}
            </td>
            <td style="text-align: right" class="pad" ng-if="show.nersqft">
                {{fp.nersqft == null ? "-" : "$" + (fp.nersqft | number : 2)}}
            </td>

        </tr>
        <tr class="subtotal" style="background-color:white !important">
            <td colspan="{{show.description ? '2' : '1'}}">

            </td>
            <td style="text-align: right" class="pad" ng-if="show.units">
                {{bedroom.totUnits == null ? "-" : bedroom.totUnits}}
            </td>
            <td style="text-align: right" class="pad" ng-if="show.unitPercent">
                {{bedroom.totUnits == null ? "-" : (bedroom.totUnits / comp.survey.totUnits * 100 | number : 1) + "%"}}
            </td>
            <td style="text-align: right" class="pad" ng-if="show.sqft">
                {{bedroom.sqft == null ? "-" : bedroom.sqft}}
            </td>
            <td style="text-align: right" class="pad" ng-if="show.rent">
                {{bedroom.rent == null ? "-" : "$" + bedroom.rent}}
            </td>
            <td style="text-align: right" class="pad" ng-if="show.mersqft">
                {{bedroom.mersqft == null ? "-" : "$" + (bedroom.mersqft | number : 2)}}
            </td>
            <td style="text-align: right" class="pad" ng-if="show.concessions">
                {{bedroom.concessions == null ? "-" : "$" + bedroom.concessions}}
            </td>
            <td style="text-align: right" class="pad" ng-if="show.runrate">
                {{bedroom.runrate == null ? "-" : "$" + bedroom.runrate}}
            </td>
            <td style="text-align: right" class="pad" ng-if="show.runratesqft">
                {{bedroom.runratesqft == null ? "-" : "$" + (bedroom.runratesqft | number : 2)}}
            </td>
            <td style="text-align: right" class="pad" ng-if="show.ner">
                {{bedroom.ner == null ? "-" : "$" + bedroom.ner}}
            </td>
            <td style="text-align: right" class="pad" ng-if="show.nersqft">
                {{bedroom.nersqft == null ? "-" : "$" + (bedroom.nersqft | number : 2)}}
            </td>

        </tr>
        <tr ng-repeat-end ng-if="false">

        </tr>
    </tbody>
    <tr class="tfoot">
        <td colspan="{{show.description ? '2' : '1'}}">
            Totals / Averages
            <i class="fa fa-exclamation-triangle warning"
               style="cursor:pointer;font-size:14px;padding-left:2px;color:orange"
               ng-if="comp.needsSurvey"
               popover-trigger="'mouseenter'"
               popover-placement="right"
               popover-append-to-body="true"
               uib-popover="This property has recent changes to its floor plans that aren't visible. To see latest floor plans, please do a new property survey."
            ></i>
            <i class="fa fa-chain-broken blue"
               style="cursor:pointer;font-size:12px;padding-left:2px"
               ng-if="comp.survey.excluded"
               popover-trigger="'mouseenter'"
               popover-placement="right"
               popover-append-to-body="true"
               uib-popover="This property has some floor plans that have been excluded from reporting and dashboard calculations. This is due to manually excluding floor plans or missing rent data."
                    ></i>
        </td>
        <td style="text-align: right" ng-if="show.units" class="pad">
            {{comp.survey.totUnits}}
        </td>
        <td style="text-align: right" class="pad" ng-if="show.unitPercent">
            100%
        </td>
        <td style="text-align: right" class="pad" ng-if="show.sqft">
            <span ng-style="{'font-style': comp.survey.excluded ? 'italic' : ''}">{{comp.survey.sqft == null ? "-" : comp.survey.sqft}}</span>
        </td>
        <td style="text-align: right" class="pad" ng-if="show.rent">
            <span ng-style="{'font-style': comp.survey.excluded ? 'italic' : ''}">{{comp.survey.rent == null ? "-" : "$" + comp.survey.rent}}</span>
        </td>
        <td style="text-align: right" class="pad" ng-if="show.mersqft">
            <span ng-style="{'font-style': comp.survey.excluded ? 'italic' : ''}">{{comp.survey.mersqft == null ? "-" : "$" + (comp.survey.mersqft | number : 2)}}</span>
        </td>
        <td style="text-align: right" class="pad" ng-if="show.concessions">
            <span ng-style="{'font-style': comp.survey.excluded ? 'italic' : ''}">{{comp.survey.concessions == null ? "-" : "$" + comp.survey.concessions}}</span>
        </td>
        <td style="text-align: right" class="pad" ng-if="show.runrate">
            <span ng-style="{'font-style': comp.survey.excluded ? 'italic' : ''}">{{comp.survey.runrate == null ? "-" : "$" + comp.survey.runrate}}</span>
        </td>
        <td style="text-align: right" class="pad" ng-if="show.runratesqft">
            <span ng-style="{'font-style': comp.survey.excluded ? 'italic' : ''}">{{comp.survey.runratesqft == null ? "-" : "$" + (comp.survey.runratesqft | number : 2)}}</span>
        </td>
        <td style="text-align: right" class="pad" ng-if="show.ner">
            <span ng-style="{'font-style': comp.survey.excluded ? 'italic' : ''}">{{comp.survey.ner == null ? "-" : "$" + comp.survey.ner}}</span>
        </td>
        <td style="text-align: right" class="pad" ng-if="show.nersqft">
            <span ng-style="{'font-style': comp.survey.excluded ? 'italic' : ''}">{{comp.survey.nersqft == null ? "-" : "$" + (comp.survey.nersqft | number : 2)}}</span>
        </td>

    </tr>

</table>
</div>
