<div class="alert alert-warning" role="alert" ng-if="!data || data.length == 0">
    There is currently no data avaiable.
</div>

<div class="maingrid wrapper panel" style="overflow-x:auto" ng-if="data && data.length > 0">
    <div class="header" style="height:47px"></div>
    <table class="table table-condensed table-striped table-hover" style="font-size:9pt">
    <tbody>
    <tr style="height:46px" class="thead">
        <th class="center">
            Date
        </th>
        <th class="center" ng-if="columns.indexOf('occupancy') > -1">
            Occupancy
        </th>
        <th class="center" ng-if="columns.indexOf('traffic') > -1">
            Traffic / Week
        </th>

        <th class="center" ng-if="columns.indexOf('leases') > -1">
            Leases / Week
        </th>

        <th class="center" ng-if="columns.indexOf('ner') > -1">
            Entire Property
        </th>

        <th class="center" ng-repeat="b in bedrooms">
            {{b}} Bedrooms
        </th>
    </tr>
    <tr ng-repeat="item in data">
        <td class="center">
          {{item.d | date: 'MM/dd/yyyy'}} <i class="fa fa-edit" ng-if="survey" ng-click="marketsurvey(propertyid,item.surveyid)" style="cursor:pointer" tooltip="Edit this Survey"></i>
        </td>
        <td class="center" ng-if="columns.indexOf('occupancy') > -1">
            {{item.occ| number : 1}}%
        </td>
        <td class="center" ng-if="columns.indexOf('traffic') > -1">
            {{item.traffic| number : 0}}
        </td>
        <td class="center" ng-if="columns.indexOf('leases') > -1">
            {{item.leases| number : 0}}
        </td>
        <td class="center" ng-if="columns.indexOf('ner') > -1">
            ${{item.ner | number : 0}}
        </td>

        <td class="center" ng-repeat="b in bedrooms">
            ${{item[b] | number : 0}}
        </td>
    </tr>
    </tbody>
</table>
</div>
