.maingrid.wrapper.panel .subtotal TD,
.maingrid.wrapper.panel .subtotal TD SPAN{
    color:black !important;
    font-weight: bold !important;
}

.fp-header  {
    border-top:0px !important;
    padding-top:5px !important;
}

.subject td {
    font-weight: bold !important;
    color:#4460a9 !important;
}

.maingrid.wrapper.panel .subtotal TD  {
    padding-bottom:10px !important;
}

.maingrid.wrapper.panel .subtotal-padding TD {
    padding-bottom:25px !important;
}

.maingrid.wrapper.panel .danger,
.subject td .danger
{
    color:red !important;
}


@media print {

    .report .panel-info {
        width: 1132px;
    }

    h4 {color:#4460a9 !important}

    .report .maingrid .header {
        height:57px !important;
    }

    TD .black {
        color: #000 !important;
    }

    .fa-check:before {
        color: #1E90FF !important;
    }

    *, :after, :before {
        color:inherit !important;
    }

    .report .maingrid.wrapper.panel .subtotal TD,
    .report .maingrid.wrapper.panel .subtotal TD SPAN{
        color:black !important;
        font-weight: bold !important;
    }

    .maingrid.wrapper.panel .danger{
        color:red !important;
    }
}

.break2
{
    break-before: always !important;
    page-break-before: always !important;
    page-break-inside: avoid !important;;
    -webkit-region-break-inside: avoid;
    -webkit-region-break-before: always !important;
}

.table-comps .hidden-report {
    display:none;
}

.col-md-4 .col-sm-5 .col-lg-3 {
    position: relative;
}