$neon-green-color: #30c827;
$neon-blue-color: #1e90ff;

$light-green-color:#e8f8ed;
$light-grey-color: #f0f0f0;
$light-red-color: #ffe1e1;
$light-orange-color: #ffe5cb;

$white-color:#ffffff;
$black-color: #000000;
$green-color: #70b760;
$blue-color: #4460A9;
$purple-color: #7e91c2;
$grey-color: #ccc;
$red-color: #d92222;
$orange-color: #ffa319;