/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; background-color: #f0f0f0}
a {
  color: #337ab7;
  /*font-size: 90%;*/
  text-decoration: none;
}

.snack-bar-error {
  background-color:#f44336;
}

.snack-bar-success {
  background-color:rgb(76, 175, 80)
}

.snack-bar-warning {
  background-color:rgb(255, 152, 0)
}

.mat-h2 mat-icon {
  vertical-align: sub;
}

.mat-card-header-text {
  margin: 0 !important;
}


.mat-raised-button.mat-primary {
  background-color: #1E90FF;
}

.mat-card-header {
   border-bottom: 1px solid #eeeeee;
   margin-bottom: 15px;
 }
