/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; background-color: #f0f0f0}
a {
  color: #337ab7;
  /*font-size: 90%;*/
  text-decoration: none;
}

.snack-bar-error {
  background-image: none !important;
  background-color: #ffe1e1;
  border: 1px solid #f33 !important;
  color: #f33;
  font-size: 13px;
  font-weight: 400;
  white-space: pre-wrap;
}

.snack-bar-success {
  background-image: none !important;
  background-color: #e8f8ed;
  border: 1px solid #70b760 !important;
  color: #70b760;
  font-size: 13px;
  font-weight: 400;
  white-space: pre-wrap;
}

.snack-bar-warning {
  background-image: none !important;
  background-color: #ffe5cb;
  border: 1px solid #f90 !important;
  color: #f90;
  font-size: 13px;
  font-weight: 400;
  white-space: pre-wrap
}

.mat-card-header-text {
  margin: 0 !important;
}


.mat-raised-button.mat-primary {
  background-color: #1E90FF;
}

.mat-card-header {
   border-bottom: 1px solid #eeeeee;
   margin-bottom: 15px;
 }

.fill-space {
  flex: 1 1 auto;
}

.mat-checkbox-layout {
  white-space: normal !important;
}

.mat-radio-label {
  white-space: normal !important;
}


.mat-menu-item {
  line-height: 40px !important;
  height: 40px !important;
}
