<i class="fa fa-eye-slash"
   style="cursor:pointer;font-size:16px;padding-left:4px;{{styles}}"
   ng-if="appliedPerspective && (excludedList | json) !== '{}'"
   popover-trigger="'outsideClick'"
   popover-placement="right-top"
   popover-class="{{classes}} ml-15 popover-small"
   uib-popover-template="hintTemplate"
   popover-append-to-body="true"
   popover-animation="false"
   popover-is-open="options.isOpen"
   ng-mouseenter="openPopup($event)"
></i>

<i class="fa fa-warning"
   style="cursor:pointer;color:orange;font-size:14px;padding-left:4px;{{styles}}"
   ng-if="!appliedPerspective && (excludedList | json) !== '{}'"
   popover-trigger="'outsideClick'"
   popover-placement="right-top"
   popover-class="{{classes}} ml-15 popover-small"
   uib-popover-template="hintTemplate"
   popover-append-to-body="true"
   popover-animation="false"
   popover-is-open="options.isOpen"
   ng-mouseenter="openPopup($event)"
></i>

