<Div>
    <div ng-if="appliedPerspective">
        <b>Perspective Applied:</b><Br>
        <a style="font-size: 12px;" class="mb-10 show" href="/#/perspectives?prId={{propertyId}}&pId={{appliedPerspective.id}}" target="_blank">{{appliedPerspective.name}}</a>
        <p>Some floor plans are not part of the perspective and has been excluded from calculations.</p>
        <a style="font-size: 12px;" href ng-click="excludedFloorplans(propertyId, appliedPerspective, excludedList);close();">More Info</a>
    </div>

    <div ng-if="!appliedPerspective">
        <b style="font-size: 12px;" class="mb-10 show">Missing Rent Data:</b>
        Some property floor plans are missing rent data and are being excluded from calculations. Please complete a new property survey to get accurate calculations.<Br><Br>
        <A style="font-size: 12px;" href ng-click="excludedFloorplans(propertyId, appliedPerspective, excludedList);close();">More Info</A>
    </div>
</Div>
