/* General */
body {
    background-color:#f5f5f5
}
h2,h3 {
    margin-top:0
}

.fa {
    color: #1E90FF
}

.fa-2x {
    font-size:1.5em
}

.nav-pills>li.active>a {
    background-color: #1E90FF !important;
}

a {
    font-size: 14px;
}

a:hover {
    text-decoration: none !important;
}

a:focus {
    text-decoration: none !important;
}

.btn-primary .fa {
    color:white
}

span.success {color:green}
span.danger {color:pink}
span.warning {color:orange}
td.center,th.center {text-align:center}

.table-hover>tbody>tr:hover {
    background-color:#d9edf7
}

.row {
    margin-right:-10px;
    margin-left:-10px
}


.input-sm, .dropdown-menu, .btn, .modal-content  {
    border-radius: 2px !important;
}

.nav-pills>li>a {
    border-radius: 0px !important;
}

.input-sm {
    font-size:13px
}

.hidden-print-block {
    display:block;
}

@media print {
    body {
        width:1210px;
    }

    .left-print {
        float:left;
        width:25%;
    }
    .right-print {
        float:left;
        width:75%;
        max-width:780px;overflow-x:hidden;
    }
    .row {
        margin-left:-15px !important;
        margin-right:-15px !important;
    }

    .hidden-print-block {
        display:none;
    }

}

.dropdown-menu-left::before, .search .dropdown-menu::before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu-left::after, .search .dropdown-menu::after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
}

.dropdown-menu-right::before {
    position: absolute;
    top: -7px;
    right: 19px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu-right::after {
    position: absolute;
    top: -6px;
    right: 20px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
}

.skinny::before {
   right: 3px;
}

.skinny::after {
    right: 4px;
}


.panel, .panel-body {
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
    box-shadow: 0 0px 0px rgba(0,0,0,0);
}

.panel-heading {
    color: #4460a9 !important;
    font-size : 18px !important;
    font-weight : bold !important;
    background-color:white !important;
    border-bottom:0px !important;
    padding-left:0 !important;
}

.panel-info {
    border: 1px solid #ccc !important;
    padding: 0px 10px 10px 15px;
    border-radius: 0px;
    border-bottom: 2px solid #ccc !important;
}

.panel-body {
    padding: 0px !important;
}

.panel-body hr {
    margin-top: 2px !important;
    margin-bottom: 15px !important;
}

.panel-info .panel-heading {
    border-left:4px solid #4460a9;
    margin-left:-16px;
    margin-top:4px;
    padding-left:15px !important;
    border-right: 1px solid white !important;
    border-bottom: 1px solid white !important;
    border-top: 1px solid white !important;
}


.btn-primary {
    background-color: #1E90FF;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    background-color: #4ba6ff !important;
}

.modal-title {
    font-size: 20px;
    font-weight: bold;
}
.modal-header {
    padding: 14px 14px 2px 14px;
    border-bottom:0px
}
.modal-body {
    padding: 14px 14px 14px 20px;
}

.mainheader > hr {
    border-color:#ddd;
    margin-top:5px
}

.mainheader {
    color: #4460a9;
    margin-bottom: 0px !important;
}

.popover {
    min-width:200px
}

.btn .caret {
    color: #1E90FF !important;
}

select {
    padding-right: 0px !important;
}

.has-feedback .form-control {
    padding-right: 25px
}

.dropdown-menu>li>a {
    padding: 3px 13px;
}