/* General */
h2,h3 {
    margin-top:0
}

.fa {
    color: #1E90FF
}

.btn-primary .fa {
    color:white
}

span.success {color:green}
span.danger {color:pink}
span.warning {color:orange}
td.center,th.center {text-align:center}

.row {
    margin-right:-10px;
    margin-left:-10px
}

.input-sm {
    border-radius: 2px;
}
.dropdown-menu {
    border-radius: 2px;
}
@media print {
    @page {

    }

    body {
        width:1210px;
    }

    .left-print {
        float:left;
        width:25%;
    }
    .right-print {
        float:left;
        width:75%;
    }

}
/* Drodpwn */

.search .dropdown-menu>li>a {
    padding:3px 10px;
    cursor: pointer
}


.dropdown-menu-left::before, .search .dropdown-menu::before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu-left::after, .search .dropdown-menu::after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
}

.dropdown-menu-right::before {
    position: absolute;
    top: -7px;
    right: 19px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu-right::after {
    position: absolute;
    top: -6px;
    right: 20px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
}

.skinny::before {
   right: 3px;
}

.skinny::after {
    right: 4px;
}

/* nav bar */
.nav-bar-2 {
    margin-top: -35px;
    margin-bottom:0px
}

.navbar {
    border-radius: 0;
    border:0;
}

.multi-col-list .fa {
    width:16px;
    text-align: center;
}

.navbar-default .navbar-nav>li>a:hover {
    background-color: #eee;
}

.multi-col-list li {
    margin-left:-35px;
    display: block;
    padding: 3px 3px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.multi-col-list li a {
    text-decoration: none;
    color: #333;
}

.multi-col-list>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.multi-col-list>li>a {
    display: block;
    padding: 3px 3px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

@media all and (min-width: 0px) and (max-width: 767px) {
    .nav-bar-2 {
        margin-top: 0px
    }

    .nav>li {
        float:left
    }
}



.panel, .panel-body {
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
    box-shadow: 0 0px 0px rgba(0,0,0,0);
}

.panel-heading {
    color: #333 !important;
    font-size : 18px !important;
    font-weight : bold !important;
    background-color:white !important;
    border-bottom:0px !important;
    padding-left:0 !important;
}

.panel-info {
    border: 0px !important;
}

.panel-body {
    padding: 0px !important;
}


@media (max-width: 767px) and (min-width: 0px) {
    .nav-bar-2 {
        margin-top: -20px;
    }
}

@media (min-width: 767px) {
    .navbar-default {
        background-color: #3f3f3f;
        border-color: #696969;
    }

    .navbar-default .navbar-brand {
        color: #ffffff;
    }

    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
        color: #ffffff;
    }

    .navbar-default .navbar-text {
        color: #ffffff;
    }

    .navbar-default .navbar-nav > li > a {
        color: #ffffff;
    }

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #ffffff;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        color: #ffffff;
        background-color: #696969;
    }

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        color: #ffffff;
        background-color: #696969;
    }

    .navbar-default .navbar-toggle {
        border-color: #696969;
    }

    .navbar-default .navbar-nav>li>a:hover {
        background-color:#696969
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #696969;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #ffffff;
    }

    .navbar-default .navbar-link {
        color: #ffffff;
    }

    .navbar-default .navbar-link:hover {
        color: #ffffff;
    }
}


.btn-primary {
    background-color: #1E90FF;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    background-color: #4ba6ff !important;
}

.modal-title {
    font-size: 20px;
    font-weight: bold;
}
.modal-header {
    padding: 14px 14px 2px 14px;
    border-bottom:0px
}
.modal-body {
    padding: 14px 14px 14px 20px;
}

/*side menu*/
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: whitesmoke;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #333;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #333;
    background: #ccc
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-nav li a.active  {
    color:white !important;
    background-color: #2288ff !important;
}

#wrapper .btn-default:focus {
    background-color:white;

}
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

}
@media(max-width:768px) {
    .hasSidenav {
        margin-left: 20px !important;
    }
}