<div  style="width:315px">
    <div style="float:left;border-right:1px solid #ccc;padding-right:5px">
        <b style="margin-left:10px">Account</b>
        <ul class="multi-col-list">
            <li><a href ng-click="updateProfile()"><i class="fa fa-user"></i> Update Profile</a></li>
            <li><a href ng-click="updatePassword()"><i class="fa fa-key"></i> Update Password</a></li>
            <li><a href ng-click="contact()"><i class="fa fa-envelope"></i> Contact Us</a></li>
            <li><a href ng-click="logoff()"><i class="fa fa-power-off"></i> Log Off</a></li>
        </ul>
    </div>
    <div style="float:left;">
        <b style="margin-left:10px">Settings</b>
        <ul class="multi-col-list">
            <li ng-show="$root.me.permissions.indexOf('Users') > -1"><a href="#/manageusers"><i class="fa fa-users"></i> Manage Users</a></li>
            <li ng-show="$root.me.permissions.indexOf('Properties') > -1"><a href="#/properties"><i class="fa fa-building"></i> Manage Properties</a></li>
            <li ng-show="$root.me.permissions.indexOf('History') > -1"><a href="#/history"><i class="fa fa-history"></i> Activity History</a></li>
            <li ng-show="!$root.me.settings.hideUnlinked"><a href ng-click="toggleUnlniked()"><i class="fa fa-chain-broken"></i> Hide Excluded</a></li>
            <li ng-show="$root.me.settings.hideUnlinked"><a href ng-click="toggleUnlniked()"><i class="fa fa-link"></i> Show Excluded</a></li>
        </ul>
    </div>
    <Br clear="all">
</div>